<div class="PNF-header-image">
            <img alt="" class="img-fluid" src="/assets/img/404.png">
</div>
<section class="page-section-ptb">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <span>Error 404</span>
            <h3 class="text-center">Page Not Found</h3>
          </div>
        </div>
      </div>      
    </div>
</section>