<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Roles', 'List']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

    <!--<sa-stats></sa-stats>-->
  </div>

  <sa-widgets-grid>


    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">

          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <button routerLink="/roles/createnew/-1" class="btn pull-right addButton">+ Add New</button>
          </header>
          <div>
            <div class="widget-body no-padding">

              <div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                <input id="user_filter" matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Role Name">
              </div>
              <div class="table-user role-container mat-elevation-z8">
                <div class="role-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="role-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div class="role-table-container">
                  <table mat-table [dataSource]="dataSource" matSort style="width:100%;">

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="userTableID"> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="userTableUserName" class="width125"> Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.Name}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="SN">
                      <th mat-header-cell *matHeaderCellDef id="sn" style="width: 80px;"> S. No </th>
                      <td mat-cell *matCellDef="let row ; let i = index;"> {{pageIndex+i+1}} </td>
                    </ng-container>


                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef id="userTableActionButton" style="width:100px;">Action</th>
                      <td mat-cell *matCellDef="let row" >
                        <a title='Edit' *ngIf="checkRole(row._id)"  id="user_edit" class="text-primary" routerLink="/roles/createnew/{{row._id}}" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>&nbsp;{{checkRole(row._id) ? '|' : ''}}
                        <a title='Delete' *ngIf="checkRole(row._id)"  id="user_delete" id="userTableAction" class="text-danger" (click)="delete(row._id)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                      </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                <mat-paginator #paginator
               [pageSize]="limit"
               [pageSizeOptions]="pageLimit"
               (page)="changePage($event)" showFirstLastButtons>
</mat-paginator>

              </div>
            </div>
          </div>
        </div>

      </article>


    </div>

  </sa-widgets-grid>
</div>
