<div id="content">
    <div class="row" *ngIf="ID == '-1'">
      <sa-big-breadcrumbs [items]="['Faq', 'Add Faq']" icon="table"
                          class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
      <!--<sa-stats></sa-stats>-->
    </div>
    <div class="row" *ngIf="ID != '-1'">
      <sa-big-breadcrumbs [items]="['Faq', 'Edit Faq']" icon="table"
                          class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
      <!--<sa-stats></sa-stats>-->
    </div>
  
    <sa-widgets-grid>
  
  
      <div class="row">
        <article class="col-sm-12" *ngIf="getData">
          <div sa-widget [editbutton]="false" color="blueDark">
            <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span>
              <h2>{{ID == '-1' ? 'Add' : 'Edit'}} Faq</h2>
            </header>
            <div>
              <div class="widget-body no-padding">
                <form [formGroup]="FaqForm" id="smart-form-register" class="smart-form client-form" novalidate="novalidate" [saUiValidate]="validationFaqOptions">
                    <fieldset>  
                      <section class="col-lg-6">
                        <label class="control-label">Faq Question</label>
                        <label class="input">
                          <input type="text" formControlName="Question" name="Question" placeholder="Faq Question">
                          <b class="tooltip tooltip-bottom-right">Faq Question</b> </label>
                      </section>  
                      <div class="clearfix"></div>
                      <section class="col-lg-6">
                        <label class="control-label">Faq Answer</label>
                        <label class="input">
                          <textarea formControlName="Answer" name="Answer" placeholder="Faq Answer" cols="" rows="10" style="width: 96%;padding: 2%;"></textarea>
                          <b class="tooltip tooltip-bottom-right">Faq Answer</b> </label>
                      </section>  
                      <div class="clearfix"></div>
                      <section class="col-md-2">
                          <label class="control-label">Order</label>
                          <label class="input">
                            <input type="number" pattern="^-?[0-9]+$" formControlName="Order" name="Order" placeholder="Order Number">
                            <b class="tooltip tooltip-bottom-right">Order Number</b> </label>
                      </section>                     
                    </fieldset>
                    <div class="col-sm-6">
                        <button  (click)="onSubmitForm()" class="btn btn-success pull-right" style="padding: 8px;margin: 0px 10px 20px 0px;">
                          Save
                        </button>
                        <button  (click)="cancel()" class="btn btn-warning pull-right" style="padding: 8px;margin: 0px 10px 20px 0px;">
                          Cancel
                        </button>
                        <button  (click)="onSubmitDraft()" class="btn btn-primary pull-right"   style="padding: 8px;margin: 0px 10px 20px 0px;">
                          Draft
                        </button>
                        <!-- <mat-progress-spinner 
                                              [diameter]="30"
                                              class="form-spinner"
                                              color="primary"
                                              mode='indeterminate'
                                              value="5">
                        </mat-progress-spinner>  -->
                      </div>
                </form>                
  
                
              </div>
            </div>
          </div>
  
  
        </article>
  
  
      </div>
  
    </sa-widgets-grid>
  </div>
  <ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>  
