<div id="content">
    <div class="row">
      <sa-big-breadcrumbs [items]="['Faqs', 'List']" icon="table"
                          class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  
      <!--<sa-stats></sa-stats>-->
    </div>
  
    <sa-widgets-grid>
  
  
      <div class="row">
        <article class="col-sm-12">
          <div sa-widget [editbutton]="false" color="blueDark">
  
            <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span>
              <button routerLink="/faqs/createnewfaq/-1" class="btn pull-right addButton">+ Add New</button>
            </header>
            <div>
              <div class="widget-body no-padding">
  
                <div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Faq Name">
                </div>
  
                <div class="table-user faq-container mat-elevation-z8">
                  <div class="faq-loading-shade"
                       *ngIf="isLoadingResults || isRateLimitReached">
                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                    <div class="faq-rate-limit-reached" *ngIf="isRateLimitReached">
                      API rate limit has been reached. It will be reset in one minute.
                    </div>
                  </div>
  
                  <div class="faq-table-container">
                    <table mat-table [dataSource]="dataSource" matSort style="width:100%;">
  
                      <!-- Name Column -->
                      <ng-container matColumnDef="Question">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="width:100px"> Faq Question </th>
                        <td mat-cell *matCellDef="let row"> {{row.Question}} </td>
                      </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="Order">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="width:100px"> Sequence </th>
                        <td mat-cell *matCellDef="let row"> {{row.Order}} </td>
                      </ng-container>
  
                      <!-- Name Column -->
                      <ng-container matColumnDef="DateTime">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:200px;"> Created On </th>
                        <td mat-cell *matCellDef="let row">  {{row.DateTime | date: 'dd-MM-yyyy, h:mm a'}}</td>
                      </ng-container>
  
                      <!-- Name Column -->
                      <ng-container matColumnDef="Active">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:150px;"> Status </th>
                        <td mat-cell *matCellDef="let row"> {{row.Active == 'P' ? 'Publish' : row.Active == 'D' ? 'Draft' : ''  }} </td>
                      </ng-container>
  
                      
  
  
                      <!-- Action Column -->
                      <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef style="width:100px;">Action</th>
                        <td mat-cell *matCellDef="let row">
                          <a title='Edit' id="faq_edit" class="text-primary" routerLink="/faqs/createnewfaq/{{row._id}}" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>&nbsp;|
                          <a title='Delete' id="faq_delete" id="faqTableAction" class="text-danger" (click)="delete(row._id)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                        </td>
                      </ng-container>
  
  
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                  </div>
                  <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                  <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
  
                </div>
  
              </div>
            </div>
          </div>
  
        </article>
  
  
      </div>
  
    </sa-widgets-grid>
  </div>
  <ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>  