<header id="header2" class="animated fadeInDown">

  <div id="logo-group" style="margin: 0 auto;">
    <span id="logo" routerLink="/" style="cursor: pointer"> <img src="assets/img/logo.png" alt="Profix"> </span>
  </div>

  <!--<span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs"></span> <a routerLink="/auth/login" class="btn btn-danger">Login</a> </span>-->

</header>
<br>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container" *ngIf='showLoginForm'>
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <!--<img src="assets/img/logo.png" alt="Profix" width="100%">-->
        <div class="well no-padding">
          <form [formGroup]="loginForm" (keydown.enter)="login($event)" class="smart-form client-form">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <header>
              Login
            </header>
            <fieldset>
              <section>
                <label class="label">Mobile Number</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input formControlName="LoginUserName" type="text" name="user-phone" data-smart-validate-input="" data-required="" data-message-required="Please enter your phone number">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Please enter Mobile Number</b></label>
              </section>
             
            </fieldset>
            <footer>
              <button *ngIf="!showSpinner" (click)="login($event)" class="btn btn-primary">
                Sign in
              </button>
              <mat-progress-spinner *ngIf="showSpinner" style="float: right"
                                    [diameter]="30"
                                    class="example-margin"
                                    color="primary"
                                    mode='indeterminate'
                                    value="5">
              </mat-progress-spinner>
            </footer>
          </form>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <p style="text-align: center;">Profix - Service Provider &copy; 2017-2019</p>
      </div>
    </div>
  </div>
  <div id="content2" class="container" *ngIf='showOTPForm'>
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <!--<img src="assets/img/logo.png" alt="Profix" width="100%">-->
        <div class="well no-padding">
          <form [formGroup]="OTPForm" (keydown.enter)="otpsubmit($event)" class="smart-form client-form">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <header>
              Verfication Code
            </header>
            <fieldset>
              <section>
                <label class="label">Please type the verification code sent to your mobile:</label>
                <label class="input">
                  <input class="otpinput" formControlName="LoginOTP" type="number" name="otp" data-smart-validate-input="" data-required="" data-message-required="Please enter OTP here" >
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                    Please enter OTP Number</b></label>
              </section>
             <span class="resend" (click)="resendOtp()">Resend OTP</span>
            </fieldset>
            <footer>
              <button *ngIf="!showSpinner" (click)="otpsubmit($event)" class="btn btn-primary">
                Sign in
              </button>
              <mat-progress-spinner *ngIf="showSpinner" style="float: right"
                                    [diameter]="30"
                                    class="example-margin"
                                    color="primary"
                                    mode='indeterminate'
                                    value="5">
              </mat-progress-spinner>
            </footer>
          </form>
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <p style="text-align: center;">Profix - Service Provider &copy; 2017-2019</p>
      </div>
    </div>
  </div>
</div>
