<div id="content">
    <div class="row" *ngIf="ID != '-1'">
      <sa-big-breadcrumbs [items]="['Vendor Transaction', 'Edit Transaction']" icon="table"
                          class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
      <!--<sa-stats></sa-stats>-->
    </div>
  
    <sa-widgets-grid>
  
      <div class="row" *ngIf="getData">
        <article class="col-sm-12">
          <div sa-widget [editbutton]="false" color="blueDark">
            <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span>
              <h2>{{ID == '-1' ? 'Add' : 'Edit'}} Transaction</h2>
            </header>
            <div>
              <div class="widget-body no-padding">
                <form [formGroup]="TransactionForm" id="smart-form-register" class="smart-form client-form">
                  <!--<header>-->
                    <!--User Form-->
                  <!--</header>-->
                  <fieldset class="col-sm-6">
                    <section>
                      <label class="control-label">Order Id: <b>{{OrderID}}</b></label>
                      </section>
                  </fieldset>
                  <fieldset class="col-sm-6">
                    <section>
                      <label class="control-label">Order Amount: <b>{{OrderAMT}}</b></label>
                      </section>
                  </fieldset>
                  <div class="clearfix"></div>
                  <fieldset class="col-sm-2">
                    <section>
                      <label class="control-label">Settled Amount</label>
                      <label class="input">
                        <input type="number" formControlName="SettledAMT" name="SettledAMT" placeholder="Settled Amount" >
                        <b class="tooltip tooltip-bottom-right">Settled Amount</b> </label>
                      </section>
                      <p *ngIf="selltedamt" class="invalid">Settled Amount must be less then Order Amount.</p>
                  </fieldset>
                  <div class="clearfix"></div>
                  <fieldset class="col-sm-6">
                    <section>
                      <label class="control-label">Notes</label>
                      <label class="input">
                        <textarea formControlName="Notes" rows="5" cols="40" name="Notes" class="form-control" placeholder="Notes" ></textarea>
                        <b class="tooltip tooltip-bottom-right">Notes</b> </label>
                      </section>
                  </fieldset>
                </form>

  
                <div class="col-sm-12" style="padding: 10px">
                  <button (click)="onSubmitForm()" class="btn btn-success pull-right"  [disabled]="TransactionForm.invalid" style="margin-left: 10px;">
                    Save
                  </button>
                  <button  (click)="cancel()" class="btn btn-warning pull-right">
                    Cancel
                  </button>
                  
                </div>
              </div>
            </div>
          </div>
  
  
        </article>
  
  
      </div>
  
    </sa-widgets-grid>
  </div>
  <ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>           
