<style>

    @media screen and (max-width: 768px) {
        .mat-table {
          border: 0;
          vertical-align: middle
        }
      
        .mat-table caption {
          font-size: 1em;
        }
        
        .mat-table .mat-header-cell {
          
          border: 10px solid;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          padding: 0;
          position: absolute;
          width: 1px;
        }
    
        .mat-table .mat-row {
          border-bottom: 5px solid #ddd;
          display: block;
        }
        
        .mat-table .mat-row:nth-child(even) {background: #CCC}
        .mat-table .mat-row:nth-child(odd) {background: #FFF}
        
        .mat-table .mat-cell {
          border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height: 53px !important;
      line-height: 53px;
      max-width: 100% !important;
        }
        .mat-table img{
          width: 50px !important;
        }
        .mat-table .mat-cell:before {
         
          content: attr(aria-label);
      
          content: attr(data-label);
          float: left;
          text-transform: uppercase;
          font-weight: normal;
          
          font-size: .85em;
        }
        .mat-table .mat-cell:last-child {
          border-bottom: 0;
        }
          .mat-table .mat-cell:first-child {
            margin-top: 0%;
          max-width: 100% !important;
          line-height: 41px;
          height: 40px;
        }
      }
      @media screen and (max-width: 768px) {
        .categories-table-container{
            overflow-x: scroll;
        }
        .mat-cell{
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .mat-row{
            min-height: 30px !important;
        }
        .UserDataGrid{
            padding:  0 20px;
        }
        .mat-header-row{
          display: none !important;
        }
      }
  </style>
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Transactions', 'List']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <sa-widgets-grid class="UserDataGrid">


    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">

          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          </header>
          <div>
            <div class="widget-body no-padding">

              <!--<div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Category Name">
              </div>-->

              <div class="table-user categories-container mat-elevation-z8">
                <div class="categories-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="categories-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div class="categories-table-container">
                  <mat-table [dataSource]="dataSource" matSort style="width:100%;">

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="ID"> {{row._id}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="OrderID">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Order ID# </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="Order ID#"> {{row.OrderID}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="VendorID">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Vendor Name </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Vendor Name"> {{row.VendorID}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="OrderAMT">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Order Amount </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Order Amount"> {{row.OrderAMT}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="SettledAMT">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Settled Amount </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Settled Amount"> {{row.SettledAMT}} </mat-cell>
                    </ng-container>

                     <!-- Name Column -->
                     <ng-container matColumnDef="SettledBY">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Settled By </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Settled By"> {{row.SettledBY}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="IsSettled">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Is Settled </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Is Settled"> {{row.IsSettled}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="SN">
                      <mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="max-width: 10%;"> S. No </mat-header-cell>
                      <mat-cell *matCellDef="let row ; let i = index;" style="max-width: 10%;"  data-label="SN"> {{pageIndex+i+1}} </mat-cell>
                    </ng-container>


                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                      <mat-header-cell *matHeaderCellDef style="max-width:10%;">Action</mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Action" style="max-width:10%;">
                        <a  id="user_edit" class="text-primary" routerLink="/vendor-transactions/edit/{{row._id}}" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                      </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
                <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                <mat-paginator #paginator
               [pageSize]="limit"
               [pageSizeOptions]="pageLimit"
               (page)="changePage($event)" showFirstLastButtons>
</mat-paginator>

              </div>

            </div>
          </div>
        </div>

      </article>


    </div>

  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         
