<div id="content">
  <div class="row"  *ngIf="ID == '-1'">
    <sa-big-breadcrumbs [items]="['Type', 'Add Type']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>
  <div class="row"  *ngIf="ID != '-1'">
    <sa-big-breadcrumbs [items]="['Type', 'Edit Type']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>

  <sa-widgets-grid>


    <div class="row">
      <article class="col-sm-6 col-sm-offset-3">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>{{ID == '-1' ? 'Add' : 'Edit'}} Type</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form [formGroup]="TypeForm" id="smart-form-register" class="smart-form client-form" >
                <!--<header>-->
                  <!--User Form-->
                <!--</header>-->

                <fieldset>
                  <section>
                    <label class="control-label">Name<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input">
                      <input type="text" formControlName="Name" name="tname" placeholder="Type Name">
                      <b class="tooltip tooltip-bottom-right">Type Name</b> </label>
                  </section>

                  <section>
                    <label class="control-label">Description<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="textarea">
                      <textarea formControlName="Description" rows="4" name="message" id="message"></textarea>
                    </label>
                  </section>

                </fieldset>
                <footer>
                  <button  (click)="onSubmitForm()" class="btn btn-success" >
                    Save
                  </button>
                  <button  (click)="cancel()" class="btn btn-warning">
                    Cancel
                  </button>
                  <!-- <mat-progress-spinner 
                                        [diameter]="30"
                                        class="form-spinner"
                                        color="primary"
                                        mode='indeterminate'
                                        value="5">
                  </mat-progress-spinner> -->
                </footer>

                <div class="message">
                  <i class="fa fa-check"></i>
                  <p>
                    Thank you for your registration!
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         
