<div id="content" style="padding-bottom: 50px;">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Order', 'Detail']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

    <!--<sa-stats></sa-stats>-->
  </div>

  <sa-widgets-grid class="col-sm-12" *ngIf="CurrentLoginUser.RoleName == 'Super Admin'">
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-area-chart"></i> </span><h2>Order Status</ h2>
          </header>
          <div *ngIf="GetProjectData" >
            <div class="widget-body no-padding">

              <div class="col-md-12" style="margin-top: 15px;z-index: 0;">
                <ul class="my-progressbar">
                  <li class="{{selectedOrderStatus == 1 ? 'active' : (selectedOrderStatus > 1 ? 'done' : '')}}">NEW</li>
                  <li class="{{selectedOrderStatus == 2 ? 'active' : (selectedOrderStatus > 2 ? 'done' : '')}}">ASSIGNED</li>
                  <li class="{{selectedOrderStatus == 3 ? 'active' : (selectedOrderStatus > 3 ? 'done' : '')}}">IN PROCESS</li>
                  <li class="{{selectedOrderStatus == 4 ? 'active' : (selectedOrderStatus > 4 ? 'done' : '')}}">UNDER REVIEW</li>
                  <li class="{{selectedOrderStatus == 5 ? 'done' : (selectedOrderStatus > 5 ? 'done' : '')}}">COMPLETED</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>

  <sa-widgets-grid class="col-sm-6">
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark" *ngIf="GetProjectData">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Customer Details</h2>
          </header>
          <div>
            <div class="widget-body no-padding">

              <div class="col-sm-12">
                <table class="table">
                  <table class="table">
                    <tbody>
                    <tr><td><b>Name</b></td><td>{{SelectedProject.Customer.FirstName+ " " + SelectedProject.Customer.MiddleName + " "+SelectedProject.Customer.LastName}}</td></tr>
                    <tr><td><b>Email</b></td><td>{{SelectedProject.Customer.Email}}</td></tr>
                    <tr><td><b>Mobile</b></td><td>{{SelectedProject.Customer.Phone}}</td></tr>
                    <tr><td><b>Alternate Mobile</b></td><td>{{SelectedProject.Customer.AltPhone}}</td></tr>
                    </tbody>
                  </table>
                </table>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>

  <sa-widgets-grid class="col-sm-6">
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark" *ngIf="GetProjectData">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Location Details</h2>
            <a href="https://www.openstreetmap.org/search?query={{SelectedProject.Locality.Name+' '+SelectedProject.City.Name+' '+SelectedProject.State.Name + ', India'}}" class="btn btn-primary pull-right" target="_blank">View On Map</a>
          </header>
          <div>
            <div class="widget-body no-padding">
              <div class="col-sm-12">
                <table class="table">
                  <tbody>
                  <tr><td><b>Locality</b></td><td>{{SelectedProject.Locality.Name}}</td></tr>
                  <tr><td><b>City</b></td><td>{{SelectedProject.City.Name}}</td></tr>
                  <tr><td><b>State</b></td><td>{{SelectedProject.State.Name}}</td></tr>
                  <tr><td><b>Address</b></td><td>{{SelectedProject.Address}}</td></tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
  <div class="clearfix"></div>
  <sa-widgets-grid class="col-sm-6">
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span><h2>Service Details</h2>
          </header>
          <div *ngIf="GetProjectData">
            <div class="widget-body no-padding">

              <div class="col-sm-12">
                <table class="table" *ngIf="SelectedProject.Services">
                  <thead>
                  <th>Service</th>
                  <th>Width</th>
                  <th>Height</th>
                  <th>Amount</th>
                  <th>Schedule Date</th>
                  </thead>
                  <tbody >
                  <tr *ngFor="let service of SelectedProject.Services">
                    <td>{{service.Name}}</td>
                    <td>{{service.Price}}</td>
                    <td>{{service.Width}}</td>
                    <td>{{service.Height}}</td>
                    <td>{{service.DateTime | date: 'dd-MM-yyyy hh:mm:ss' }}</td>

                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>

  <sa-widgets-grid class="col-sm-6" ><!--*ngIf="(GetProjectData && !(SelectedProject && SelectedProject.PaymentMode == 'Paytm'))"-->
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span><h2>Payment Details</h2>
          </header>
          <div *ngIf="GetProjectData">
            <div class="widget-body no-padding">

              <div class="col-sm-12">
                <table class="table">
                  <tbody>
                  <tr><td><b>Payment Mode</b></td><td>{{SelectedProject.PaymentMode}}</td></tr>
                  <tr><td><b>Amount</b></td><td>{{SelectedProject.PaymentAmount | currency : 'INR'}}</td></tr>
                  </tbody>
                </table>
                <div class="row"  *ngIf="CurrentLoginUser.RoleName == 'Service Provider' && (GetProjectData && !(SelectedProject && (  AssignTo == '')))">

                  <form [formGroup]="PaymentForm">
                    <select formControlName="PaymentMode" class="form-control">
                      <option value="" disabled>Select Payment Mode</option>
                      <option value="Cash">Cash</option>
                      <option value="Paytm">Paytm</option>
                    </select><br>
                    <textarea formControlName="Notes" class="form-control" rows="3"></textarea><br>
                    <button class="btn btn-success" (click)="paymentCollect()" [disabled]="PaymentForm.invalid">Payment Submit</button>
                    <br>
                    <br>
                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>

  <div class="clearfix"></div>
  <div class="col-sm-6" style="padding-bottom: 40px;">
    <sa-widgets-grid class="row"  *ngIf="CurrentLoginUser.RoleName == 'Super Admin'">
      <div class="row">
        <article class="col-sm-12">
          <div sa-widget [editbutton]="false" color="blueDark">
            <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span><h2>Milestones Details</h2>
            </header>
            <div *ngIf="GetProjectData ">
              <div class="widget-body no-padding">
                <div class="col-sm-12 marginBottom">
                  <div class="col-sm-12" style="display: none;">
                    <h4><b>Assign To Service Provider</b></h4>
                    <div class="col-sm-6">
                      <select [(ngModel)]="AssignUser" (change)="getSPUser(AssignUser)" class="form-control">
                        <option value="" disabled>--Select Service Provider--</option>
                        <option *ngFor="let user of Users" value="{{user._id}}">{{user.FirstName + " "+ user.LastName}}</option>
                      </select>
                    </div>
                    <div class="col-sm-12" *ngIf="GetSP">
                      <br>
                      Name : {{SelectedSP.FirstName+" "+SelectedSP.MiddleName+" "+SelectedSP.LastName}} <br>
                      Email : {{SelectedSP.Email}}<br>
                      Phone : {{SelectedSP.Phone}}<br>
                      <button class="btn btn-success" (click)="assignOrder()">Submit</button>
                    </div>
                  </div>
                  <div class="col-sm-12" style="display: none"><br><br>
                    <h4><b>Change Order status</b></h4>
                    <select [(ngModel)]="CurrentOrderStatus" class="form-control">
                      <option value="" disabled>--Select Service Provider--</option>
                      <option value="New">New</option>
                      <option value="Assignment">Assignment</option>
                      <option value="Progress">In process </option>
                      <option value="Review">Review </option>
                      <option value="Completed">Completed </option>
                    </select>

                    <br>
                    <button class="btn btn-success" (click)="changeOrderStatus()">Change Order Status</button>
                  </div>

                  <div class="col-sm-12">
                    <form [formGroup]="MilestoneForm">
                      <label>Service</label>
                      <select formControlName="Service" class="form-control">
                        <option value="" disabled>--Select Service--</option>
                        <option *ngFor="let service of SelectedProject.Services" value="{{service._id}}">{{service.Name}}</option>
                      </select>
                      <label>Milestone Title</label>
                      <input formControlName="Title" type="text" class="form-control">

                      <div class="row">
                        <div class="col-sm-12">
                          <label>Area of the requested service</label>
                        </div>
                        <div class="col-sm-6">
                          <label>Width</label>
                          <input formControlName="Width" type="number" min="0" class="form-control">
                        </div>
                        <div class="col-sm-6">
                          <label>height</label>
                          <input formControlName="Height" type="number" min="0" class="form-control">
                        </div>
                      </div>
                      <label>Amount</label>
                      <input formControlName="Amount" type="number" min="0" class="form-control">
                      <label>Notes</label>
                      <textarea formControlName="Description" class="form-control"></textarea>
                      <label>Service Provider</label>
                      <select formControlName="UserID" class="form-control">
                        <option value="" disabled>--Select Service Provider--</option>
                        <option *ngFor="let user of Users" value="{{user._id}}">{{user.FirstName + " "+ user.LastName}}</option>
                      </select>
                      <br>
                      <button class="btn btn-success" (click)="createMilestoneAndAssignOrder()" [disabled]="MilestoneForm.invalid">Assign</button>
                    </form>
                    <br>
                    <br>
                    <h4><b>Milestone Details</b></h4>
                    <br>
                    <table class="table">
                      <thead>
                      <th>Assigned To</th>
                      <th>Email</th>
                      <th>Phone</th>
                      <th>Status</th>
                      <th>Action</th>
                      </thead>
                      <tbody>
                      <tr>
                        <td>Ram Kumar</td>
                        <td>Ram@gmail.com</td>
                        <td>9852367410</td>
                        <td>Assigned</td>
                        <td><i class="fa fa-trash"></i> </td>
                      </tr>
                    </table>
                    <table class="table" *ngFor="let ordermilestone of OrderMilestoneData">
                      <tr>
                        <td>{{ordermilestone.Title}}</td>
                        <td>{{ordermilestone.Title}}</td>
                        <td>{{ordermilestone.Title}}</td>
                        <td>Assigned</td>
                        <td><i class="fa fa-trash" (click)="deleteOrderMilestone(ordermilestone._id)"></i> </td>
                      </tr>
                      <tr>ravi</tr>
                    </table>
                    <table>
                      <tr>
                        <td>Rakesh Patel</td>
                        <td>rakesh@gmail.com</td>
                        <td>8999367410</td>
                        <td>Assigned</td>
                        <td><i class="fa fa-trash"></i> </td>
                      </tr>
                      <tr>
                        <td>Rinku Saini</td>
                        <td>rinku@gmail.com</td>
                        <td>9852367410</td>
                        <td>Assigned</td>
                        <td><i class="fa fa-trash"></i> </td>
                      </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </article>
      </div>
    </sa-widgets-grid>
    <sa-widgets-grid class="col-sm-12"  *ngIf="GetProjectData && (SelectedProject && (SelectedProject.Status == 'Completed'))">
      <div class="row">
        <article class="col-sm-12">
          <div sa-widget [editbutton]="false" color="blueDark">
            <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span><h2>Reviews and Ratings</h2>
            </header>
            <div>

            </div>
            <div *ngIf="GetProjectData">
              <div class="widget-body no-padding">
                <div class="col-sm-12 smart-form">
                  <div class="rating">
                    <input type="radio" name="reliability" id="reliability-5"/>
                    <label for="reliability-5"><i class="fa fa-star"></i></label>
                    <input type="radio" name="reliability" id="reliability-4"/>
                    <label for="reliability-4"><i class="fa fa-star"></i></label>
                    <input type="radio" name="reliability" id="reliability-3"/>
                    <label for="reliability-3"><i class="fa fa-star"></i></label>
                    <input type="radio" name="reliability" id="reliability-2"/>
                    <label for="reliability-2"><i class="fa fa-star"></i></label>
                    <input type="radio" name="reliability" id="reliability-1"/>
                    <label for="reliability-1"><i class="fa fa-star"></i></label>
                    Rating of the order
                  </div>
                  <textarea rows="4" class="form-control"></textarea>
                  <br>
                  <button class="btn btn-primary">Send Review & Rating</button>
                  <br>
                </div>
                <div class="col-sm-12">
                  <div class="chat-body custom-scroll" id="chat-body">
                    <ul>
                      <li class="message ng-star-inserted">
                        <img class="message-picture online" src="assets/img/avatars/5.png">

                        <div class="message-text">
                          <time>
                            2019-04-12
                          </time>
                          <a class="username">Awesome</a> By "Service Provider"
                          <div class="reviewandrating">4 star</div>
                          <div>Hey did you meet the new
                            board
                            of director? He's a bit of an arse if you ask me...anyway here is the report you
                            requested.
                            I am off to launch with Lisa and Andrew, you wanna join?

                            <p class="chat-file row">
                              <span class="col-sm-6 pull-right"> <a class="btn btn-xs btn-primary">Edit</a>&nbsp;&nbsp; <a class="btn btn-xs btn-success">Approve</a> </span>
                            </p>

                          </div>

                        </div>
                      </li>
                      <li class="message ng-star-inserted">
                        <img class="message-picture online" src="assets/img/avatars/sunny.png">

                        <div class="message-text">
                          <time>
                            2019-01-02
                          </time>
                          <a class="username">Good</a> By "Quality Inspector"
                          <div class="reviewandrating">1 star</div>
                          <div> Haha! Yeah I know what you
                            mean.
                            Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </div>

                        </div>
                      </li>
                      <li class="message ng-star-inserted">
                        <img class="message-picture online" src="assets/img/avatars/5.png">

                        <div class="message-text">
                          <time>
                            2019-04-12
                          </time>
                          <a class="username">Awesome</a> By "Payment Collector"
                          <div class="reviewandrating">5 star</div>
                          <div>Hey did you meet the new
                            board
                            of director? He's a bit of an arse if you ask me...anyway here is the report you
                            requested.
                            I am off to launch with Lisa and Andrew, you wanna join?
                          </div>

                        </div>
                      </li>
                      <li class="message ng-star-inserted">
                        <img class="message-picture online" src="assets/img/avatars/sunny.png">

                        <div class="message-text">
                          <time>
                            2019-01-02
                          </time>
                          <a class="username">Good</a> By "Customer"
                          <div class="reviewandrating">2 star</div>
                          <div> Haha! Yeah I know what you
                            mean.
                            Thanks for the file Sadi! <i class="fa fa-smile-o txt-color-orange"></i> </div>

                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--Review And Rating Section-->

                <!--Review And Rating Section-->
              </div>
            </div>
          </div>
        </article>
      </div>
    </sa-widgets-grid>
  </div>


  <sa-widgets-grid class="col-sm-6 statusView" *ngIf="CurrentLoginUser.RoleName == 'Super Admin'">
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Activities</h2>
          </header>
          <div *ngIf="GetProjectData" class="marginBottomProjectStatus">
            <div class="widget-body no-padding">

              <div class="col-sm-12" >
                <div class="well well-sm">
                  <!-- Timeline Content -->
                  <div class="smart-timeline">
                    <ul class="smart-timeline-list">
                      <li *ngFor="let item of allActivities">
                        <div class="smart-timeline-icon">
                          <img src="assets/img/avatars/sunny.png" width="32" height="32" alt="user">
                        </div>
                        <div class="smart-timeline-time">
                          <small>{{item.DateTime | timeAgo}}</small>
                        </div>
                        <div class="smart-timeline-content">
                          <p>
                            <a (click)="(null)"><strong>Trip to Adalaskar</strong></a>
                          </p>
                          <p>{{item.Status}}</p>
                          <p>{{item.Message}}</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!-- END Timeline Content -->
                </div>
              </div>

            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
  <div class="col-sm-12"></div>
  <sa-widgets-grid class="col-sm-6"  *ngIf="CurrentLoginUser.RoleName == 'Service Provider' && !(GetProjectData && AssignTo != '')"><!--*ngIf="CurrentLoginUser.RoleName == 'Service Provider'"-->
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Accept Order</h2>
          </header>
          <div class="marginBottomProjectStatus">
            <div class="widget-body no-padding">

              <div class="col-sm-12 marginBottom">
                <button *ngIf="CurrentLoginUser.RoleName == 'Service Provider'" class="btn btn-primary " (click)="acceptOrder()" style="margin-right: 15px;margin-top: 15px;">Accept Order</button>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
  <sa-widgets-grid class="col-sm-6 statusView" *ngIf="CurrentLoginUser.RoleName == 'Service Provider' && (GetProjectData && !(SelectedProject && (SelectedProject.Status == 'Completed') ||  AssignTo == ''))">
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          </header>
          <div class="marginBottomProjectStatus">
            <div class="widget-body no-padding">

              <div class="col-sm-12 marginBottom">
                <form [formGroup]="SubmissionForm">
                  <h4>Notes about order</h4><br>
                  <select formControlName="Status" class="form-control">
                    <option value="" disabled>Select Order Status</option>
                    <option value="On Hold">On Hold</option>
                    <option value="Completed">Completed</option>
                  </select><br>
                  <textarea formControlName="Notes" class="form-control" rows="4"></textarea><br>
                  <button class="btn btn-success" [disabled]="SubmissionForm.invalid" (click)="submitOrderBySP()">Submit</button>
                  <br>
                </form>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         