<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Orders', 'List']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>

  <sa-widgets-grid *ngIf="CurrentLoginUser.RoleName == 'Service Provider'">
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div sa-widget class="well">
          <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>

            <h2>Widget Title </h2>
          </header>
          <!-- widget div-->
          <div>
            <h2>Services Feeds</h2>
            <!-- widget content -->
            <div class="widget-body no-padding" data-sparkline-container="" >

              <sa-datatable [options]="OrderOptions"
                            [detailsFormat]="OrderdetailsFormat"
                            paginationLength="true"
                            tableClass="display projects-table table table-striped table-bordered table-hover"
                            width="100%">
                <thead>
                <tr>
                  <th></th>
                  <th>Orders</th>
                  <!--<th><i-->
                          <!--class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>-->
                    <!--EST-->
                  <!--</th>-->
                  <!--<th>AssignTo</th>-->
                  <th>Customer</th>
                  <th>Status</th>
                  <th><i
                          class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>
                    Scheduled Date
                  </th>
                  <!--<th>Tracker</th>-->
                </tr>
                </thead>
              </sa-datatable>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->
  </sa-widgets-grid>

  <sa-widgets-grid>
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div sa-widget class="well">
          <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>

            <h2>Widget Title </h2>
          </header>
          <!-- widget div-->
          <div>
            <h2>To Do Services</h2>
            <div class="widget-body no-padding" data-sparkline-container="" >

              <sa-datatable [options]="options"
                            [detailsFormat]="detailsFormat"
                            paginationLength="true"
                            tableClass="display projects-table table table-striped table-bordered table-hover"
                            width="100%">
                <thead>
                <tr>
                  <th></th>
                  <th>Orders</th>
                  <!--<th><i
                          class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
                    EST
                  </th>
                  <th>AssignTo</th>-->
                  <th>Customer</th>
                  <th>Status</th>
                  <!--<th><i
                          class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>
                    Scheduled Date
                  </th>-->
                  <!--<th>Tracker</th>-->
                </tr>
                </thead>
              </sa-datatable>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->
  </sa-widgets-grid>


</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         