
.my-progressbar,
.my-progressbar3 {
  counter-reset: step!important;
}
.my-progressbar li,
.my-progressbar3 li {
  list-style-type: none!important;
  width: 19%!important;
  float: left!important;;
  font-size: 12px!important;;
  position: relative!important;;
  text-align: center!important;;
  text-transform: uppercase!important;;
  color: #7d7d7d!important;
}
.my-progressbar li:before,
.my-progressbar3 li:before {
  width: 30px!important;
  height: 30px!important;
  content: counter(step)!important;
  counter-increment: step!important;
  line-height: 30px!important;
  border: 2px solid #7d7d7d!important;
  display: block!important;
  text-align: center!important;
  margin: 0 auto 10px auto!important;
  border-radius: 50%!important;
  background-color: #7d7d7d!important;
  color: white!important;
}
.my-progressbar li:after,
.my-progressbar3 li:after {
  width: 100%!important;
  height: 18px!important;
  content: ''!important;
  position: absolute!important;
  background-color: #7d7d7d!important;
  top: 8px!important;
  left: -50%!important;
  z-index: -1!important;
}
.my-progressbar li:first-child:after,
.my-progressbar3 li:first-child:after {
  content: none!important;
}
.my-progressbar li.active, .my-progressbar li.done,
.my-progressbar3 li.active,
.my-progressbar3 li.done {
  color: #0088AD!important;
}
.my-progressbar li.active:before, .my-progressbar li.done:before,
.my-progressbar3 li.active:before,
.my-progressbar3 li.done:before {
  border-color: #0088AD!important;
  background-color: #0088AD!important;
}
.my-progressbar li.done:before,
.my-progressbar3 li.done:before {
  content: "\2714"!important;
}
.my-progressbar li.done + li:after,
.my-progressbar3 li.done + li:after {
  background-color: #0088AD!important;
}

.my-progressbar3 li {
  width: 33%!important;
}