<div id="content">

  <div class="row">
    <sa-big-breadcrumbs [items]="['Dashboard', 'My Dashboard']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>

  <sa-widgets-grid style="display: none">

    <div class="row">
      <article class="col-sm-12">


        <live-feeds-widget></live-feeds-widget>

      </article>
    </div>


    <div class="row">

      <article class="col-sm-12 col-md-12 col-lg-6">

        <chat-widget></chat-widget>

        <calendar-widget *ngIf="calendar$ | async as calendar " [events]="calendar.events"></calendar-widget>
      </article>

      <article class="col-sm-12 col-md-12 col-lg-6">

        <bird-eye-widget></bird-eye-widget>

        <todo-widget></todo-widget>
      </article>
    </div>
  </sa-widgets-grid>
  <!--<section *ngIf="currentUser.RoleName == 'Service Provider'">
    <div class="temp-layout-1 col-md-3 col-xs-6" (click)="onClickProfile()">
      <h2 class="vertical-center">My Profile</h2>
    </div>
    <div class="temp-layout-2 col-md-3 col-xs-6">
      <h2 class="vertical-center">Contact</h2>
    </div>
    <div class="temp-layout-3 col-md-3 col-xs-6">
      <h2 class="vertical-center">My Task</h2>
    </div>
    <div class="temp-layout-4 col-md-3 col-xs-6">
      <h2 class="vertical-center">Payments</h2>
    </div>
  </section>-->
  

  <sa-widgets-grid *ngIf="currentUser.RoleName == 'Service Provider' || currentUser.RoleName == 'Quality Inspector' || currentUser.RoleName == 'Payment Collector'">
    <div class="alert alert-block alert-danger" dismisser="" *ngIf='ShowExpiryAlert'>
      <h4 class="alert-heading"><i class="fa fa-check-square-o"></i> Account Expiry Alert!</h4>
      <p>
        Your Profix membership is expired now, please contact Profix Administrator urgently.
      </p>
    </div>
  </sa-widgets-grid>
  <sa-widgets-grid *ngIf="currentUser.RoleName == 'Service Provider'">


    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark" >

          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>{{currentUser.RoleName == 'Service Provider' ? 'Services Feeds' : ''}}</h2>
            <button *ngIf="currentUser.RoleName != 'Service Provider'" class="btn btn-primary pull-right" routerLink="/projects/createnew/-1" style="margin-right: 15px;">+ Add</button>
          </header>
          <div>
            <div class="widget-body no-padding">
              <div class="table-user unit-container mat-elevation-z8">
                <div class="unit-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div class="unit-table-container">
                  <table mat-table [dataSource]="dataSourceOrder" matSort style="width:100%;">

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Name </th>
                      <td mat-cell *matCellDef="let row" [innerHTML]="row.name"> {{row.name}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="AssignTo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> AssignTo </th>
                      <td mat-cell *matCellDef="let row"> {{row.AssignTo}} </td>
                    </ng-container>

                    <!--ReferenceBy Column -->
                    <ng-container matColumnDef="Customer">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Customer </th>
                      <td mat-cell *matCellDef="let row" > {{row.customer}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Status </th>
                      <td mat-cell *matCellDef="let row" [innerHTML]="row.status">  </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="ScheduledDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Schedule Date </th>
                      <td mat-cell *matCellDef="let row"> {{row.starts | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                    </ng-container>



                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef style="width:90px;">Action</th>
                      <td mat-cell *matCellDef="let row">
                        <a class="text-primary" routerLink="/projects/detail/{{row._id}}" style="cursor:pointer;"><i class="fa fa-eye"></i></a>&nbsp;
                        <!--<a  id="user_delete" id="userTableAction" class="text-danger" (click)="delete(row._id)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>-->
                      </td>
                    </ng-container>


                    <tr mat-header-row *matHeaderRowDef="displayedOrderColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedOrderColumns;"></tr>
                  </table>
                </div>
                <div *ngIf="dataSourceOrder && dataSourceOrder.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                <mat-paginator [pageSizeOptions]="[20,10,50]" showFirstLastButtons></mat-paginator>

              </div>
            </div>
          </div>
        </div>

      </article>


    </div>
  </sa-widgets-grid>
   
</div>
<!--<app-timeline-flow [data]="statusData"></app-timeline-flow>-->
