<style>

    @media screen and (max-width: 768px) {
        .mat-table {
          border: 0;
          vertical-align: middle
        }
      
        .mat-table caption {
          font-size: 1em;
        }
        
        .mat-table .mat-header-cell {
          
          border: 10px solid;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          padding: 0;
          position: absolute;
          width: 1px;
        }
    
        .mat-table .mat-row {
          border-bottom: 5px solid #ddd;
          display: block;
        }
        
        .mat-table .mat-row:nth-child(even) {background: #CCC}
        .mat-table .mat-row:nth-child(odd) {background: #FFF}
        
        .mat-table .mat-cell {
          border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height: 53px !important;
      line-height: 53px;
      max-width: 100% !important;
        }
        .mat-table img{
          width: 50px !important;
        }
        .mat-table .mat-cell:before {
         
          content: attr(aria-label);
      
          content: attr(data-label);
          float: left;
          text-transform: uppercase;
          font-weight: normal;
          
          font-size: .85em;
        }
        .mat-table .mat-cell:last-child {
          border-bottom: 0;
        }
          .mat-table .mat-cell:first-child {
            margin-top: 0%;
          max-width: 100% !important;
          line-height: 41px;
          height: 40px;
        }
      }
      @media screen and (max-width: 768px) {
        .categories-table-container{
            overflow-x: scroll;
        }
        .mat-cell{
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .mat-row{
            min-height: 30px !important;
        }
        .UserDataGrid{
            padding:  0 20px;
        }
        .mat-header-row{
          display: none !important;
        }
      }
    </style>
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Reviews & Ratings', 'List']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <sa-widgets-grid class="UserDataGrid">

    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">

          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          </header>
          <div>
            <div class="widget-body no-padding">

              <div class="table-user categories-container mat-elevation-z8">
                <div class="categories-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="categories-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div class="categories-table-container">
                  <mat-table [dataSource]="dataSource" matSort style="width:100%;">

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="ID"> {{row._id}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="UserID">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width50" style="width:210px;"> Review By </mat-header-cell>
                      <mat-cell *matCellDef="let row" class="userimage"  data-label="Review By">
                        <ng-container *ngIf="row.UserID; then showDavt; else notShowavt"></ng-container><ng-template #showDavt><img src="{{url+row.UserID.Avatar}}" style="width: 50px;height: 50px;"></ng-template><ng-template #notShowavt><img src="{{defalutimageurl}}" style="width: 50px;height: 50px;"></ng-template>
                        <div *ngIf="row.UserID">{{row.UserID.FirstName}} {{row.UserID.MiddleName}} {{row.UserID.LastName}}</div> </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="ReviewDate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header class="width125" style="width:115px;"> Date </mat-header-cell>
                        <mat-cell *matCellDef="let row"  data-label="Date">
                            <time>
                                {{row.DateTime | date : "dd/MM/yyyy hh:mm:ss a" }}
                              </time>
                        </mat-cell>
                      </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Review">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Review </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="Review"> {{row.Review.substr(0,18)}}.. </mat-cell>
                    </ng-container>



                    <!-- Name Column -->
                    <ng-container matColumnDef="Rating">
                      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width: 13%;"> Rating </mat-header-cell>
                      <mat-cell *matCellDef="let row;let i= index" style="max-width: 13%;" data-label="Rating">
                        <div class="reviewandrating smart-form">
                          <div class="rating">
                            <input type="radio" name="Rating{{i}}" [checked]="row.Rating == 5 ? true : false" value="5" id="reliability{{i}}" disabled/>
                            <label for="reliability{{i}}"><i class="fa fa-star customeStar"></i></label>
                            <input type="radio" name="Rating{{i}}" [checked]="row.Rating == 4 ? true : false" value="4" id="reliability{{i}}" disabled/>
                            <label for="reliability{{i}}"><i class="fa fa-star customeStar"></i></label>
                            <input type="radio" name="Rating{{i}}" [checked]="row.Rating == 3 ? true : false" value="3"id="reliability{{i}}" disabled/>
                            <label for="reliability{{i}}"><i class="fa fa-star customeStar"></i></label>
                            <input type="radio" name="Rating{{i}}" [checked]="row.Rating == 2 ? true : false" value="2" id="reliability{{i}}" disabled/>
                            <label for="reliability{{i}}"><i class="fa fa-star customeStar"></i></label>
                            <input type="radio" name="Rating{{i}}" [checked]="row.Rating == 1 ? true : false" value="1" id="reliability{{i}}" disabled/>
                            <label for="reliability{{i}}"><i class="fa fa-star customeStar"></i></label>
                          </div>
                        </div>

                      </mat-cell>
                    </ng-container>


                    <!-- Name Column -->
                    <ng-container matColumnDef="SN">
                      <mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="max-width: 10%;"> S. No </mat-header-cell>
                      <mat-cell *matCellDef="let row ; let i = index;" style="max-width: 10%;" data-label="Sn"> {{i+1}} </mat-cell>
                    </ng-container>


                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                      <mat-header-cell *matHeaderCellDef style="max-width:14%;">Action</mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Action" style="max-width:14%;">
                        <a title='Edit' id="user_edit" class="text-primary" routerLink="/reviews/edit/{{row._id}}" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>&nbsp;|&nbsp;
                        <button *ngIf="!row.IsApproved" class="btn btn-success" (click)="acceptReview(row._id)">Approve</button>
                        <span *ngIf="row.IsApproved" class="text-success">Approved</span>
                      </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
                <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>

              </div>

            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>    
