<div id="content">
        <div class="row" *ngIf="ID != '-1'">
          <sa-big-breadcrumbs [items]="['Review', 'Edit']" icon="table"
                              class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
          <!--<sa-stats></sa-stats>-->
        </div>
      
        <sa-widgets-grid>
      
          <div class="row" *ngIf="getData">
            <article class="col-sm-12">
              <div sa-widget [editbutton]="false" color="blueDark">
                <header>
                  <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                  <h2>{{ID == '-1' ? 'Add' : 'Edit'}} Review</h2>
                </header>
                <div>
                  <div class="widget-body no-padding">
                    <form [formGroup]="ReviewsForm" id="smart-form-register" class="smart-form client-form">
                        
                        <fieldset class="col-sm-6">
                            <section>
                            <label class="control-label">Reviewed By: </label>
                            <b>  {{ReviewedBy}}</b>
                            </section>
                        </fieldset>
                        <fieldset class="col-sm-6">
                            <section>
                            <label class="control-label">Order ID: </label>
                            <b>  {{OrderAssignIDIs}}</b>
                                </section>
                        </fieldset>
                        <fieldset class="col-md-6">
                          <label class="file" style="width: 100%">
                            <label class="toggle state-success col-md-8"><input type="checkbox" formControlName="IsApproved" name="checkbox-toggle"><i  data-swchon-text="YES" data-swchoff-text="NO"></i>Approve/Disapprove&nbsp;&nbsp;</label>
                            <b class="tooltip tooltip-bottom-right">Approve/Disapprove</b> </label>
                        </fieldset>
                        <fieldset class="col-sm-6">
                            <div class="rating">
                                <input type="radio" formControlName="Rating" [checked]="RatingIs == 5 ? true : false" value="5" id="reliability-5"/>
                                <label for="reliability-5"><i class="fa fa-star"></i></label>
                                <input type="radio" formControlName="Rating" [checked]="RatingIs == 4 ? true : false" value="4" id="reliability-4"/>
                                <label for="reliability-4"><i class="fa fa-star"></i></label>
                                <input type="radio" formControlName="Rating" [checked]="RatingIs == 3 ? true : false" value="3"id="reliability-3"/>
                                <label for="reliability-3"><i class="fa fa-star"></i></label>
                                <input type="radio" formControlName="Rating" [checked]="RatingIs == 2 ? true : false" value="2" id="reliability-2"/>
                                <label for="reliability-2"><i class="fa fa-star"></i></label>
                                <input type="radio" formControlName="Rating" [checked]="RatingIs == 1 ? true : false" value="1" id="reliability-1"/>
                                <label for="reliability-1"><i class="fa fa-star"></i></label>
                                Rating of the order
                            </div>
                        </fieldset>     
                        <fieldset class="col-sm-6">
                            <section>
                            <label class="control-label">Review</label>
                            <label class="input">
                                <textarea formControlName="Review" rows="5" cols="40" name="Review" class="form-control" placeholder="Review" ></textarea>
                                    <b class="tooltip tooltip-bottom-right">Review</b> </label>
                            </section>
                        </fieldset>
                        <div class="clearfix"></div>
                    </form>
    
      
                    <div class="col-sm-12" style="padding: 10px">
                      <button  (click)="onSubmitForm()" class="btn btn-success pull-right"  [disabled]="ReviewsForm.invalid" style="margin-left: 10px;">
                        Save
                      </button>
                      <button  (click)="cancel()" class="btn btn-warning pull-right">
                        Cancel
                      </button>
                      <!-- <mat-progress-spinner 
                                            [diameter]="30"
                                            class="form-spinner"
                                            color="primary"
                                            mode='indeterminate'
                                            value="5">
                      </mat-progress-spinner> -->
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </sa-widgets-grid>
      </div>
      <ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         