i.fa.fa-star.customeStar {
    background: unset;
    color: unset;
}.smart-form {
  float: left;
}

@media screen and (max-width: 768px) {
    .mat-table {
      border: 0;
      vertical-align: middle
    }
  
    .mat-table caption {
      font-size: 1em;
    }
    
      Enable this to hide header
    .mat-table .mat-header-cell {
      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
    
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: left;
      font-weight: bold;
      height:30px;
      margin-bottom: 4%;
    }
    td.userimage.mat-cell.cdk-column-UserID.mat-column-UserID.ng-star-inserted {
      height: 58px;
    }
    .mat-table .mat-cell:before {
     
      
      content: attr(aria-label);
      
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
  }
  @media screen and (max-width: 768px) {
    .unit-table-container{
        overflow-x: scroll;
    }
    .mat-cell{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .mat-row{
        min-height: 30px !important;
    }
    .UserDataGrid{
        padding:  0 20px;
    }
    .mat-header-row{
      display: none !important;
    }
  }