<div class="login-info" ><!--*ngIf="us.user$ | async as user"-->
  <span><a (click)="AdminProfile()"><!--(click)="toggleShortcut()"-->
	   <img [src]="avatarUrl" alt="me"
          class="online"/><span >{{currentUser.username }}</span>&nbsp;<!--<i class="fa fa-angle-down"></i>-->
    </a>
   </span>
</div>
<!--*ngIf="user.picture" [src]="user.picture"-->