<div id="content">
  <div class="row" >
    <sa-big-breadcrumbs [items]="['Settings', 'Edit Settings']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <sa-widgets-grid>

    <div class="row">
      <article class="col-sm-12" >
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span>
              <h2>General</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form [formGroup]="SettingsForm" id="smart-form-register" novalidate="novalidate" [saUiValidate]="validationSettingsForm" >
                <fieldset>
                    <div class="col-md-12">
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="label" style="color: black;">Profix Contact Email</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="CompanyEmail" class="form-control input-md" type="text" name="CompanyEmail" placeholder="Profix Contact Email">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="label" style="color: black;">Footer Copyright Note</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="FooterCopyrightNote" class="form-control input-md" type="text" name="FooterCopyrightNote" placeholder="Footer Copyright Note">
                          </label>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">Admin Commission (%)</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="AdminCommission" class="form-control input-md" type="number" name="AdminCommission" placeholder="Admin Commission">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">Split Order</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="SplitOrder" class="form-control input-md" type="number" name="SplitOrder" placeholder="Split Order">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">GST (%)</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="GST" class="form-control input-md" type="number" name="GST" placeholder="GST">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                          <div class="form-group">
                            <label class="label" style="color: black;">Pre-Visit charges</label>
                            <label class="input" style="width: 100%;">
                              <input formControlName="PreVisitcharges" class="form-control input-md" type="number" name="PreVisitcharges" placeholder="Pre-Visit charges">
                            </label>
                          </div>
                      </div>
                      <div class="col-sm-2">
                          <div class="form-group">
                            <label class="label" style="color: black;">Next Day schedule</label>
                            <label class="input" style="width: 100%;">
                              <select formControlName="nextDayScheduleTime" class="form-control input-md">
                                  <option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23]" value="{{number}}">{{number}}</option>
                              </select> 
                            </label>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">QI/PC User Commission<br>/Per Milestone (%)</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="QIPCUserCommission" class="form-control input-md" type="number" name="QIPCUserCommission" placeholder="QI/PC User Commission/Per Milestone">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">Days before the Order<br>/Milestone will show to Appy</label>
                          <label class="input" style="width: 100%;">
                            <select formControlName="daysMilestoneWillShow" class="form-control input-md">
                                <option *ngFor="let daymnumber of [1,2,3,4,5,6,7,8,9,10]" value="{{daymnumber}}">{{daymnumber}}</option>
                            </select> 
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">Days before SP can leave <br>Order/Milestone</label>
                          <label class="input" style="width: 100%;">
                            <select formControlName="daysBeforeSPcanLeaveOrder" class="form-control input-md">
                                <option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" value="{{number}}">{{number}}</option>
                            </select> 
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">Hours before Order/Milestone<br> work should be started</label>
                          <label class="input" style="width: 100%;">
                            <select formControlName="hoursBeforeOrderStarted" class="form-control input-md">
                                <option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10]" value="{{number}}">{{number}}</option>
                            </select> 
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">Default Registration Charge</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="defaultAmountforSP" class="form-control input-md" type="number" name="defaultAmountforSP" placeholder="Default Registration Charge">  
                          </label>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <hr style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
                      <div class="col-sm-12"><h3>Paytm Merchant Configuration</h3></div>
                      <div class="col-sm-3">
                          <div class="form-group">
                            <label class="label" style="color: black;">Merchant Mid</label>
                            <label class="input" style="width: 100%;">
                                <input formControlName="MerchantMid" class="form-control input-md" type="text" name="MerchantMid" placeholder="Merchant Mid">
                              </label>
                          </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">Gateway Mode</label>
                          <label class="input" style="width: 100%;">
                            <select formControlName="GatewayMode" class="form-control input-md">
                                <option value="P">Production</option>
                                <option value="S">Staging</option>
                            </select> 
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Merchant Key</label>
                          <label class="input" style="width: 100%;">
                              <input formControlName="MerchantKey" class="form-control input-md" type="text" name="MerchantKey" placeholder="Merchant Key">
                            </label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">Website</label>
                          <label class="input" style="width: 100%;">
                              <input formControlName="Website" class="form-control input-md" type="text" name="Website" placeholder="Please enter Website">
                            </label>                            
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">Channel ID</label>
                          <label class="input" style="width: 100%;">
                              <input formControlName="ChannelId" class="form-control input-md" type="text" name="ChannelId" placeholder="Please enter Channel ID">
                            </label>                            
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Industry Type Id</label>
                          <label class="input" style="width: 100%;">
                              <input formControlName="IndustryTypeId" class="form-control input-md" type="text" name="IndustryTypeId" placeholder="Please enter Industry Type Id">
                            </label>                            
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <hr style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
                      <div class="col-sm-12"><h3>Email/SMTP</h3></div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Host</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="Host" class="form-control input-md" type="text" name="Host" placeholder="Host">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Username</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="Username" class="form-control input-md" type="text" name="Username" placeholder="Username">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Password</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="Password" class="form-control input-md" type="text" name="Password" placeholder="Password">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">Port</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="Port" class="form-control input-md" type="number" name="Port" placeholder="Port">
                          </label>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <hr style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
                      <div class="col-sm-12"><h3>SEO</h3></div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="label" style="color: black;">Home Page Title</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="HomePageTitle" class="form-control input-md" type="text" name="HomePageTitle" placeholder="Home Page Title">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="label" style="color: black;">Home Page Meta keywords</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="HomePageMetakeywords" class="form-control input-md" type="text" name="HomePageMetakeywords" placeholder="Home Page Meta keywords">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group">
                          <label class="label" style="color: black;">Home Page Meta descriptions</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="HomePageMetadescriptions" class="form-control input-md" type="text" name="HomePageMetadescriptions" placeholder="Home Page Meta descriptions">
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-12"></div>
                </fieldset>
              </form>
              <div class="clearfix"></div>
              <button type="submit" (click)="onSubmitForm()" class="btn btn-success pull-right" style="margin:5px 10px 10px 5px;">
                Update Settings
              </button>
            </div>
          </div>
        </div>
      </article>
      <div class="clearfix"></div>
    </div>
  </sa-widgets-grid>
  </div>
  <ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         
