<style>
.dateRed{
  color: red;
}
@media screen and (max-width: 768px) {
    .mat-table {
      border: 0;
      vertical-align: middle
    }
  
    .mat-table caption {
      font-size: 1em;
    }
    
    .mat-table .mat-header-cell {
      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    .mat-table .mat-row {
      border-bottom: 5px solid #ddd;
      display: block;
    }
    
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height:30px;
      margin-bottom: 4%;
    }
    .mat-table .mat-cell:before {
     
      
      content: attr(aria-label);
      
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 0;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }
  }
  @media screen and (max-width: 768px) {
    .unit-table-container{
        overflow-x: scroll;
    }
    .mat-cell{
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .mat-row{
        min-height: 30px !important;
    }
    .UserDataGrid{
        padding:  0 20px;
    }
    .mat-header-row{
      display: none !important;
    }
  }
</style>

<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Users', 'List']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <sa-widgets-grid class="UserDataGrid">


    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark" >

          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <button routerLink="/users/createnew/-1" class="btn pull-right addButton">+ Add New</button>
          </header>
          <div>
            <div class="widget-body no-padding">
              <div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By User Name , Email , ProfixID and Phone">
              </div>
              <div class="table-user unit-container mat-elevation-z8">
                <div class="unit-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>
                <!-- <div class="data-filters smart-form" style="height: 35px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                    <label class="radio1"><input type="radio" (change)="RoleBaseUsers('5cb5b2b17d799119b01c6225')" name="Role" value="5cb5b2b17d799119b01c6225" checked>Service Providers&nbsp;&nbsp;<i></i></label>
                    <label class="radio1"><input type="radio" (change)="RoleBaseUsers('5cb7fe5c6d2f510b5888660f')" name="Role" value="5cb7fe5c6d2f510b5888660f">Vendors&nbsp;&nbsp;<i></i></label>
                    <label class="radio1"><input type="radio" (change)="RoleBaseUsers('5cbd51bd56d3cb1e606a676e')" name="Role" value="5cbd51bd56d3cb1e606a676e">Super Admin&nbsp;&nbsp;<i></i></label>
                    <label class="radio1"><input type="radio" (change)="RoleBaseUsers('5cb5b2bb7d799119b01c6226')" name="Role" value="5cb5b2bb7d799119b01c6226">Payment Collectors&nbsp;&nbsp;<i></i></label>
                    <label class="radio1"><input type="radio" (change)="RoleBaseUsers('5cb7fe746d2f510b58886610')" name="Role" value="5cb7fe746d2f510b58886610">Quality Inspectors and Others&nbsp;&nbsp;<i></i></label>
                </div> -->
                <div class="data-filters smart-form" style="padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                  <div class="inline-group form-group">
                    <label class="radio"><input type="radio" (change)="RoleBaseUsers(ServiceProviderRoleID)" name="Role" value="ServiceProviderRoleID" checked><i></i>Service Providers&nbsp;&nbsp;</label>
                    <label class="radio"><input type="radio" (change)="RoleBaseUsers(VendorRoleID)" name="Role" value="VendorRoleID"><i></i>Vendors&nbsp;&nbsp;</label>
                    <label class="radio"><input type="radio" (change)="RoleBaseUsers(CustomerManagerRoleID)" name="Role" value=" CustomerManagerRoleID"><i></i>Company Managers&nbsp;&nbsp;</label>
                    <label class="radio"><input type="radio" (change)="RoleBaseUsers(SuperAdminRoleID)" name="Role" value="SuperAdminRoleID"><i></i>Super Admin&nbsp;&nbsp;</label>
                    <label class="radio"><input type="radio" (change)="RoleBaseUsers(PaymentCollectorRoleID)" name="Role" value="PaymentCollectorRoleID"><i></i>Payment Collectors&nbsp;&nbsp;</label>
                    <label class="radio"><input type="radio" (change)="RoleBaseUsers('other')" name="Role" value="other"><i></i>Quality Inspectors and Others&nbsp;&nbsp;</label>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="unit-table-container">
                  <mat-table [dataSource]="dataSource" matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header  class="width50"> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="id"> {{row._id}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="ProfixID">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth170'> Profix ID </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="Profix ID" class='customWidth170'> {{row.ProfixID}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Name </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="Name"> {{(row.FirstName + ' ' +row.MiddleName + ' ' +row.LastName) }} </mat-cell>
                    </ng-container>
                    

                    <!-- Name Column -->
                    <ng-container matColumnDef="CName">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Company Name </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="Name"> {{(row.CompanyDetail ? (row.CompanyDetail.CompanyName ? row.CompanyDetail.CompanyName : row.VendorCompanyID.CompanyDetail.CompanyName) :  '---')  }} </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="Email">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Email </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="Email"> {{row.Email }} </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="Phone">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="customWidth100"> Mobile </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="Mobile" class="customWidth100"> {{row.Phone }} </mat-cell>
                    </ng-container>

                    <!-- type Column -->
                    <ng-container matColumnDef="type">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth80'> Type </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="type" class='customWidth80'> {{row.type ? row.type : '--'}} </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="Role">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth150'> Role </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="Role" class='customWidth150'> {{row.Role.Name  + (row.VendorType == 'B' ? " / Branch" : (row.VendorType == 'C' ? " / Company" : ''))}} </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="Locality">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Locality </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="Locality"> {{row.Locality.Name}} </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="City">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> City </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="City"> {{row.City.Name}} </mat-cell>
                    </ng-container>

                    <!-- State Column -->
                    <ng-container matColumnDef="State">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> State </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="State"> {{row.State.Name}} </mat-cell>
                    </ng-container>

                    <!-- ExpiryDate Column -->
                    <ng-container matColumnDef="ExpiryDate">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth125'>A/C Expiry Date </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="A/C Expiry Date" class='customWidth125'> <span *ngIf="row.EndDate" [class.dateRed]='getEndDate(row.EndDate)'>{{row.EndDate ? (row.EndDate | date: 'dd-MMM-yyyy') : ''}}</span></mat-cell>
                    </ng-container>
					
					          <ng-container matColumnDef="Block">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth80'>Blocked </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index;"  data-label="A/C Blocked" class='customWidth80'> 
                        <!-- {{row.Account_Block ?  'Yes' : 'No'}}  -->
                        <label class="file smart-form">
                          <label class="toggle state-success" style="margin-top:-10px; "><input type="checkbox" [(ngModel)]="row.Account_Block"  (change)="chcekBlock(row._id , i , row.Account_Block)" name="checkbox-toggle"><i  data-swchon-text="YES" data-swchoff-text="NO"></i></label>
                          <b class="tooltip tooltip-bottom-right">Account Block</b> </label>
                      </mat-cell><!-- [(ngModel)]="blk"  (change)="chcekBlock(i , blk)"-->
                    </ng-container>	

					          <ng-container matColumnDef="Available">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth100'>Available </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index;"  data-label="Available" class='customWidth100'> 
                        <!-- {{row.IsAvailable ?  (row.IsAvailable  ? 'Yes' : 'No') : ''}}  -->
                      <label class="file smart-form">
                          <label class="toggle state-success" style="margin-top:-10px; "><input type="checkbox" [(ngModel)]="row.IsAvailable"  (change)="chcekAvailable(row._id , i , row.IsAvailable)" name="checkbox-toggle"><i  data-swchon-text="YES" data-swchoff-text="NO"></i></label>
                          <b class="tooltip tooltip-bottom-right">Is Available</b> </label>
                      </mat-cell><!-- [(ngModel)]="blk"  (change)="chcekBlock(i , blk)"-->
                    </ng-container>


                    <!-- Name Column -->
                    <ng-container matColumnDef="SN">
                      <mat-header-cell *matHeaderCellDef mat-sort-header id="sn" class='customWidth80'> SN. </mat-header-cell>
                      <mat-cell *matCellDef="let row ; let i = index;" class='customWidth80'  data-label="SN."> {{pageIndex+i+1}} </mat-cell>
                    </ng-container>


                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                      <mat-header-cell *matHeaderCellDef class='customWidth170'>Actions</mat-header-cell>
                      <mat-cell *matCellDef="let row"   data-label="Action" class='customWidth170'>
                        <a *ngIf="row._id != currentUser.id" class="text-primary" title="Edit" routerLink="/users/edit/{{row._id}}" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                        <span *ngIf="row._id != currentUser.id">&nbsp;|&nbsp;</span>
                        <a *ngIf="row._id != currentUser.id" id="user_delete" id="userTableAction" title="Delete" class="text-danger" (click)="delete(row._id)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                        <span *ngIf="row.Role.Name == 'Service Provider'">&nbsp;|&nbsp;</span>
                        <a *ngIf="row.Role.Name == 'Service Provider'" class="text-primary" title="Skills" routerLink="/users/serviceprovider/{{row._id}}/SP" style="cursor:pointer;"><i class="fa fa-eye"></i></a>
                        <span *ngIf="row.Role.Name == 'Vendor'">&nbsp;|&nbsp;</span>
                        <a *ngIf="row.Role.Name == 'Vendor' && row.VendorType != 'B'" class="text-primary"  title="Services" routerLink="/users/vender/{{row._id}}/VN" style="cursor:pointer;"><i class="fa fa-eye"></i></a>
                        <span *ngIf="row.Role.Name == 'Vendor' && row.VendorType != 'B'">&nbsp;|&nbsp;</span>
                        <a *ngIf="row.Role.Name == 'Vendor'" class="text-primary"  title="Commissions" routerLink="/commissions/{{row._id}}" style="cursor:pointer;"><i class="fa fa-percent"></i></a>
                        <!-- <span *ngIf="row.Role.Name == 'Service Provider'">&nbsp;|&nbsp;</span>
                        <a *ngIf="row.Role.Name == 'Service Provider'" class="text-primary" style="cursor:pointer;"><i class="fa fa-percent"></i></a> -->
                      </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
                <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                <mat-paginator #paginator
               [pageSize]="limit"
               [pageSizeOptions]="pageLimit"
               (page)="changePage($event)" showFirstLastButtons>
</mat-paginator>

              </div>
            </div>
          </div>
        </div>

      </article>


    </div>

  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         
