<div id="content">
  <div class="row">
    <div class="col-sm-8">
      <label><b>Service Provider Details :</b></label> <br />
      <label>Name : </label> {{ ServiceProvider.FirstName }} {{ ServiceProvider.LastName }} <br />
      <label>Email : </label> {{ ServiceProvider.Email }} <br />
    </div>
    <div class="col-sm-4 pull-right">
        <button (click)="back()" class="btn btn-primary pull-right backButton">Back</button>
        <button (click)="SaveSPSkills()" class="btn btn-success pull-right">Save</button>
    </div>
  </div>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">
          <div>
            <div class="widget-body no-padding">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th></th>
                      <th>Service Name</th>
                      <th>Service Category</th>
                      <th *ngIf='Type== "SP"'>Avg Capacity / Day</th>
                      <th  *ngIf='Type== "SP"'></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let service of Services; let i = index;">
                      <td><input type="checkbox"  [(ngModel)]=service.skill  /></td>
                      <td>
                        {{service.Name}}
                      </td>
                      <td>
                        {{service.Category}}
                      </td>
                      <td *ngIf='Type== "SP"'  class='avgCapacityColumns'><input min="0" class="form-control avgCapacityField" type="number"  [(ngModel)]=service.avgCapacity  /></td>
                      <td  *ngIf='Type== "SP"'  class='avgCapacityField'>{{service.Unit}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         