<style>

    @media screen and (max-width: 768px) {
        .mat-table {
          border: 0;
          vertical-align: middle
        }
      
        .mat-table caption {
          font-size: 1em;
        }
        
        .mat-table .mat-header-cell {
          
          border: 10px solid;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          padding: 0;
          position: absolute;
          width: 1px;
        }
    
        .mat-table .mat-row {
          border-bottom: 5px solid #ddd;
          display: block;
        }
        
        .mat-table .mat-row:nth-child(even) {background: #CCC}
        .mat-table .mat-row:nth-child(odd) {background: #FFF}
        
        .mat-table .mat-cell {
          border-bottom: 1px solid #ddd;
          display: block;
          font-size: 1em;
          text-align: right;
          font-weight: bold;
          height:30px;
          margin-bottom: 4%;
        }
        .mat-table .mat-cell:before {
         
          
          content: attr(aria-label);
          
          content: attr(data-label);
          float: left;
          text-transform: uppercase;
          font-weight: normal;
          
          font-size: .85em;
        }
        .mat-table .mat-cell:last-child {
          border-bottom: 0;
        }
        .mat-table .mat-cell:first-child {
          margin-top: 4%;
        }
      }
      @media screen and (max-width: 768px) {
        .unit-table-container{
            overflow-x: scroll;
        }
        .mat-cell{
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .mat-row{
            min-height: 30px !important;
        }
        .UserDataGrid{
            padding:  0 20px;
        }
        .mat-header-row{
          display: none !important;
        }
        .table td {
            width: 50% !important;
            float: left;
        }
      }
    </style>
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Company', 'Detail']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>

  <div sa-widget class="col-sm-12">
    <div class="card card-accent-primary">

      <div class="card-body" id="print-section" id="manager-fullFormDetails" *ngIf='getTCData'>
        <h3>Company Details</h3>
        <div class="row">
          <div class="col-xs-12">
            <table class="table">
              <tr>
                <td><b>Company Type : </b></td> <td>{{CompanyDetails.Type}}</td>
                <td><b>Company Name : </b></td><td>{{CompanyDetails.Name}}</td>
                <td><b>Company Email : </b></td><td>{{CompanyDetails.Email}}</td>
                
              </tr>
              <tr>
                  <td><b>Company Manager : </b></td> <td>{{CompanyDetails.Manager.FirstName + " " +CompanyDetails.Manager.LastName}}</td>
                  <td><b>Manager Email : </b></td><td>{{CompanyDetails.Manager.Email}}</td>
                  <td><b>Manager Contact : </b></td><td>{{CompanyDetails.Manager.Phone}}</td>
                  
                </tr>

              <tr>
                  <td *ngIf='CompanyDetails.Phone'><b>Company Phone : </b></td><td *ngIf='CompanyDetails.Phone'>{{CompanyDetails.Phone}}</td>
                  <td><b> Credit Limits : </b></td><td>{{CompanyDetails.FinancialDetails.CraditLimits | currency : 'INR'}}</td>
                  <td><b>  Credit Days : </b></td><td>{{CompanyDetails.FinancialDetails.CraditDays + ' Days'}}</td>
              </tr>
            </table>
          </div>
          
        </div>

        
        <h3>Service Providers</h3>
        <sa-widgets-grid>


            <div class="row">
              <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark" >
        
                  <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <button (click)='goToCreateUser()' class="btn pull-right addButton">+ Add New</button>
                  </header>
                  <div>
                      <div class="widget-body no-padding">
                          <div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                            <input matInput (keyup)="applyFilterCompanyUser($event.target.value)" placeholder="Filter By Name , ProfixID or Phone  ">
                          </div>
                          <div class="table-user unit-container mat-elevation-z8">
                            <div class="unit-loading-shade"
                                 *ngIf="isLoadingResults || isRateLimitReached">
                              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                              <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                                API rate limit has been reached. It will be reset in one minute.
                              </div>
                            </div>
            
                            <div class="unit-table-container">
                              <mat-table [dataSource]="SPdataSource" matSort>
            
                                <!-- ID Column -->
                                <ng-container matColumnDef="_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header  class="width50"> ID </mat-header-cell>
                                  <mat-cell *matCellDef="let row"  data-label="id"> {{row._id}} </mat-cell>
                                </ng-container>
        
                                <!-- TeamName Column -->
                                <ng-container matColumnDef="ProfixID">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth150'> Profix ID </mat-header-cell>
                                    <mat-cell *matCellDef="let row"  data-label="ProfixID" class='customWidth150'> {{row.ProfixID }} </mat-cell>
                                  </ng-container>
            
        
            
                                <!-- TLID Column -->
                                <ng-container matColumnDef="Name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                  <mat-cell *matCellDef="let row"  data-label="Name"> {{row.FirstName + ' ' + row.LastName}} </mat-cell>
                                </ng-container>
            
            
                                <!-- Name Column -->
                                <ng-container matColumnDef="SN">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header id="sn" class='customWidth80'> S. No </mat-header-cell>
                                  <mat-cell *matCellDef="let row ; let i = index;" class='customWidth80'  data-label="SN"> {{i+1}} </mat-cell>
                                </ng-container>

                                <!-- Name Column -->
                                <ng-container matColumnDef="Phone">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header id="sn" class='customWidth100'> Mobile </mat-header-cell>
                                  <mat-cell *matCellDef="let row ; let i = index;" class='customWidth100'  data-label="Phone"> {{row.Phone}} </mat-cell>
                                </ng-container>

                                <!-- ExpiryDate Column -->
                    <ng-container matColumnDef="ExpiryDate">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth125'>A/C Expiry Date </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="A/C Expiry Date" class='customWidth125'> <span *ngIf="row.EndDate" [class.dateRed]='getEndDate(row.EndDate)'>{{row.EndDate ? (row.EndDate | date: 'dd-MMM-yyyy') : ''}}</span></mat-cell>
                    </ng-container>

                    
                    <!-- ExpiryDate Column -->
                    <ng-container matColumnDef="Type">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth80'>Type </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="Type" class='customWidth80'> {{row.type}}</mat-cell>
                    </ng-container>
                      
					
					          <ng-container matColumnDef="Block">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth100'>Blocked </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index;"  data-label="A/C Blocked" class='customWidth100'> {{row.Account_Block ?  'Yes' : 'No'}} </mat-cell><!-- [(ngModel)]="blk"  (change)="chcekBlock(i , blk)"-->
                    </ng-container>	

					          <ng-container matColumnDef="Available">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth100'>Available </mat-header-cell>
                      <mat-cell *matCellDef="let row; let i = index;"  data-label="Available" class='customWidth100'> 
                        <!-- {{row.IsAvailable ?  (row.IsAvailable == 'Y' ? 'Yes' : 'No') : ''}}  -->
                        <label class="file smart-form">
                            <label class="toggle state-success" style="margin-top:-10px; "><input type="checkbox" [(ngModel)]="row.IsAvailable"  (change)="chcekAvailable(row._id , i , row.IsAvailable)" name="checkbox-toggle"><i  data-swchon-text="YES" data-swchoff-text="NO"></i></label>
                            <b class="tooltip tooltip-bottom-right">Is Available</b> </label>
                      </mat-cell><!-- [(ngModel)]="blk"  (change)="chcekBlock(i , blk)"-->
                    </ng-container>

            
            
                                <!-- Action Column -->
                                <ng-container matColumnDef="Action">
                                  <mat-header-cell *matHeaderCellDef class='customWidth100'>Action</mat-header-cell>
                                  <mat-cell *matCellDef="let row"   data-label="Action" class='customWidth100'>
                                    <!-- <a class="text-primary" routerLink="/team-company/viewDetail/{{row._id}}" style="cursor:pointer;"><i class="fa fa-users"></i></a>
                                    &nbsp;|&nbsp; -->
                                    <a title='Edit' class="text-primary" (click)="updateUser(row._id)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>&nbsp;
                                    <a title='Delete' class="text-danger" (click)="deleteUser(row._id)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                                  </mat-cell>
                                </ng-container>
            
            
                                <mat-header-row *matHeaderRowDef="displayedSPColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedSPColumns;"></mat-row>
                              </mat-table>
                            </div>
                            <div *ngIf="SPdataSource && SPdataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                            <mat-paginator #paginator2 [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
            
                          </div>
                        </div>
                  </div>
                </div>
        
              </article>
        
        
            </div>
        
          </sa-widgets-grid> 

          <h3>Teams</h3>
        <sa-widgets-grid>


            <div class="row">
              <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark" >
        
                  <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <button (click)='goToCreateTeam()' class="btn pull-right addButton">+ Add New</button>
                  </header>
                  <div>
                      <div class="widget-body no-padding">
                          <div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Team Name">
                          </div>
                          <div class="table-user unit-container mat-elevation-z8">
                            <div class="unit-loading-shade"
                                 *ngIf="isLoadingResults || isRateLimitReached">
                              <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                              <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                                API rate limit has been reached. It will be reset in one minute.
                              </div>
                            </div>
            
                            <div class="unit-table-container">
                              <mat-table [dataSource]="TeamdataSource" matSort>
            
                                <!-- ID Column -->
                                <ng-container matColumnDef="_id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header  class="width50"> ID </mat-header-cell>
                                  <mat-cell *matCellDef="let row"  data-label="id"> {{row._id}} </mat-cell>
                                </ng-container>
        
                                <!-- TeamName Column -->
                                <ng-container matColumnDef="TeamName">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Team Name </mat-header-cell>
                                    <mat-cell *matCellDef="let row"  data-label="TeamName"> {{row.TeamName }} </mat-cell>
                                  </ng-container>
            
        
            
                                <!-- TLID Column -->
                                <ng-container matColumnDef="TLID">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> TL Name </mat-header-cell>
                                  <mat-cell *matCellDef="let row"  data-label="TL Name"> {{row.TLID ? row.TLID.FirstName + ' ' + row.TLID.LastName : ''}} </mat-cell>
                                </ng-container>
            
                                <!-- Projects Column -->
                                <ng-container matColumnDef="Projects">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header class="width125">Projects </mat-header-cell>
                                  <mat-cell *matCellDef="let row"  data-label="Projects"> {{row.Projects  ? row.Projects.ProjectName : '---'}} </mat-cell>
                                </ng-container>
            
                                <!-- Name Column -->
                                <ng-container matColumnDef="SN">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header id="sn" class='customWidth80'> S. No </mat-header-cell>
                                  <mat-cell *matCellDef="let row ; let i = index;" class='customWidth80'  data-label="SN"> {{i+1}} </mat-cell>
                                </ng-container>
            
            
                                <!-- Action Column -->
                                <ng-container matColumnDef="Action">
                                  <mat-header-cell *matHeaderCellDef class='customWidth100'>Action</mat-header-cell>
                                  <mat-cell *matCellDef="let row"   data-label="Action" class='customWidth100'>
                                    <!-- <a class="text-primary" routerLink="/team-company/viewDetail/{{row._id}}" style="cursor:pointer;"><i class="fa fa-users"></i></a>
                                    &nbsp;|&nbsp; -->
                                    <a title='Edit' class="text-primary" (click)="update(row._id)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>&nbsp;
                                    <a title='Delete' class="text-danger" (click)="delete(row._id,row.TLID._id)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                                  </mat-cell>
                                </ng-container>
            
            
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                              </mat-table>
                            </div>
                            <div *ngIf="TeamdataSource && TeamdataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                            <mat-paginator #paginator3 [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
            
                          </div>
                        </div>
                  </div>
                </div>
        
              </article>
        
        
            </div>
        
          </sa-widgets-grid> 
      </div>
    </div>


  </div>
</div>
