<style>

    @media screen and (max-width: 768px) {
        .mat-table {
          border: 0;
          vertical-align: middle
        }
      
        .mat-table caption {
          font-size: 1em;
        }
        
        .mat-table .mat-header-cell {
          
          border: 10px solid;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          padding: 0;
          position: absolute;
          width: 1px;
        }
    
        .mat-table .mat-row {
          border-bottom: 5px solid #ddd;
          display: block;
        }
        
        .mat-table .mat-row:nth-child(even) {background: #CCC}
        .mat-table .mat-row:nth-child(odd) {background: #FFF}
        
        .mat-table .mat-cell {
          border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height: 53px !important;
      line-height: 53px;
      max-width: 100% !important;
        }
        .mat-table img{
          width: 50px !important;
        }
        .mat-table .mat-cell:before {
         
          content: attr(aria-label);
      
          content: attr(data-label);
          float: left;
          text-transform: uppercase;
          font-weight: normal;
          
          font-size: .85em;
        }
        .mat-table .mat-cell:last-child {
          border-bottom: 0;
        }
          .mat-table .mat-cell:first-child {
            margin-top: 0%;
          max-width: 100% !important;
          line-height: 41px;
          height: 40px;
        }
      }
      @media screen and (max-width: 768px) {
        .unit-table-container{
            overflow-x: scroll;
        }
        .mat-cell{
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .mat-row{
            min-height: 30px !important;
        }
        .UserDataGrid{
            padding:  0 20px;
        }
        .mat-header-row{
          display: none !important;
        }
      }
    </style>
    
<div id="content">
  <div class="row" >
    <sa-big-breadcrumbs [items]="['Company', 'Add']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <sa-widgets-grid class="UserDataGrid">

    <div class="row">
      <article class="col-sm-12" >
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span>
              <h2>Add Company</h2>
              <button class="btn pull-right addButton" routerLink="/companies/createnew/-1">+ Add New</button>
          </header>
          <div>
              <div class="widget-body no-padding">
                  <div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Company Name or Email  ">
                  </div>
                  <div class="table-user unit-container mat-elevation-z8">
                    <div class="unit-loading-shade"
                         *ngIf="isLoadingResults || isRateLimitReached">
                      <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                      <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                        API rate limit has been reached. It will be reset in one minute.
                      </div>
                    </div>
    
                    <div class="unit-table-container">
                      <mat-table [dataSource]="dataSource" matSort>
    
                        <!-- ID Column -->
                        <ng-container matColumnDef="_id">
                          <mat-header-cell *matHeaderCellDef mat-sort-header  class="width50"> ID </mat-header-cell>
                          <mat-cell *matCellDef="let row"  data-label="id"> {{row._id}} </mat-cell>
                        </ng-container>
 
    
                        <!-- Name Column -->
                        <ng-container matColumnDef="Name">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="width125">Company Name </mat-header-cell>
                          <mat-cell *matCellDef="let row"  data-label="Name"> {{row.Name }} {{row.Name.length > 20 ? '...': ''}} </mat-cell>
                        </ng-container>
    
                        <!-- Email Column -->
                        <ng-container matColumnDef="Email">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="width125">Company Email </mat-header-cell>
                          <mat-cell *matCellDef="let row"  data-label="Email"> {{row.Email | slice:0:20}} {{row.Email.length > 20 ? '...': ''}} </mat-cell>
                        </ng-container>
    
                        <!-- type Column -->
                        <ng-container matColumnDef="Type">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth80'> Type </mat-header-cell>
                          <mat-cell *matCellDef="let row"  data-label="type" class='customWidth80'> {{row.Type }} </mat-cell>
                        </ng-container>

                        <!-- Manager Column -->
                        <ng-container matColumnDef="Manager">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class='customWidth125'> Manager </mat-header-cell>
                            <mat-cell *matCellDef="let row"  data-label="mnager" class='customWidth125'> {{row.Manager.FirstName + ' ' + row.Manager.LastName }} </mat-cell>
                          </ng-container>
    

    
                        <!-- Email Column -->
                        <ng-container matColumnDef="CraditLimits">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Credit Limits </mat-header-cell>
                          <mat-cell *matCellDef="let row"  data-label="CraditLimits"> {{row.FinancialDetails.CraditLimits | currency : 'INR'}} </mat-cell>
                        </ng-container>
    
                        <!-- Email Column -->
                        <ng-container matColumnDef="CraditDays">
                          <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Credit Days </mat-header-cell>
                          <mat-cell *matCellDef="let row"  data-label="CraditDays"> {{row.FinancialDetails.CraditDays}} Days </mat-cell>
                        </ng-container>
    
                        <!-- Name Column -->
                        <ng-container matColumnDef="SN">
                          <mat-header-cell *matHeaderCellDef mat-sort-header id="sn" class='customWidth80'> S. No </mat-header-cell>
                          <mat-cell *matCellDef="let row ; let i = index;" class='customWidth80'  data-label="SN"> {{pageIndex+i+1}} </mat-cell>
                        </ng-container>
    
    
                        <!-- Action Column -->
                        <ng-container matColumnDef="Action">
                          <mat-header-cell *matHeaderCellDef class='customWidth100'>Action</mat-header-cell>
                          <mat-cell *matCellDef="let row"   data-label="Action" class='customWidth100'>
                            <a title='Detail' class="text-primary" routerLink="/companies/viewDetail/{{row._id}}" style="cursor:pointer;"><i class="fa fa-users"></i></a>
                            &nbsp;|&nbsp;
                            <a title='Edit' class="text-primary" routerLink="/companies/update/{{row._id}}" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>

                             <span >&nbsp;|&nbsp;</span>
                            <a title='Delete' class="text-danger" (click)="delete(row._id)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                           <!-- <span *ngIf="row.Role == 'Service Provider'">&nbsp;|&nbsp;</span>
                            <a *ngIf="row.Role == 'Service Provider'" class="text-primary" routerLink="/users/serviceprovider/{{row._id}}/SP" style="cursor:pointer;"><i class="fa fa-eye"></i></a>
                            <span *ngIf="row.Role == 'Vendor'">&nbsp;|&nbsp;</span>
                            <a *ngIf="row.Role == 'Vendor'" class="text-primary" routerLink="/users/serviceprovider/{{row._id}}/VN" style="cursor:pointer;"><i class="fa fa-eye"></i></a> -->
                          </mat-cell>
                        </ng-container>
    
    
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>
                    </div>
                    <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                    <mat-paginator #paginator
               [pageSize]="limit"
               [pageSizeOptions]="pageLimit"
               (page)="changePage($event)" showFirstLastButtons>
</mat-paginator>
    
                  </div>
                </div>
            <div class="widget-body no-padding" style="display: none">
             <table class="table table-bordered table-responsive responsive">
               
                 <th>Company Name</th>
                 <th>  Company's Email</th>
                 <!-- <th> Company Manager</th> -->
                 <th> Company Type</th>
                 <th> Credit Limit</th>
                 <th> Credit Days</th>
                 <th> Action</th>
              
               <tbody>
                 <tr *ngFor='let comp of Companies'>
                    <td>{{comp.Name}}</td>
                    <td> {{comp.Email}}</td>
                    <!-- <td> {{comp.Manager.FirstName+ ' ' +comp.Manager.LastName}}</td> -->
                    <td> {{comp.Type}}.</td>
                    <td> {{comp.FinancialDetails.CraditLimits}}</td>
                    <td> {{comp.FinancialDetails.CraditDays}}</td>
                    <td><i class="fa fa-pencil" routerLink="/companies/createnew/-1"></i> | <i class="fa fa-eye" routerLink="/companies/createnew/-1"></i></td>
                 </tr>
                 
               </tbody>
             </table>
            </div>
          </div>
        </div>
      </article>
      <div class="clearfix"></div>
    </div>
  </sa-widgets-grid>
  </div>
  <ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>
