<div id="content">
  <div class="row" >
    <sa-big-breadcrumbs [items]="['Company', 'Add']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>
  <sa-widgets-grid>

    <div class="row">
      <article class="col-sm-12" >
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Add Company</h2>
          </header>
          <div>
          <div class="widget-body no-padding" *ngIf='renderData'>
            <mat-horizontal-stepper linear="isLinear" #stepper>
              <mat-step ><!---->
                <ng-template matStepLabel>Basic Information</ng-template>
                <form  [formGroup]='CompanyForm' novalidate="novalidate" [saUiValidate]="validationCompanyForm" id="smart-form-register" >
                  <fieldset>
                    <div class="row">
                      <div class="col-sm-12"><h3>Basic Details</h3></div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Company Type<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <select formControlName='Type' class="form-control input-md" name='CompanyType'>
                              <option value="" selected disabled>-Select-</option>
                              <!-- <option *ngFor="let type of ['Pvt. LTD.','Public LTD.','Partnership','LLP','Trust','Society']" value="{{type}}">{{type}}</option> -->
                              <option *ngFor="let type of CompanyType" value="{{type.value}}">{{type.ctype}}</option>
                          </select>
                          </label>
                        </div>
                      </div>
                      
                      <div class="clearfix"></div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Company Name<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input formControlName='Name' (change)="validateNameEmail($event.target.value , 'Name')" class="form-control input-md" type="text" name="CompanyName" placeholder="Company Name">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3" *ngIf="ID == '-1'">
                        <div class="form-group">
                          <label class="label" style="color: black;">Company Email<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input formControlName='Email' (keyup)='lowerCase($event.target.value)' (change)="validateNameEmail($event.target.value , 'Email')" class="form-control input-md" type="text" name="CompanyEmail" placeholder="Company Email" #Emailfield/>
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Company Phone<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input formControlName='Phone' OnlyNumber='true' [minLength]='10' class="form-control input-md" type="text" name="CompanyPhone" placeholder="Company Phone">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-12"></div>
                      <div class="col-sm-12"><h3>Account Info For Company Manager</h3></div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">First Name<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input  formControlName='FirstName' OnlyText='true' class="form-control input-md" type="text" name="FirstName" placeholder="First Name">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Middle Name</label>
                          <label class="input" style="width: 100%;">
                            <input  formControlName='MiddleName' OnlyText='true' class="form-control input-md" type="text" name="MiddleName" placeholder="Middle Name">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Last Name</label>
                          <label class="input" style="width: 100%;">
                            <input  formControlName='LastName' OnlyText='true' class="form-control input-md" type="text" name="LastName" placeholder="Last Name">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-12"></div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Email<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input  formControlName='ManagerEmail'  (keyup)='lowerCaseManagerEmail($event.target.value)' (change)='checkEmail($event.target.value)' class="form-control input-md" type="text" name="ManagerEmail" placeholder="Manager Email">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Mobile<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input  formControlName='ManagerPhone' OnlyNumber='true' [maxLength]='10' class="form-control input-md" type="text" name="ManagerPhone" placeholder="Manager Phone">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-12"></div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Password<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input id='CompanyPassword' formControlName='Password' class="form-control input-md" type="password" name="CompanyPassword" placeholder="Company Password">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Confirm Password<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input formControlName='ConfirmPassword' class="form-control input-md" type="password" name="CompanyConfirmPassword" placeholder="Company Confirm Password">
                          </label>
                        </div>
                      </div>
                      <!-- <div class="col-sm-4">
                        <div class="form-group">
                          <label class="label" style="color: black;">Company Manager</label>
                          <label class="input" style="width: 100%;">
                              <select formControlName='Manager' class="form-control input-md" name='Manager'>
                                  <option value="" selected disabled>--- Select ---</option>
                                  <option *ngFor="let type of Users" value="{{type._id}}">{{type.FirstName+' '+type.LastName}}</option>
                              </select>
                          </label>
                        </div>
                      </div> -->
                      </div>
                  </fieldset>
                  <div class="clearfix mt-5"></div>
                  
                  <!-- <button type="submit" (click)="onSubmitForm()" class="btn btn-success pull-right" style="margin:5px 10px 10px 5px;">
                    Save
                  </button> -->
                  <div class="col-sm-12" style="margin-top:15px;padding-top: 25px;border-top: 2px solid gray;margin: 0;">
                      <div class="col-xs-6 pull-right text-right">
                        <button mat-button  mat-raised-button color="primary" class="btn btn-primary" (click)='goToDocumentStep()'>Next</button>
                      </div>
                    </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Documents Information</ng-template>
                <!-- <div class="col-sm-12"><h3>Document Details</h3></div>-->
                

                <div class="card-body" style="margin-top: 10px">
                    <div class="row">
                      <div class="col-sm-12"><h3>Company Documents</h3></div>
                        <div class="col-sm-12">
                          <p class="note-document">
                            Note: Please put your document ID number, browse file and then click upload button to upload file.<br>
                            Upload Only jpg, jpeg, png , doc , docx and pdf file (Size below 1MB)
                          </p>
                        </div>
                      </div>
                  <div class="row" *ngFor="let item of allDocuments;let i = index">
                    <div class="col-md-2">
                     
                      <label class="pt-3">{{item.Name}}<strong *ngIf="(CompanyForm.value.Type != 'Un-Registered' && item.Name != 'Registration Amount Receipt')" style="color: red;"><sup>*</sup></strong></label>
                    </div>
                    <mat-form-field class="col-md-3" [hintLabel]="item.Name == 'PAN' ? '10 character PAN Number (pattern - QWERT4584T)': (item.Name == 'Aadhar' ? '12 digit Aadhar number': null)">
                      <input matInput [(ngModel)]="item.value" placeholder="{{item.Name}} Number" [minlength]="item.Length" [maxlength]="item.Length" [attr.pattern]="item.Pattern" (blur)="checkPatternValidation(item.value, item.Pattern)">
                    </mat-form-field>
                    <div class="col-md-3">
                      <input *ngIf="!documentUploadedArray[item.Name]"  accept=".jpg,.jpeg,.png ,.doc,.docx,.pdf" type="file" [id]='i' class="form-control" (change)="onFileChange($event, item.Name)">
                    </div>
                    <div class="col-md-1">
                       <span *ngIf="documentUploadedArray[item.Name]">File uploaded</span>
                    </div>

                    <div class="col-md-3 text-right">
                     
                      <button mat-button mat-raised-button color="primary" *ngIf="documentUploadedArray[item.Name]" (click)="deleteFile(item.Name)"><i class="fa fa-trash fileTrash">&nbsp;</i>Delete</button>&nbsp;
                      <button *ngIf="!documentUploadedArray[item.Name]" mat-button mat-raised-button color="primary" [disabled]="!item.value || (item.Length && item.value.length != item.Length ) || !allImages[item.Name] || !(item.value.match(item.Pattern))" (click)="addDocumentDetail(item.value, item.Name)"><i class="fa fa-plus">&nbsp;</i>Upload</button>
                    </div>
                  </div>
                </div>

                <div class="col-sm-12" style="padding-top: 22px;border-top: 2px solid gray;margin: 0;">
                  <div class="col-xs-6 text-left">
                      <button mat-button matStepperPrevious mat-raised-button color="primary" class="btn" style="background-color: black;color: white;">Back</button>
                    </div>
                  <div class="col-xs-6 text-right">
                    <button mat-button mat-raised-button color="primary" class="btn btn-primary" (click)='goToAddressStep()'>Next</button>
                  </div>
                </div>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Office Addresses</ng-template>
                
                <div class=col-sm-12>
                <form [formGroup]='CompanyOfficeAddressForm'  novalidate="novalidate" [saUiValidate]="validationCompanyOfficeAddressOptions">        
                    <fieldset class='customFieldset'>
                        <legend  class='customlegend'>Office Address</legend>
                        
                        <div class="col-sm-3 smart-form">
                            <div class="inline-group form-group">
                              <label class="label" style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">&nbsp;</label>
                              <label class="radio">
                                <input type="radio" formControlName="Office"  name="Office" value="H">
                                <i></i>Head Office</label>
                              <label class="radio">
                                <input type="radio" formControlName="Office"  name="Office" value="B">
                                <i></i>Branch Office</label>
                            </div>
                          </div>
                      <div class="clearfix"></div>
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black">State<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="select" style="width: 100%;">
                            <select formControlName="State" class="form-control input-md" name="VAState" (change)="getAllCitiesByStateVendorAddress($event.target.value)">
                              <option value="" selected disabled>Select State</option>
                              <option *ngFor="let st of States" value="{{st._id}}" >{{st.Name}}</option>
                            </select>
                            <i></i>
                          </label>
                        </div>
      
                      </div>
      
                      <div class="col-sm-2">
                        <div class="form-group">
                          <label class="label" style="color: black;">City<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="select" style="width: 100%;">
                            <select formControlName="City" class="form-control input-md" name="VACity" ><!--(change)="getAllLocalitiesByCityVendorAdderss($event.target.value)"-->
                              <option value="" selected disabled>Select City</option>
                              <option *ngFor="let ct of CompanyOfficeAddressCities" value="{{ct._id}}" >{{ct.Name}}</option>
                            </select>
                            <i></i>
                          </label>
                        </div>
      
                      </div>
                      
      
                      <div class="col-sm-1">
                        <div class="form-group">
                          <label class="label" style="color: black;">Pin<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="Pin" type="text" OnlyNumber='true' [maxLength]='6' name="VAPin" class="form-control input-md" placeholder="Pin">
                            <b class="tooltip tooltip-bottom-right">Pin</b> </label>
      
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-sm-5">
                          <div class="form-group">
                            <label class="label" style="color: black;">Address<strong style="color: red;"><sup>*</sup></strong></label>
                            <label class="input" style="width: 100%;">
                              <textarea formControlName="Address" name="VAAddress" class="form-control input-md" rows="3" placeholder="Please put your Apartment or Flat or House Number and Street name." ></textarea>
                              <b class="tooltip tooltip-bottom-right">Address</b> </label>
                          </div>
                        </div>
                        <div class='clearfix'></div>
                        <div class='col-sm-12'><legend  class='legendBorder'>Point of Contact For Profix</legend></div>
                        <div class="col-sm-3">
                            <div class="form-group">
                              <label class="label" style="color: black;">Contact Person's Name<strong style="color: red;"><sup>*</sup></strong></label>
                              <label class="input" style="width: 100%;">
                                <input formControlName="Name" name="VAName" type="text" class="form-control input-md"  placeholder="Contact Person's Name">
                                <b class="tooltip tooltip-bottom-right">Pin</b> </label>
          
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label class="label" style="color: black;">Contact Person's Number<strong style="color: red;"><sup>*</sup></strong></label>
                              <label class="input" style="width: 100%;">
                                <input formControlName="Number" name="VANumber" type="text" OnlyNumber='true' [minLength]='10' class="form-control input-md"  placeholder="Contact Person's Number">
                                <b class="tooltip tooltip-bottom-right">Pin</b> </label>
          
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label class="label" style="color: black;">Contact Person's Email<strong style="color: red;"><sup>*</sup></strong></label>
                              <label class="input" style="width: 100%;">
                                <input formControlName="Email" name="VAEmail" type="email" class="form-control input-md" placeholder="Contact Person's Email">
                                <b class="tooltip tooltip-bottom-right">email</b> </label>
                            </div>
                          </div>
                        <div class='col-sm-12'>
                            <button type="submit" (click)='addCompanyOfficeAddress()' class='btn btn-primary'>{{ID == '-1' ? (SelectedCompanyOfficeAddress == '-1' ? 'Add' : 'Update' ) : (SelectedCompanyOfficeAddress == '-1' ? 'Save' : 'Update' )}} Address</button>
                          </div>
                    </fieldset>
                    
                  </form>  
                  <div *ngIf='CompanyOfficeAddress.length > 0' class="row Horientalline"></div>
                  <h4 *ngIf='CompanyOfficeAddress.length > 0'><legend  class='legendBorderNone'>Office Addresses</legend></h4>
                  <table class="table table-responsive" *ngIf='CompanyOfficeAddress.length > 0'>
                    <thead>
                        <th>Office</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Action</th>
                    </thead>
                    <tbody *ngFor='let va of CompanyOfficeAddress;let i = index'>
                        <tr>
                          <td>{{va.Office == 'H' ? 'Head' : 'Branch'}} Office</td>
                          <td>{{va.Name}}</td>
                          <td>{{va.Number}}</td>
                          <td>{{va.Email}}</td>
                          <td>
                            <a class="text-danger" (click)="updateCompanyOfficeAddress(i)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                            <a class="text-danger" (click)="deleteCompanyOfficeAddress(i)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                          </td>
                        </tr>
                    </tbody>
                  </table>
                </div>

                <div class="col-sm-12" style="padding-top: 22px;border-top: 2px solid gray;margin: 0;margin-top:15px;">
                    <div class="col-xs-6 text-left">
                        <button mat-button matStepperPrevious mat-raised-button color="primary" class="btn" style="background-color: black;color: white;">Back</button>
                      </div>
                    <div class="col-xs-6 text-right">
                      <button mat-button  mat-raised-button color="primary" class="btn btn-primary" (click)='goToFinancialStep()'>Next</button>
                    </div>
                  </div>
              </mat-step>
              <mat-step>
                  <ng-template matStepLabel>Financial Detail</ng-template>
                  <div class="col-sm-12"><h3>Financial Details </h3></div>
                  <form [formGroup]='FinancialDetailsForm'  novalidate="novalidate" [saUiValidate]="validationCompanyFinancialDetailsOptions">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="label" style="color: black;">A/C Type</label>
                      <label class="input" style="width: 100%;">
                        <select formControlName='Type' class="form-control input-md" name='ACType'>
                          <option value="" selected disabled></option>
                          <option *ngFor="let type of ['Saving','Current']" value="{{type}}">{{type}}</option>
                      </select>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="label" style="color: black;">Name in Bank</label>
                      <label class="input" style="width: 100%;">
                        <input  formControlName='Name' OnlyText='true' class="form-control input-md" type="text" name="ACName" placeholder="Name">
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="label" style="color: black;">A/C Number</label>
                      <label class="input" style="width: 100%;">
                        <input  formControlName='AccountNumber' OnlyNumber='true' class="form-control input-md" type="text" name="ACNumber" placeholder="A/C Number">
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="label" style="color: black;">Bank Name</label>
                      <label class="input" style="width: 100%;">
                        <input formControlName='BankName' OnlyText='true' class="form-control input-md" type="text" name="BankName" placeholder="Bank Name">
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-12"></div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="label" style="color: black;">IFSC Code</label>
                      <label class="input" style="width: 100%;">
                        <input formControlName='IFSC' (keyup)='ifscUpperCase($event.target.value)' class="form-control input-md" type="text" name="IFSC" placeholder="IFSC Code">
                      </label>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <hr style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
                  <div class="col-sm-12"><h3>Credit Details </h3></div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="label" style="color: black;">Credit Limit</label>
                      <label class="select" style="width: 100%;">
                        <!-- <input type="number" formControlName="CreditLimits" class="form-control input-md" placeholder="Credit Limits"> -->
                        <select formControlName="CraditLimits" class="form-control input-md" required>
                          <option value="" selected disabled>Select Credit Limit</option>
                          <option *ngFor='let amt of CreditLimits' value="{{amt.value}}">{{amt.amount}}</option>
                          
                        </select>
                      </label>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label class="label" style="color: black;">Credit Days</label>
                      <label class="select" style="width: 100%;">
                        <select formControlName="CraditDays" class="form-control input-md" required>
                          <option value="" selected disabled>Select Credit Days</option>
                          <option *ngFor='let amt of CreditDays' value="{{amt.value}}">{{amt.days}}</option>
                        </select>
                      </label>
                    </div>
                  </div>

                <div class="clearfix"></div>
                <div class="col-sm-12" style="padding-top: 22px;border-top: 2px solid gray;margin: 0;">
                    <div class="col-xs-6 text-left">
                        <button mat-button matStepperPrevious mat-raised-button color="primary" class="btn" style="background-color: black;color: white;">Back</button>
                      </div>
                    <div class="col-xs-6 text-right">
                      <button mat-button matStepperNext mat-raised-button color="primary" class="btn btn-primary" (click)='[onSubmitForm() , saveCompanyData()]' >Save</button>
                    </div>
                  </div>
                </form>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
      </article>
    </div>
  </sa-widgets-grid>
  </div>
  <ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>
