<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">Profix - Service Provider © 2017-2019</span>
        </div>       
    </div>
</div>
