<div id="content">
  <div class="row">
      <div class="form-group" class="col-sm-4">
          <label class="label" style="color: black">Select Vendor</label>
          <!-- <mat-form-field>
            <input type="text" matInput [ngModel]="selectedVendor" [matAutocomplete]="auto">
          </mat-form-field>
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="changeCommission($event.option.value);">
            <mat-option  *ngFor="let vd of Vendors" [value]="vd">
              {{ vd.UserName }}
            </mat-option>
          </mat-autocomplete> -->

          <form class="example-form">
            <mat-form-field class="example-full-width">
              <input type="text" aria-label="Number" matInput [formControl]="searchControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getCommission($event.option.value)'>
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option._id">
                  <div class="rwmain">
                    <div class="rwone">
                        <ng-container *ngIf="option.Avatar; then showDavt; else notShowavt"></ng-container><ng-template #showDavt><img src="{{url+option.Avatar}}" style="width: 50px;height: 50px;"></ng-template><ng-template #notShowavt><img src="{{defalutimageurl}}" style="width: 50px;height: 50px;"></ng-template>
                    </div>
                    <div class="rwtwo">
                        {{option.FirstName}} {{option.MiddleName}} {{option.LastName}}<br>
                        <ng-container *ngIf="option.Email; then showD; else notShow"></ng-container><ng-template #showD><{{option.Email}}></ng-template><ng-template #notShow><{{option.Phone}}></ng-template>
                      </div>
                  </div> 
                  
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>

         <!-- <label class="select" style="width: 100%;">
              <select name="vendor"  [(ngModel)]="selectedVendor" class="form-control input-md" (change)="changeCommission(selectedVendor);">
                  <option selected disabled>Select Vendor</option>
                  <option *ngFor="let vd of Vendors" value="{{vd._id}}" >{{vd.FirstName}} {{vd.MiddleName}} {{vd.LastName}} <ng-container *ngIf="vd.Email; then showD; else notShow"></ng-container><ng-template #showD><{{vd.Email}}></ng-template><ng-template #notShow><{{vd.Phone}}></ng-template></option>
              </select>
            <i></i>
          </label>-->
          <br/> 
          <b>Note : Please Select Vendor to update their Commissions.</b>
          <br/>
          <b class='redColor'>Note : Commission can't be greater than 20%.</b>
        </div>
        
    <!-- <sa-big-breadcrumbs [items]="['Roles', 'List']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs> -->
    <div class="col-sm-3 pull-right">
        <button (click)="back()" *ngIf="ButtonText !== 'None'" class="btn btn-primary pull-right backButton">Back</button>
        <button (click)="SaveVendorCommission()" *ngIf="ButtonText !== 'None'" class="btn btn-success pull-right">{{ButtonText}}</button>
    </div>
    <!--<sa-stats></sa-stats>-->
  </div>

  <sa-widgets-grid *ngIf="ButtonText !== 'None'">


    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">

          <!-- <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>Roles List</h2>
          </header> -->

          <div>
            <div class="widget-body no-padding">


              <div class="table-responsive">

                <table class="table table-hover">
                  <thead>
                  <tr>
                    <th>Service Name</th>
                    <th>Rate</th>
                    <th>Type</th>
                    <th>Commission Amount</th>
                  </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let service of Services; let i = index;">
                         
                          <td>
                            {{service.Name}}
                          </td>
                          <td>
                            {{service.Price | currency:'INR' }} 
                            <!-- {{" per "+ service.Unit.Symbol}} -->
                          </td>
                          <td>
                            <span *ngIf="service.CommissionType == 'percentage'">%</span>
                          </td>
                          <td>
                            <!-- {{service.Commission}} -->
                            <input class="form-control commissionField" [class.borderRed]='service.Commission > 20' placeholder="Placeholder" [(ngModel)]=service.Commission />
                            <input type="hidden" [(ngModel)]=service.Active />
                          </td>
                        </tr>

                        <tr *ngFor="let commission of Commissions; let i = index;">
                         
                          <td>
                            {{commission.ServiceID.Name}}
                          </td>
                          <td>
                            {{commission.ServiceID.Price | currency:'INR' }} 
                            <span *ngFor="let u of Units; let i = index;">
                                <span *ngIf="commission.ServiceID.Unit == u._id">{{" per "+ u.Symbol}}</span>
                            </span>
                           
                          </td>
                          <td>
                            <span *ngIf="commission.CommissionType == 'percentage'">%</span>
                          </td>
                          <td>
                            <!-- {{service.Commission}} -->
                            <input class="form-control commissionField" [class.borderRed]='commission.Commission > 20' placeholder="Commission Amount" [(ngModel)]=commission.Commission  />
                            <input type="hidden" [(ngModel)]=commission.Active />

                          </td>
                        </tr>
                  
                  </tbody>
                </table>

              </div>

            </div>
          </div>
        </div>

      </article>


    </div>

  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         
