<style>

    @media screen and (max-width: 768px) {
        .mat-table {
          border: 0;
          vertical-align: middle
        }
      
        .mat-table caption {
          font-size: 1em;
        }
        
        .mat-table .mat-header-cell {
          
          border: 10px solid;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          padding: 0;
          position: absolute;
          width: 1px;
        }
    
        .mat-table .mat-row {
          border-bottom: 5px solid #ddd;
          display: block;
        }
        
        .mat-table .mat-row:nth-child(even) {background: #CCC}
        .mat-table .mat-row:nth-child(odd) {background: #FFF}
        
        .mat-table .mat-cell {
          border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height: 53px !important;
      line-height: 53px;
      max-width: 100% !important;
        }
        .mat-table img{
          width: 50px !important;
        }
        .mat-table .mat-cell:before {
         
          content: attr(aria-label);
      
          content: attr(data-label);
          float: left;
          text-transform: uppercase;
          font-weight: normal;
          
          font-size: .85em;
        }
        .mat-table .mat-cell:last-child {
          border-bottom: 0;
        }
          .mat-table .mat-cell:first-child {
            margin-top: 0%;
          max-width: 100% !important;
          line-height: 41px;
          height: 40px;
        }
      }
      @media screen and (max-width: 768px) {
        .unit-table-container{
            overflow-x: scroll;
        }
        .mat-cell{
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .mat-row{
            min-height: 30px !important;
        }
        .UserDataGrid{
            padding:  0 20px;
        }
        .mat-header-row{
          display: none !important;
        }
      }
    </style>
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Orders', 'List']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<button *ngIf="CurrentLoginUser.RoleName != 'Service Provider'" class="btn btn-primary pull-right" routerLink="/projects/createnew/-1" style="margin-right: 15px;">+ Add</button>-->
    <!--<sa-stats></sa-stats>-->
  </div>
  <div class="row" *ngIf="this.CurrentLoginUser.RoleName == 'Super Admin'">
    <form class="search-form" >
	<div class="col-md-1"><label>Order Status</label></div>
        <div class="col-md-2">
            <label class="select" style="width: 100%;">
                <select name="category" [formControl]="searchControl" class="form-control input-md">
                  <option value="New">New</option>
                  <option value="In-Route">In-Route</option>
                  <option value="In Process">In Process</option>
                  <option value="Review">Review</option>
                  <option value="Close">Close</option>
                </select>
            </label>
        </div>
        <div class="col-md-4">
            <button class="btn btn-success pull-left ng-star-inserted" (click)="getOrderbyStatus()" style="margin-left: 10px;" > Filter </button>
        </div>
  </form>
</div>
  <sa-widgets-grid *ngIf="CurrentLoginUser.RoleName == 'Service Provider'" style="display: none;">


    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark" >

          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>{{CurrentLoginUser.RoleName == 'Service Provider' ? 'Services Feeds' : ''}}</h2>
            <button *ngIf="CurrentLoginUser.RoleName != 'Service Provider'" class="btn btn-primary pull-right" routerLink="/projects/createnew/-1" style="margin-right: 15px;">+ Add</button>
          </header>
          <div>
            <div class="widget-body no-padding">
              <div class="table-user unit-container mat-elevation-z8">
                <div class="unit-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div class="unit-table-container">
                  <table mat-table [dataSource]="dataSourceOrder" matSort style="width:100%;">

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Name </th>
                      <td mat-cell *matCellDef="let row" [innerHTML]="row.name"> {{row.name}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="AssignTo">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> AssignTo </th>
                      <td mat-cell *matCellDef="let row"> {{row.AssignTo}} </td>
                    </ng-container>

                    <!--ReferenceBy Column -->
                    <ng-container matColumnDef="Customer">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Customer </th>
                      <td mat-cell *matCellDef="let row" > {{row.customer}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Status </th>
                      <td mat-cell *matCellDef="let row" [innerHTML]="row.status">  </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="ScheduledDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Schedule Date </th>
                      <td mat-cell *matCellDef="let row"> {{ row.ScheduledServiceProvider | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="SN">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="width: 80px;"> S. No </th>
                      <td mat-cell *matCellDef="let row ; let i = index;"> {{pageIndex+i+1}} </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef style="width:90px;">Action</th>
                      <td mat-cell *matCellDef="let row">
                        <a title='Detail' class="text-primary" routerLink="/projects/detail/{{row._id}}" style="cursor:pointer;"><i class="fa fa-eye"></i></a>&nbsp;
                        <!--<a  id="user_delete" id="userTableAction" class="text-danger" (click)="delete(row._id)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>-->
                      </td>
                    </ng-container>

                    

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </div>
                <div *ngIf="dataSourceOrder && dataSourceOrder.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                <mat-paginator #paginator
               [pageSize]="limit"
               [pageSizeOptions]="pageLimit"
               (page)="changePage($event)" showFirstLastButtons>
</mat-paginator>

              </div>
            </div>
          </div>
        </div>

      </article>


    </div>
  </sa-widgets-grid>

  <sa-widgets-grid class="UserDataGrid">


    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark" >

          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>{{CurrentLoginUser.RoleName == 'Service Provider' ? 'To Do Services' : ''}}</h2>
            <button *ngIf="CurrentLoginUser.RoleName != 'Service Provider'" class="btn btn-primary pull-right addButton" routerLink="/projects/createnew/-1" style="margin-right: 15px;">+ Add</button>
          </header>
          <div>
            <div class="widget-body no-padding">
              <div class="table-user unit-container mat-elevation-z8">
                <div class="unit-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div class="unit-table-container">
                  <mat-table [dataSource]="dataSource" matSort style="width:100%;">

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="ID"> {{row._id}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Name </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Name"> {{row.ProjectName}} #{{row.OrderID}}<br><small class='text-muted'><i>Budget: &#x20b9;{{row.PaymentAmount}}</i></small> </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="AssignTo">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> AssignTo </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="AssignTo"> {{(row.AssignTo ? row.AssignTo.FirstName + " " + (row.AssignTo.MiddleName ? row.AssignTo.MiddleName : '') + " " +row.AssignTo.LastName : '------')}} </mat-cell>
                    </ng-container>

                    <!--ReferenceBy Column -->
                    <ng-container matColumnDef="Customer">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Customer </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Customer"> {{( row.Customer ? row.Customer.FirstName + " " + (row.Customer.MiddleName ? row.Customer.MiddleName : '') + " " +row.Customer.LastName: '------')}} </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="Status">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Status </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Status"> <span class='label label-default'>{{row.Status}}</span>  </mat-cell>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="ScheduledDate">
                      <mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Schedule Date </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Schedule Date"> {{row.ScheduledServiceProvider | date: 'dd/MM/yyyy hh:mm:ss a'}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="SN">
                      <mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="max-width:10%;"> S. No </mat-header-cell>
                      <mat-cell *matCellDef="let row ; let i = index;" data-label="SN" style="max-width:10%;"> {{pageIndex+i+1}} </mat-cell>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                      <mat-header-cell *matHeaderCellDef style="max-width:10%;">Action</mat-header-cell>
                      <mat-cell *matCellDef="let row" style="max-width:10%;" data-label="Action">
                        <a  id="user_edit" class="text-primary" routerLink="/projects/detail/{{row._id}}" style="cursor:pointer;"><i class="fa fa-eye"></i></a>&nbsp;
                        <!--<a  id="user_delete" id="userTableAction" class="text-danger" (click)="delete(row._id)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>-->
                      </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
                <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                <mat-paginator #paginator
               [pageSize]="limit"
               [pageSizeOptions]="pageLimit"
               (page)="changePage($event)" showFirstLastButtons>
</mat-paginator>

              </div>
            </div>
          </div>
        </div>

      </article>


    </div>
  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>




