<script src="../../../../../../../Backups/11-04-2019/ProfixAdmin/src/app/app.module.ts"></script>
<div id="content">
  <div class="row" *ngIf="ID == '-1'">
    <sa-big-breadcrumbs [items]="['Projects', 'Add Project']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>
  <div class="row" *ngIf="ID != '-1'">
    <sa-big-breadcrumbs [items]="['Projects', 'Edit Project']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>
  <sa-widgets-grid >

    <div class="row">
          <article class="col-sm-12">
            <div sa-widget [editbutton]="false" color="blueDark">
              <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>{{ID == '-1' ? 'Add' : 'Edit'}} Project</h2>
              </header>
              <div>
                <div class="widget-body no-padding">
                  <mat-horizontal-stepper linear="isLinear" #stepper *ngIf="getValue">
                    <mat-step>
                      <ng-template matStepLabel>Basic Information</ng-template>
                      <div class="row">
                        <form id="ProjectBasicForm" [formGroup]="BasicInfoForm" novalidate="novalidate" [saUiValidate]="validationBasicDetailOptions" >
                          <div class="col-sm-4">
                            <div class="form-group">
                              <!-- <label class="label" style="color: black;">Project Name</label>
                              <label class="input" style="width: 100%;">
                                <input type="text" name="ProjectName" formControlName="ProjectName" class="form-control input-md" placeholder="Project Name" >
                                <b class="tooltip tooltip-bottom-right">Project Name</b> </label> -->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Project Name</mat-label>
                                  <input matInput placeholder="Project Name" aria-label="Project Name" formControlName="ProjectName" name="ProjectName" required>
                                  </mat-form-field>

                            </div>
                          </div>
                          <div class="col-sm-12"></div>
                          <div class="col-sm-4">
                            <div class="form-group">
                              <!-- <label class="label" style="color: black;">Customer</label> -->
                              <!--<ng-multiselect-dropdown formControlName="Customer" (change)="checkDetail()"-->
                                      <!--[placeholder]="'Customer'"-->
                                      <!--[data]="Customers"-->
                                      <!--[(ngModel)]="selectedItems"-->
                                      <!--[settings]="dropdownSettings"-->
                                      <!--(onSelect)="onItemSelect($event)"-->
                                      <!--(onSelectAll)="onSelectAll($event)"-->
                              <!--&gt;-->
                              <!--</ng-multiselect-dropdown>-->
                              <!-- <label class="select" style="width: 100%;">
                                <select formControlName="Customer" class="form-control input-md" name="Customer" (change)="getAllSCLByCustomer(BasicInfoForm.controls.Customer.value)">
                                  <option value="" selected disabled>Select Customer</option>
                                  <option *ngFor="let st of Customers" value="{{st._id}}">{{st.FirstName + " "+st.MiddleName+ " " +st.LastName}}</option>
                                </select>
                                <i></i>
                              </label> -->
                              <mat-form-field appearance="outline" class="full-width">
                                  <mat-label>Customer</mat-label>
                                <input matInput placeholder="Customer" aria-label="Customer" [matAutocomplete]="auto" [formControl]="stateCtrl" name="Customer" required>
                                <mat-autocomplete #auto="matAutocomplete">
                                  <mat-option (click)='getID(cust._id)' *ngFor="let cust of filteredStates | async" [value]="cust.FirstName+' '+cust.MiddleName+' '+cust.LastName">
                                    <span>{{cust.FirstName + ' ' +cust.MiddleName + ' ' + cust.LastName}}</span> |
                                    <small>{{cust.ProfixID}}</small> | 
                                    <small>{{cust.Email}}</small>
                                  </mat-option>
                                </mat-autocomplete>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="col-sm-12"></div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <!-- <label class="label" style="color: black">State</label>
                              <label class="select" style="width: 100%;">
                                <select formControlName="State" class="form-control input-md" name="State" (change)="getAllCitiesByState(BasicInfoForm.controls.State.value)">
                                  <option value="" selected disabled>Select State</option>
                                  <option *ngFor="let st of States" value="{{st._id}}">{{st.Name}}</option>
                                </select>
                                <i></i>
                              </label> -->
                              <mat-form-field  appearance="outline" class="full-width">
                                  <mat-label>State</mat-label>
                                  <mat-select formControlName="State" class="form-control input-md" name="State" (selectionChange)="getAllCitiesByState(BasicInfoForm.controls.State.value)" required  style="border:none">
                                      <mat-option value="" selected disabled>Select State</mat-option>
                                      <mat-option *ngFor="let st of States" value="{{st._id}}">{{st.Name}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>

                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <!-- <label class="label" style="color: black;">City</label>
                              <label class="select" style="width: 100%;">
                                <select formControlName="City" class="form-control input-md" name="City" (change)="getAllLocalitiesByCity(BasicInfoForm.controls.City.value)">
                                  <option value="" selected disabled>Select City</option>
                                  <option *ngFor="let ct of Cities" value="{{ct._id}}">{{ct.Name}}</option>
                                </select>
                                <i></i>
                              </label> -->
                              <mat-form-field  appearance="outline" class="full-width">
                                  <mat-label>City</mat-label>
                                  <mat-select formControlName="City" class="form-control input-md" name="City" (selectionChange)="getAllLocalitiesByCity(BasicInfoForm.controls.City.value)" required style="border:none">
                                      <mat-option value="" selected disabled>Select City</mat-option>
                                      <mat-option *ngFor="let st of Cities" value="{{st._id}}">{{st.Name}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>

                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <!-- <label class="label" style="color: black;">Locality</label>
                              <label class="select" style="width: 100%;">
                                <select formControlName="Locality" name="Locality" class="form-control input-md">
                                  <option value="" selected disabled>Select Locality</option>
                                  <option *ngFor="let lt of Localities" value="{{lt._id}}">{{lt.Name}}</option>
                                </select>
                                <i></i>
                              </label> -->
                              <mat-form-field  appearance="outline" class="full-width">
                                  <mat-label>Locality</mat-label>
                                  <mat-select formControlName="Locality" class="form-control input-md" name="Locality" required style="border:none">
                                      <mat-option value="" selected disabled>Select Locality</mat-option>
                                      <mat-option *ngFor="let st of Localities" value="{{st._id}}">{{st.Name}}</mat-option>
                                  </mat-select>
                                </mat-form-field>
                            </div>

                          </div>
                          <div class="col-sm-6">
                            <div class="form-group">
                              <!-- <label class="label" style="color: black;">Address</label>
                              <label class="input" style="width: 100%;">
                                <textarea name="Address" formControlName="Address" class="form-control input-md" rows="3" placeholder="Please put your Apartment or Flat or House Number and Street name." ></textarea>
                                <b class="tooltip tooltip-bottom-right">Address</b> </label> -->
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput formControlName="Address" rows="3" name='Address' placeholder="Please put your Apartment or Flat or House Number and Street name."></textarea>
                                  </mat-form-field>
                            </div>
                          </div>
                          <div class="col-sm-12">
                          <div class="text-right" style="margin-top: 20px;">
                            <button type="submit" id="manager_firmFormNextToKeyPerson"  mat-button  mat-raised-button class="btn btn-primary" color="primary"  (click)="onSubmitProject()" >Next</button><!--(click)="viewDetail()" [disabled]="BasicInfoForm.invalid"-->
                          </div>
                          </div>
                        </form>
                      </div>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Service Information</ng-template>
                      <div class="row">
                        <form id="ProjectServiceForm" [formGroup]="ServiceInfoForm"  novalidate="novalidate" [saUiValidate]="validationServiceOptions" >
                        <div class="col-sm-4">
                          <div class="form-group">
                            <label class="label" style="color: black;">Service</label>
                            <label class="select" style="width: 100%;">
                              <select formControlName="Service" class="form-control input-md" name="Service">
                                <option value="" selected disabled>Select Service</option>
                                <option *ngFor="let service of Services" value="{{service._id}}">{{service.Name +" ( Price : "+ (service.Price | currency : 'INR' ) +" per "+service.Unit +")"}}</option>
                              </select>
                              <i></i>
                            </label>

                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="form-group">
                            <label class="label" style="color: black;display: block;text-align: left">Area (Width and Height)<strong style="color: red;"><sup>*</sup></strong></label>
                            <div class="row">
                              <div class="col-sm-2">
                                <label class="select" style="width: 100%;">
                                  <input formControlName="Width" (change)="getTotalSize()" class="form-control input-md" type="number" step="any" min="0" name="Width" placeholder="Please Enter Width">
                                  <b class="tooltip tooltip-bottom-right">Please Enter Width</b>
                                </label>
                              </div>
                              <div class="col-sm-2">
                                <label class="select" style="width: 100%">
                                  <input formControlName="Height" (change)="getTotalSize()" class="form-control input-md" type="number" step="any" min="0" name="Height" placeholder="Please Enter Height">
                                  <b class="tooltip tooltip-bottom-right">Please Enter Height</b>
                                </label></div>
                              <div class="col-sm-2">
                                <b>{{Total ? "Total Area :"+Total : ''}}</b></div>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-2" style="margin-top: 15px;margin-bottom: 25px">
                            <label class="label" style="color: black;display: block;text-align: left">Schedule Date For Service Provider<strong style="color: red;"><sup>*</sup></strong></label>
                            <div class="input-group" style="width: 100%">
                              <input name="ServiceSchedule" placeholder="Date Time:" [min]="minDate"  class="form-control"
                              formControlName="ScheduledServiceProvider" (change)="getDateValue()"
                                     [owlDateTimeTrigger]="dt" [owlDateTime]="dt">
                              <owl-date-time #dt style="width: 25rem"></owl-date-time>
                            </div>
                            
                          </div>
                          <div class="clearfix"></div>
                          <div class="col-sm-8" style="margin-top: 15px;margin-bottom: 25px">
                            <label class="label" style="color: black;display: block;text-align: left">Note For Service Provider<strong style="color: red;"><sup>*</sup> &nbsp; ( Minimum 20 charactors required ) </strong></label>
                            <textarea name="ServiceComments" formControlName="Comments" rows="3" class="form-control"></textarea>
                          </div>
                        <div class="col-sm-12">
                          <button type="submit" (click)="onSubmitServiceForm()" class="btn btn-success">
                            +Add Service
                          </button>
                          <br>
                        </div>
                       </form>
                        <div class="col-sm-12">
                          <br>
                          <div class="table-responsive" *ngIf="ServicesArray.length > 0">

                            <table class="table table-hover">
                              <thead>
                              <tr>
                                <th style="width: 60px;">S. No.</th>
                                <th>Service</th>
                                <th>Category</th>
                                <th>Type</th>
                                <th style="width: 20%">Area (WxH)</th>
                                <th>Rate</th>
                                <th>Cost</th>
                                <th>Action</th>
                              </tr>
                              </thead>
                              <tbody>
                              <tr *ngFor="let ser of ServicesArray ;let i = index;">
                                <td>{{i+1}}</td>
                                <td>{{ser.Name}}</td>
                                <td>{{ser.Category.Name}}</td>
                                <td>{{ser.Type.Name}}</td>
                                <td>{{ser.Width +"x"+ ser.Height}} {{ser.Unit.Symbol}}</td>
                                <td>{{ser.Price| currency : 'INR '}} per {{ser.Unit.Symbol}}</td>
                                <td>{{ser.Amount | currency : 'INR'}}</td>
                                <td><i class="fa fa-trash" (click)="deleteSelectesService(i)"></i> </td>
                              </tr>
                              <tr *ngIf="ServicesArray.length == 0">
                                <td colspan="8" class="text-center"><b>No record found.</b></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Total</b></td>
                                <td>{{getTotal('Total') | currency : 'INR'}}</td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>GST({{getGSTValue}}%)</b></td>
                                <td>{{getTotal('GST') | currency : 'INR'}}</td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Discount:  {{DiscountType}} <br> <input type="text"  class="form-control" [(ngModel)]="DiscountType" placeholder="Discount Type"></b></td>
                                <td>Amount: {{DiscountAmount | currency : 'INR'}} <br><input type="number" min='0' [max]="(getTotal('Total') * .2)" [(ngModel)]="DiscountAmount" (change)="checkDiscount()" class="form-control" placeholder="Discount Amount"></td>
                                <td></td>
                              </tr>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Grand Total</b></td>
                                <td>{{getTotal('TotalPrice') | currency : 'INR'}}</td>
                                <td></td>
                              </tr>
                              </tbody>
                            </table>

                          </div>
                        </div>
                        
                        <div class="row" style="margin-top: 22px;">
                          <div class="col-xs-6 col-sm-6 text-left">
                            <button mat-button matStepperPrevious mat-raised-button class="btn" style="background-color: black;color: white;">Back</button>
                          </div>
                          <div class="col-xs-6 col-sm-6 text-right">
                          <div class="text-right">
                            <button  mat-button  mat-raised-button class="btn btn-primary" color="primary"  (click)="onSubmit()" [disabled]="ServicesArray.length == 0">Next</button><!--(click)="viewDetail()" [disabled]="BasicInfoForm.invalid"-->
                          </div>
                        </div>
                        </div>
                      </div>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Finish</ng-template>
                      <div class="col-sm-6"  style="border: 1px solid #dedddd;box-shadow: 0px 2px 5px 2px grey;">
                        <h3>Customer Information</h3>
                        <table class="table">
                          <tbody>
                          <tr>
                            <td>Name</td>
                            <td>{{getName(BasicInfoForm.controls.Customer.value, 'Customer')}}</td>
                          </tr>
                          <tr>
                            <td>Address</td>
                            <td>{{BasicInfoForm.controls.Address.value}}</td>
                          </tr>
                          <tr>
                            <td>Locality</td>
                            <td>{{getName(BasicInfoForm.controls.Locality.value , 'Locality')}}</td>
                          </tr>
                          <tr>
                            <td>City</td>
                            <td>{{getName(BasicInfoForm.controls.City.value,'City')}}</td>
                          </tr>
                          <tr>
                            <td>State</td>
                            <td>{{getName(BasicInfoForm.controls.State.value ,'State')}}</td>
                          </tr>
                          <tr>
                            <td>Note For Service Provider</td>
                            <td>{{Comments}}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                        <div class="col-sm-12" style="border: 1px solid #dedddd;box-shadow: 0px 2px 5px 2px grey;margin-top: 20px;margin-bottom: 20px;">
                        <h3>Service Information</h3>
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th style="width: 60px;">S. No.</th>
                          <th>Service</th>
                          <th>Category</th>
                          <th>Type</th>
                          <th style="width: 20%">Area (WxH)</th>
                          <th>Rate</th>
                          <th>Cost</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let ser of ServicesArray ;let i = index;">
                          <td>{{i+1}}</td>
                          <td>{{ser.Name}}</td>
                          <td>{{ser.Category.Name}}</td>
                          <td>{{ser.Type.Name}}</td>
                          <td>{{ser.Width +"x"+ ser.Height}} {{ser.Unit.Symbol}}</td>
                          <td>{{ser.Price| currency : 'INR'}} per {{ser.Unit.Symbol}}</td>
                          <td>{{ser.Amount | currency : 'INR'}}</td>
                        </tr>
                        <tr *ngIf="ServicesArray.length == 0">
                          <td colspan="7" class="text-center"><b>No record found.</b></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><b>Total</b></td>
                          <td>{{getTotal('Total') | currency : 'INR'}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><b>GST({{getGSTValue}}%)</b></td>
                          <td>{{getTotal('GST') | currency : 'INR'}}</td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><b>Discount:  {{DiscountType}} </b></td>
                          <td>{{DiscountAmount | currency : 'INR'}} </td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td><b>Grand Total</b></td>
                          <td>{{getTotal('TotalPrice') | currency : 'INR'}}</td>
                        </tr>
                        </tbody>
                      </table>
                      </div>
                      <div class="col-sm-12" style="margin-top: 22px;">
                        <div class="col-xs-6 col-sm-6 text-left">
                          <button mat-button matStepperPrevious mat-raised-button class="btn" style="background-color: black;color: white;">Back</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 text-right">
                          <div class="text-right">

                        <button mat-button  mat-raised-button class="btn btn-primary" color="primary"  (click)="saveRecord()" >Finish</button><!--(click)="viewDetail()" [disabled]="BasicInfoForm.invalid"-->
                      </div>
                      </div>
                      </div>
                    </mat-step>
                  </mat-horizontal-stepper>
                </div>
              </div>
            </div>
          </article>
    </div>

      </sa-widgets-grid>
    </div>
    <ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>    