<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Team', 'Detail']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>

  <div sa-widget class="col-sm-12">
    <div class="card card-accent-primary">

      <div class="card-body" id="print-section" id="manager-fullFormDetails">
        <h3>Team Details</h3>
        <div class="row">
          <div class="col-sm-8" *ngIf="getTCData">
            <table class="table">
              <tbody>
                <tr>
                  <td>Team Name</td><td>{{TeamDetail.TeamName}}</td>
                </tr> 
                <tr>
                  <td>Team Leader</td><td>{{TeamDetail.TLID.FirstName +" "+TeamDetail.TLID.MiddleName+" "+TeamDetail.TLID.LastName}}</td>
                </tr>            
                <tr *ngIf="TeamDetail.Projects">
                  <td>Project </td><td>{{TeamDetail.Projects.ProjectName}}</td>
                </tr>              
              </tbody>
            </table>
          </div>
        </div>

        <h3>Add Team Member</h3>        
        <input type="hidden" [(ngModel)]="TeamMember">
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-sm-6">
              <mat-form-field  class="col-sm-6">
                <mat-label>Search Team Members</mat-label>
                <mat-select [formControl]="bankMultiCtrl" placeholder="Search Team Members" [multiple]="true">
                  <mat-select-search [formControl]="bankMultiFilterCtrl"></mat-select-search>
                  <mat-option *ngFor="let user of filteredBanksMulti" [value]="user">
                    {{user.FirstName + ' '+ user.MiddleName +' '+ user.LastName  + ' | '+user.ProfixID + ' | '+user.Phone}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-primary" (click)="checkMember()">Add</button>
          </div>
        </div>
        <h3>Team Member Information</h3> 
        <div class="row" style="margin-bottom: 20px;">
          <div class="col-sm-8">
            <table class="table">
              <thead>
              <tr>
                <th>Name</th>
                <th>Mobile</th>
                <th>Profix ID</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let member of TeamCompanyMembers">                
                <td>{{member.UserID.FirstName + " " +member.UserID.MiddleName+" " + member.UserID.LastName }}</td>
                <td>{{member.UserID.Phone}}</td>
                <td>{{member.UserID.ProfixID}}</td>
                <td><i title='Delete' class="fa fa-trash" (click)="deleteMember(member._id, member.UserID._id)"></i></td>
              </tr>
              <tr>
                <td colspan="3" class="text-center" *ngIf="TeamCompanyMembers && TeamCompanyMembers.length == 0">No Record found.</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         