<div id="content">
  <div class="row" *ngIf="ID != '1'">
      <sa-big-breadcrumbs [items]="['Team', 'Add Team']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-7"></sa-big-breadcrumbs>

  </div>
  <div class="row" *ngIf="ID == '1'">
      <sa-big-breadcrumbs [items]="['Team', 'Edit Team']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-7"></sa-big-breadcrumbs>

  </div>
  <sa-widgets-grid>
      <div class="row">
          <article class="col-sm-12">
              <div sa-widget [editbutton]="false" color="blueDark">
                  <header>
                      <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                      <h2>{{ID == '1' ? 'Edit' : 'Add'}} Team</h2>
                  </header>
                  <div>
                      <div class="widget-body no-padding">

                          <mat-horizontal-stepper linear="isLinear" #stepper *ngIf="getValue">
                              <!--style="display: none;"-->

                              <mat-step>
                                  <!---->
                                  <ng-template matStepLabel>Team Details</ng-template>
                                  <form id="TeamCompanyBasicForm" [formGroup]="TeamCompanyBasicInfoForm" [saUiValidate]="validationOptions" novalidate="novalidate">
                                      <div class="card card-accent-primary">
                                          <div class="card-header">
                                              <!--<strong>Firm Detail</strong>-->
                                          </div>
                                          <div class="card-body">

                                              <div class="row">

                                                  <div class="col-sm-6 smart-form" *ngIf='ID == -1'>
                                                      <div class="inline-group form-group">
                                                          <label class="label" style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">Team Type</label>
                                                          <label class="radio">
                                                              <input type="radio" formControlName="TeamType" name="TeamType" value="Permanent" (click)="getTeamType('Permanent')">
                                                              <i></i>Permanent</label>
                                                          <label class="radio">
                                                              <input type="radio" formControlName="TeamType" name="TeamType" value="Project" (click)="getTeamType('Project')">
                                                              <i></i>For a Project</label>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-6 smart-form" *ngIf='ID != -1'>
                                                    <div class="inline-group form-group">
                                                        <label class="label" style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">Team Type : {{TeamCompanyBasicInfoForm.controls.Projects.value ? 'For a Project' : 'Permanent'}}</label> 
                                                        
                                                        
                                                    </div>
                                                </div>
                                                  <div class="col-sm-12"></div>
                                                  <div class="col-sm-4 mt-4">
                                                      <div class="form-group">
                                                          <label class="label" style="color: black;">Team Name</label>
                                                          <label class="input" style="width: 100%;">
                                                              <input formControlName="TeamName" class="form-control input-md" name="TeamName" (change)='DuplicateTeamNamecheck()' type="text" placeholder="Please enter Team name">
                                                          </label>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-12"></div>
                                                  <div class="col-sm-4" *ngIf="checkteamtype === 'Project'">
                                                      <div class="form-group">
                                                          <label class="label" style="color: black;">Project</label>
                                                          <label class="select" style="width: 100%;">
                                                              <select formControlName="Projects" class="form-control input-md" name="Projects">
                                                                  <option value="" selected disabled>Select Project</option>
                                                                  <option *ngFor="let pt of Projects" value="{{pt._id}}">{{pt.ProjectName}}</option>
                                                              </select>
                                                              <i></i>
                                                          </label>
                                                      </div>
                                                  </div>
                                                  <div class="col-sm-2" *ngIf="checkteamtype === 'Project'">
                                                      <button type="button" title='Create Project' class='btn btn-primary createProjectButton' (click)='createProject()'>Create</button>
                                                  </div>
                                                  <div class="col-sm-12"></div>
                                                  
                                                  <mat-form-field  appearance="outline" class="col-xs-12 col-sm-6">
                                                      <mat-label class="label" style="color: black">Select Team Leader</mat-label>
                                                      <input type="text" aria-label="Number" matInput name="spControl" [formControl]="spControl" [matAutocomplete]="auto" required>
                                                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getServiceProviderId($event.option.value)'>
                                                          <mat-option style="height: 54px;" *ngFor="let option of filteredOptions | async" [value]="option._id">
                                                              <div class="rwmain">
                                                                  <div class="rwone">
                                                                      <ng-container *ngIf="option.Avatar; then showDavt; else notShowavt"></ng-container>
                                                                      <ng-template #showDavt><img src="{{imageurl+option.Avatar}}" style="width: 50px;height: 50px;"></ng-template>
                                                                      <ng-template #notShowavt><img src="{{defalutimageurl}}" style="width: 50px;height: 50px;"></ng-template>
                                                                  </div>
                                                                  <div class="rwtwo">
                                                                      {{option.FirstName}} {{option.MiddleName}} {{option.LastName}} | 
                                                                       {{option.ProfixID}}  | 
                                                                      
                                                                          {{option.Phone}}
                                                                      
                                                                  </div>
                                                              </div>
                                                          </mat-option>
                                                      </mat-autocomplete>
                                                  </mat-form-field>
                                                  <div class="col-sm-12"><label>Note :</label> Search by SP Name, Mobile or Profix ID. <br></div>
                                                  <div class="col-sm-12" *ngIf='ServiceProviders.length == 0'><label>Note :</label> No Service Provider found. <br></div>

                                                  <input type="hidden" formControlName="TLID">
                                                  <input type="hidden" formControlName="FullName">
                                                  <input type="hidden" formControlName="Email">
                                                 
                             
                                                  
                                              </div>

                                          </div>
                                      </div>
                                      <div class="text-right" style="margin-top: 20px;">
                                          <button type="submit" mat-button mat-raised-button class="btn btn-primary" color="primary" (click)="[onSubmitTeamForm() , nextStep()]">Next</button>
                                          <!--(click)="viewDetail()" [disabled]="TeamCompanyBasicInfoForm.invalid"-->
                                      </div>
                                  </form>
                              </mat-step>
                              <mat-step>
                                <!---->
                                <ng-template matStepLabel>Add Members</ng-template>
                                
                                    <div class="card card-accent-primary">
                                        <div class="card-header">
                                            <!--<strong>Firm Detail</strong>-->
                                        </div>
                                        <div class="card-body">

                                            <div class="col-sm-12">
                                                <div class="row">
                                                    <h3>Add Team Member</h3>    
                                                    
                                                    <mat-form-field  class="col-sm-6">
                                                        <mat-label>Add Team Members</mat-label>
                                                        <mat-select [formControl]="bankMultiCtrl" placeholder="Search Team Members" [multiple]="true">
                                                          <mat-select-search [formControl]="bankMultiFilterCtrl"></mat-select-search>
                                                          <mat-option *ngFor="let user of filteredBanksMulti" [value]="user">
                                                            {{user.FirstName + ' '+ user.MiddleName +' '+ user.LastName  + ' | '+user.ProfixID + ' | '+user.Phone}}
                                                          </mat-option>
                                                        </mat-select>
                                                      </mat-form-field>


                                                    <!-- <mat-form-field class="col-sm-3">
                                                        <mat-label>Add Team Members</mat-label>
                                                        <mat-select [formControl]="AddTeamMemebers" multiple>
                                                          <mat-option *ngFor="let topping of ServiceProviders" [value]="topping._id" style="margin-left: .5em">{{topping.FirstName +' '+topping.LastName}}</mat-option>
                                                        </mat-select>
                                                      </mat-form-field>    -->
                                                    <input type="hidden" [(ngModel)]="TeamMember">
                                                    <div class="row" style="margin-bottom: 20px;">
                                                      <div class="col-sm-6" style="display: none">
                                                        <mat-form-field class="col-sm-12">
                                                          <label class="label" style="color: black">Add Team Member</label>
                                                          <input type="text" aria-label="userSp" matInput name="userspControl" [formControl]="userspControl" [matAutocomplete]="AddTM">
                                                            <mat-autocomplete #AddTM="matAutocomplete" (optionSelected)='getUserServiceProviderId($event.option.value)'>
                                                              <mat-option style="height: 80px;" *ngFor="let options of UserfilteredOptions | async" [value]="options._id">
                                                                  <div class="rwmain">
                                                                      <div class="rwone">
                                                                          <ng-container *ngIf="options.Avatar; then showDavt; else notShowavt"></ng-container><ng-template #showDavt><img src="{{imageurl+option.Avatar}}" style="width: 50px;height: 50px;"></ng-template><ng-template #notShowavt><img src="{{defalutimageurl}}" style="width: 50px;height: 50px;"></ng-template>
                                                                      </div>
                                                                      <div class="rwtwo">
                                                                            {{options.FirstName}} {{options.MiddleName}} {{options.LastName}}
                                                                            <br> {{options.ProfixID}}
                                                                            <br>
                                                                            <ng-container *ngIf="options.Email; then showD; else notShow"></ng-container>
                                                                            <ng-template #showD>{{options.Email}}</ng-template>
                                                                            <ng-template #notShow>
                                                                                {{options.Phone}}
                                                                            </ng-template>
                                                                    </div>
                                                                  </div> 
                                                              </mat-option>
                                                            </mat-autocomplete>
                                                          </mat-form-field>
                                                      </div>
                                                      
                                                    </div>

                                                <div class="row" style="margin-bottom: 20px;display: none">
                                                    <div class="col-sm-8">
                                                      <table class="table">
                                                        <thead>
                                                        <tr>
                                                          <th>Name</th>
                                                          <th>Email</th>
                                                          <th>Profix ID</th>
                                                          <th>Mobile</th>
                                                          <th>Action</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let member of TeamCompanyMembers">
                                                          <td>{{member.FirstName + " " +member.MiddleName+" " + member.LastName }}</td>
                                                          <td>{{member.Email ? member.Email :  '---'}}</td>
                                                          <td>{{member.ProfixID}}</td>
                                                          <td>{{member.Phone}}</td>
                                                          <td><i class="fa fa-trash" ></i></td>
                                                          <!-- (click)="deleteMember(member._id)" -->
                                                        </tr>
                                                        <tr>
                                                          <td colspan="3" class="text-center" *ngIf="TeamCompanyMembers && TeamCompanyMembers.length == 0">No Record found.</td>
                                                        </tr>
                                                        </tbody>
                                                      </table>
                                                    </div>
                                                  </div>
                                        
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 text-left">
                                      <button mat-button mat-raised-button class="btn" style="background-color: black;color: white;" (click)='backTL()'>Back</button>
                                  </div>
                                    <div class="text-right" style="margin-top: 20px;">
                                        <button type="submit" mat-button mat-raised-button class="btn btn-primary" color="primary" (click)="[nextStep()]">Next</button>
                                        <!--(click)="viewDetail()" [disabled]="TeamCompanyBasicInfoForm.invalid"-->
                                    </div>
                                
                            </mat-step>

                              <mat-step>
                                  <ng-template matStepLabel>Success</ng-template>
                                  <div class="card card-accent-primary">
                                      <div class="card-header">
                                          <strong>Full Detail</strong>
                                      </div>
                                      <div class="card-body" id="print-section" id="manager-fullFormDetails">
                                          <h3>Team Details</h3>
                                          <div class="row">
                                              <div class="col-sm-8">
                                                  <table class="table">
                                                      <tbody>

                                                          <tr>
                                                              <td>Team Leader</td>
                                                              <td>{{ServiceProviderFullName}}</td>
                                                          </tr>
                                                          <tr>
                                                              <td>Team Name</td>
                                                              <td>{{TeamCompanyBasicInfoForm.controls.TeamName.value}}</td>
                                                          </tr>
                                                          <tr>
                                                              <td>Team Type</td>
                                                              <td>{{TeamCompanyBasicInfoForm.controls.TeamType.value}}</td>
                                                          </tr>

                                                          <tr *ngIf="TeamCompanyBasicInfoForm.controls.Projects.value ? true : false">
                                                              <td>Projects</td>
                                                              <td>{{ getProjectName(TeamCompanyBasicInfoForm.controls.Projects.value)}}</td>
                                                          </tr>


                                                         
                                                      </tbody>
                                                  </table>
                                              </div>
                                              <div class="col-sm-12"></div>                                              
                                              <div class="col-sm-8">
                                                       <h3>Team Members</h3> 
                                                      <table class="table">
                                                        <thead>
                                                        <tr>
                                                          <th>Name</th>
                                                          <th>Email</th>
                                                          <th>Profix ID</th>
                                                          <th>Mobile</th>                                                          
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr *ngFor="let member of TeamCompanyMembers">
                                                          <td>{{member.FirstName + " " +member.MiddleName+" " + member.LastName }}</td>
                                                          <td>{{member.Email ? member.Email :  '---'}}</td>
                                                          <td>{{member.ProfixID}}</td>
                                                          <td>{{member.Phone}}</td>                                                                                                                   
                                                        </tr>
                                                        <tr>
                                                          <td colspan="3" class="text-center" *ngIf="TeamCompanyMembers && TeamCompanyMembers.length == 0">No Record found.</td>
                                                        </tr>
                                                        </tbody>
                                                      </table>
                                              </div>                                                 
                                          </div>
                                          
                                          
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-sm-6 text-left">
                                          <button mat-button matStepperPrevious mat-raised-button class="btn" style="background-color: black;color: white;">Back</button>
                                      </div>
                                      <div class="col-sm-6 text-right">
                                          <button id="managerFirmFormFinish" mat-button mat-raised-button color="primary" class="btn btn-success" (click)="save()">Save</button>
                                      </div>
                                  </div>
                              </mat-step>
                          </mat-horizontal-stepper>
                      </div>
                  </div>
              </div>
          </article>
      </div>
      <div class="row">

      </div>

  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>