<div id="content">
  <div class="row" *ngIf="ID == '-1'">
    <sa-big-breadcrumbs [items]="['Category', 'Add Category']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats> -->
    <button style="margin-top: 15px; margin-right: 15px;" *ngIf="GetValue && !UserProfileFullDetail.isTeam" (click)="sendRequestForTeam()" class="btn btn-primary pull-right">Send request for create {{RequestType}}</button>
  </div>
  <div class="row" *ngIf="ID != '-1'">
    <sa-big-breadcrumbs [items]="['Profile', 'Edit Profile']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    
    <!-- <a style="margin-top: 15px; margin-right: 15px;cursor: pointer" routerLink="/my-team" *ngIf="UserProfileFullDetail &&  (UserProfileFullDetail.type == 'CM' || UserProfileFullDetail.type == 'TL')" class="btn btn-primary pull-right">Manage My Team</a> -->

 
  </div>

  <sa-widgets-grid>


    <div class="row">
      <article class="col-sm-12" *ngIf="GetValue">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span>
              <h2 class='showProfixID'>My ProfixID: {{UserProfileFullDetail ? UserProfileFullDetail.ProfixID : ''}} <!--{{UserProfileFullDetail ? ( (UserProfileFullDetail.type ? '- (' : '' )+UserProfileFullDetail.type+ (UserProfileFullDetail.type ? ')' : '' )) : ''}}--> <!--&nbsp;&nbsp;&nbsp;&nbsp;{{"  Username : "+ UserProfileFullDetail.UserName}} --></h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form [formGroup]="BasicInfoForm" id="smart-form-register" novalidate="novalidate" [saUiValidate]="validationUserFormDetailOptions" >
               

                <fieldset>
                    <div class="col-md-2 avatarProfileImageCenter">
                      <section *ngIf="GetValue && BasicInfoForm.get('Avatar').value">
                        <img src="{{BasicInfoForm.get('Avatar').value}}" class='avatarProfileImage' width="80%" style="margin: 10px;border-radius: 5%;">
                      </section>
                      <section *ngIf="!(GetValue && BasicInfoForm.get('Avatar').value)">
                        <img src="assets/img/avatars/2.png" class='avatarProfileImage' width="80%" style="margin: 10px;border-radius: 5%;">
                      </section>
                      
                    </div>
                    <div class="col-md-10">
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">First Name <strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="FirstName" class="form-control input-md" type="text" name="FirstName" placeholder="First Name">
                          </label>

                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Middle Name </label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="MiddleName" class="form-control input-md" type="text" name="MiddleName" placeholder="Middle Name">
                          </label>

                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Last Name </label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="LastName" class="form-control input-md" name="LastName" type="text" placeholder="Last Name">
                          </label>

                        </div>
                      </div>
                      <div class="col-sm-12"></div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Email <strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="Email" class="form-control input-md" [name]="Role == 'Service Provider' ? 'SPEmail' : 'Email'" (change)="checkEmail()" type="email" placeholder="Email">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">Mobile No. <strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="Phone" class="form-control input-md" name="Phone" type="number" placeholder="Mobile">
                          </label>
                        </div>
                      </div>
                      <div class="clearfix" *ngIf="Role == 'Service Provider'"></div>
                      <div class="col-sm-3" *ngIf="Role == 'Service Provider'">
                        <div class="form-group">
                          <label class="label" style="color: black;">Emergency Contact Person's Name</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="AltName" class="form-control input-md" name="AlternateName" type="text" placeholder="Emergency Contact Name">
                          </label>
                        </div>
                      </div>
                      <div class="col-sm-3">
                        <div class="form-group">
                          <label class="label" style="color: black;">{{Role == 'Service Provider' ? "Emergency Contact" : "Alternate Contact "}} Number</label>
                          <label class="input" style="width: 100%;">
                            <input formControlName="AltPhone" class="form-control input-md" name="AltPhone" type="number" placeholder="Emergency Contact Number">
                          </label>
                        </div>
                      </div>
                      <div class="clearfix" *ngIf="Role == 'Service Provider'"></div>
                      <div class="col-sm-3" *ngIf="Role == 'Service Provider'">
                        <div class="form-group">
                          <label class="label" style="color: black;">DOB</label>
                          <div class="input-group">
                            <mat-form-field>
                              <input matInput formControlName="DOB" [matDatepicker]="picker" placeholder="DD/MM/YYYY">
                              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                              <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-3 smart-form" *ngIf="Role == 'Service Provider'">
                        <div class="inline-group form-group">
                          <label class="label" style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">Marital Status<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="radio">
                            <input type="radio" formControlName="Married"  name="Married" value="M">
                            <i></i>Married</label>
                          <label class="radio">
                            <input type="radio" formControlName="Married"  name="Married" value="S">
                            <i></i>Single</label>
                        </div>
                      </div>
                      <div class="col-sm-12"></div>
                      <div class="col-sm-3 smart-form marginTop5">
                        <div class="inline-group form-group">
                          <label class="label" style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">Gender<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="radio">
                            <input type="radio" formControlName="Gender"  name="Gender" value="M">
                            <i></i>Male</label>
                          <label class="radio">
                            <input type="radio" formControlName="Gender"  name="Gender" value="F">
                            <i></i>Female</label>
                        </div>
                      </div>
                      <div class="col-sm-2 smart-form" *ngIf="Role == 'Service Provider' || Role == 'Payment Collector' || Role == 'Quality Inspector'">
                        <div class="inline-group form-group marginTop5">
                          <label class="label" style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">Is Available<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="radio">
                            <input type="radio" formControlName="IsAvailable"  name="IsAvailable" value="Y">
                            <i></i>Yes</label>
                          <label class="radio">
                            <input type="radio" formControlName="IsAvailable"  name="IsAvailable" value="N">
                            <i></i>No</label>
                        </div>
                      </div>

                      <div class="col-sm-4">

                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- <div class="col-sm-12">
                      <hr style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
                    </div>
                    <div class="col-sm-12"><h3>Permanent Address</h3></div>
                    <div class="col-sm-12 smart-form">
                      <div class="inline-group form-group">
                        <label class="label" style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">Type</label>
                        <label class="radio">
                          <input type="radio" formControlName="PermanentAddressType" name="PermanentAddressType" value="O">
                          <i></i>Own</label>
                        <label class="radio">
                          <input type="radio" formControlName="PermanentAddressType" name="PermanentAddressType" value="R">
                          <i></i>Rented</label>
                      </div>
                    </div>
                    <div class="col-sm-2">
                      <div class="form-group marginTop5">
                        <label class="label" style="color: black">State <strong style="color: red;"><sup>*</sup></strong></label>
                        <label class="select" style="width: 100%;">
                          <select formControlName="State" class="form-control input-md" name="State" (change)="getAllCitiesByState(BasicInfoForm.controls.State.value)">
                            <option value="" selected disabled>Select State</option>
                            <option *ngFor="let st of States" value="{{st._id}}" >{{st.Name}}</option>
                          </select>
                          <i></i>
                        </label>
                      </div>

                    </div>

                    <div class="col-sm-2">
                      <div class="form-group">
                        <label class="label" style="color: black;">City <strong style="color: red;"><sup>*</sup></strong></label>
                        <label class="select" style="width: 100%;">
                          <select formControlName="City" class="form-control input-md" name="City">
                            <option value="" selected disabled>Select City</option>
                            <option *ngFor="let ct of Cities" value="{{ct._id}}" >{{ct.Name}}</option>
                          </select>
                          <i></i>
                        </label>
                      </div>

                    </div>
                    <div class="col-sm-1">
                      <div class="form-group">
                        <label class="label" style="color: black;">Pincode <strong style="color: red;"><sup>*</sup></strong></label>
                        <label class="input" style="width: 100%;">
                          <input formControlName="Pin" type="number" name="Pin" class="form-control input-md" min="0" placeholder="Pin">
                          <b class="tooltip tooltip-bottom-right">Pincode</b> </label>
                      </div>
                    </div>
                    <div class="col-sm-12"></div>
                    <div class="col-sm-5">
                      <div class="form-group">
                        <label class="label" style="color: black;">Address <strong style="color: red;"><sup>*</sup></strong></label>
                        <label class="input" style="width: 100%;">
                          <textarea formControlName="Address" name="Address" class="form-control input-md" rows="4" placeholder="Please put Flat or Apartment No. or Street name" ></textarea>
                          <b class="tooltip tooltip-bottom-right">Address</b> </label>

                      </div>
                    </div>
                    <div class="col-sm-6" >
                     
                    </div>
                    <div class="clearfix"></div>
                    <div class="" *ngIf="Role == 'Service Provider'">
                        <hr style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
                        <div class="col-sm-12">
                            <h3>Temporary Address</h3>
                          </div>
                        <div class="col-sm-12 smart-form">
                          <div class="inline-group form-group">
                            <label class="radio">
                              <input type="checkbox" formControlName="SameAs" (change)="checkSameAsAddress($event ,BasicInfoForm.controls.SameAs.value )" name="SameAs">
                              <i></i>Same As Permanent Address</label>
                          </div>
                        </div>
                        <div class="col-sm-12 smart-form" *ngIf='!BasicInfoForm.controls.SameAs.value'>
                          <div class="inline-group form-group marginTop5">
                            <label class="label" style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">Type</label>
                            <label class="radio">
                              <input type="radio" formControlName="TemporaryAddressType" name="TemporaryAddressType" value="O">
                              <i></i>Own</label>
                            <label class="radio">
                              <input type="radio" formControlName="TemporaryAddressType" name="TemporaryAddressType" value="R">
                              <i></i>Rented</label>
                          </div>
                        </div>
                        <div class="col-sm-2" *ngIf='!BasicInfoForm.controls.SameAs.value'>
                          <div class="form-group marginTop5">
                            <label class="label" style="color: black">State<strong style="color: red;"><sup>*</sup></strong></label>
                            <label class="select" style="width: 100%;">
                              <select formControlName="TemporaryState" class="form-control input-md" name="TemporaryState" (change)="getAllCitiesByTemporaryState(BasicInfoForm.controls.TemporaryState.value)">
                                <option value="" selected disabled>Select State</option>
                                <option *ngFor="let st of States" value="{{st._id}}" >{{st.Name}}</option>
                              </select>
                              <i></i>
                            </label>
                          </div>

                        </div>

                        <div class="col-sm-2" *ngIf='!BasicInfoForm.controls.SameAs.value'>
                          <div class="form-group">
                            <label class="label" style="color: black;">City<strong style="color: red;"><sup>*</sup></strong></label>
                            <label class="select" style="width: 100%;">
                              <select formControlName="TemporaryCity" class="form-control input-md" name="TemporaryCity">
                                <option value="" selected disabled>Select City</option>
                                <option *ngFor="let ct of TemporaryCities" value="{{ct._id}}" >{{ct.Name}}</option>
                              </select>
                              <i></i>
                            </label>
                          </div>

                        </div>

                        <div class="col-sm-1" *ngIf='!BasicInfoForm.controls.SameAs.value'>
                          <div class="form-group">
                            <label class="label" style="color: black;">Pincode<strong style="color: red;"><sup>*</sup></strong></label>
                            <label class="input" style="width: 100%;">
                              <input formControlName="TemporaryPin" type="number" name="TemporaryPin" class="form-control input-md" min="0" [minLength]="pinlength" [maxLength]="pinlength" placeholder="Pin">
                              <b class="tooltip tooltip-bottom-right">Pincode</b> </label>

                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-5" *ngIf='!BasicInfoForm.controls.SameAs.value'>
                          <div class="form-group">
                            <label class="label" style="color: black;">Address<strong style="color: red;"><sup>*</sup></strong></label>
                            <label class="input" style="width: 100%;">
                              <textarea formControlName="TemporaryAddress" name="TemporaryAddress" class="form-control input-md" rows="4" placeholder="Please put your Apartment or Flat or House Number and Street name." ></textarea>
                              <b class="tooltip tooltip-bottom-right">Address</b> </label>

                          </div>
                        </div>
                      </div> -->

                </fieldset>


                <!-- <footer>
                  <button type="submit"  (click)="onSubmitForm()" class="btn btn-success pull-right" style="margin:5px 10px 10px 5px;">
                    Update
                  </button>
              
                </footer> -->
              </form>
              <div class="clearfix"></div>
              <!-- <div class="col-sm-12"><hr *ngIf='Role != "Service Provider"' style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;"></div>
              <div *ngIf='Role != "Service Provider"' class="col-sm-12"><h3>Update Password</h3></div>
              <div *ngIf='Role != "Service Provider"' class="col-sm-12">
                <form [formGroup]="PasswordChangeForm" novalidate="novalidate" [saUiValidate]="validationPasswordFormDetailOptions" >
                

                <fieldset>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label class="label" style="color: black;">Old Password <strong style="color: red;"><sup>*</sup></strong></label>
                      <label class="input" style="width: 100%;">
                        <input id="OldPassword" formControlName="OldPassword" type="password" name="OldPassword" class="form-control input-md" placeholder="Old Password">
                        <b class="tooltip tooltip-bottom-right">Old Password</b> </label>

                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label class="label" style="color: black;">New Password <strong style="color: red;"><sup>*</sup></strong></label>
                      <label class="input" style="width: 100%;">
                        <input id="MyNewPassword" formControlName="NewPassword" type="password" name="MyNewPassword" class="form-control input-md" placeholder="New Password">
                        <b class="tooltip tooltip-bottom-right">New Password</b> </label>

                    </div>
                  </div>
                  <div class="col-sm-2">
                    <div class="form-group">
                      <label class="label" style="color: black;">Confirm Password <strong style="color: red;"><sup>*</sup></strong></label>
                      <label class="input" style="width: 100%;">
                        <input formControlName="ConfirmPassword" type="password" name="MyConfirmPassword" class="form-control input-md" placeholder="Confirm Password">
                        <b class="tooltip tooltip-bottom-right">Confirm Password</b> </label>

                    </div>
                  </div>
                </fieldset>
                <div class='row'>
                  <button type="submit" (click)="onPasswordSubmitForm()" class="btn btn-success pull-right" style="margin:5px 10px 10px 5px;">
                    Update
                  </button>
                </div>
              </form>
              </div> -->
            </div>
            <div class="clearfix"></div>

            <!-- <hr *ngIf='Role != "Service Provider"' style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;"> -->
            <div class="card card-accent-primary" style='display:none;'>
              <div class="card-header">
                <h3>Documents Detail</h3>
              </div>
              <div class="card-body">
                
                <div class="row">
                  <div class="col-sm-12">
                    <p class="note-document"> Note: Please put your document ID number, browse file and then click upload button to upload file.<br>
                       Upload Only jpg, jpeg, png , doc , docx and pdf file (Size below 1MB). </p>
                  </div>
                </div>
                <div class="row" *ngFor="let item of allDocuments;let i = index">
                  <div class="col-md-2">
                    <label class="pt-3">{{item.Name}}<strong *ngIf="item.isRequired == 'Required'" style="color: red;"><sup>*</sup></strong></label>
                  </div>
                  <mat-form-field class="col-md-3" [hintLabel]="item.Name == 'PAN' ? '10 character PAN Number (pattern - QWERT4584T)': (item.Name == 'Aadhar' ? '12 digit Aadhar number': null)">
                    <input matInput [(ngModel)]="item.value" placeholder="{{item.Name}} Number" [required]="(item.isRequired == 'Required')? 'required': null" [minlength]="item.Length" [maxlength]="item.Length" [attr.pattern]="item.Pattern" (blur)="checkPatternValidation(item.value, item.Pattern)">
                  </mat-form-field>
                  <div class="col-md-3">
                    <input *ngIf="!documentUploadedArray[item.Name]" type="file" [id]='i' class="form-control" (change)="onFileChange($event, item.Name)">
                  </div>
                  <div class="col-md-1">
                    <span class='uploadFile' *ngIf="documentUploadedArray[item.Name]">File uploaded</span>
                  </div>
                  <div class="col-md-3 text-right">
                    
                    <button mat-button mat-raised-button color="primary" *ngIf="documentUploadedArray[item.Name]" (click)="deleteFile(item.Name)"><i class="fa fa-trash fileTrash">&nbsp;</i>Delete</button>&nbsp;
                    <button *ngIf="!documentUploadedArray[item.Name]" mat-button mat-raised-button color="primary" [disabled]="!item.value || (item.Length && item.value.length != item.Length ) || !allImages[item.Name] || !(item.value.match(item.Pattern))" (click)="addDocumentDetail(item.value, item.Name)"><i class="fa fa-plus">&nbsp;</i>Upload</button>
                  </div>
                </div>
                <div class="clearfix"></div>
                <hr *ngIf='Role != "Service Provider"' style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
                <div class="row">
                  <div class="col-md-12"><h3>Other Documents</h3></div>
                  
                  <div class="col-md-2">
                    <label class="pt-3">Doc. Title</label>
                  </div>
                  <mat-form-field class="col-md-3">
                    <input matInput [(ngModel)]="eduDocTitle" placeholder="Document Title" required>
                  </mat-form-field>
                  <div class="col-md-4">
                    <input #myInput id='otherDoc' type="file" class="form-control" (change)="onEduDocumentFileChange($event)">
                  </div>
                  <div class="col-md-3 text-right">
                    <button mat-button mat-raised-button color="primary" [disabled]="eduDocTitle == '' || !eduDocImage"
                            (click)="addEduDocDetail()"><i class="fa fa-plus">&nbsp;</i>upload
                    </button>
                  </div>

                    <div class="col-sm-12">
                      <p class="note-document">
                        Note: Please put your document ID number, browse file and then click upload button to upload file. You also needs to click on Update button to save all changes to system.<br>
                        Upload Only jpg, jpeg, png , doc , docx and pdf file (Size below 1MB).
                      </p>
                    </div>

                  <div class="clearfix"></div>
                  <div class="col-md-12  calenderEmployeeSataus" style="overflow-x: auto">
                    <table class="table table-hover table-striped" style="border: 1px solid lightgray;">
                      <thead style=" line-height: 0.5;">
                      <tr class="table-header">
                        <th style="width: 70px;">S.No.</th>
                        <th>Document</th>
                        <th style="width: 70px;">Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let item of educationDocumentArray; let i = index;">
                        <td>{{i + 1}}</td>
                        <td>{{item.Title}}</td>
                        
                        <td>
                          <a title='Delete' class="text-danger" (click)="deleteEduDoc(i)" style="cursor:pointer;"><i
                                  class="material-icons">delete_forever</i></a>
                        </td>
                      </tr>
                      <tr>
                        <td colspan="4" *ngIf="educationDocumentArray.length == 0">No Record Found.</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="row">
                <button type="submit"  (click)="updateRecord()" class="btn btn-success pull-right" style="margin:5px 10px 10px 5px;">
                  Update 
                </button>
              </div>
            </div>
            <div class="clearfix"></div>

            <div class="row" *ngIf="Role == 'Service Provider'" style='display: none'>
              <div class="clearfix"></div>
              <hr *ngIf='Role != "Service Provider"' style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
              <div class="col-sm-12"><h3>Education Details</h3></div>
              <form [formGroup]="SecondaryDetailForm">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Education Qualification</label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="EducationQualification" class="form-control input-md" type="text" placeholder="Education Qualification">
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Language</label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="Language" class="form-control input-md" type="text" placeholder="Language">
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Injuries If Any</label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="Injuries" class="form-control input-md" type="text" placeholder="Injuries If Any">
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Blood Group</label>

                    <label class="select" style="width: 100%;">
                      <select formControlName="BloodGroup" class="form-control input-md">
                        <option value="0" selected disabled>Select Blood Group</option>
                        <option value="O-" >O-</option>
                        <option value="O+" >O+</option>
                        <option value="A-" >A-</option>
                        <option value="A+" >A+</option>
                        <option value="B-" >B-</option>
                        <option value="B+" >B+</option>
                        <option value="AB-" >AB-</option>
                        <option value="AB-" >AB-</option>

                      </select>
                      <i></i>
                    </label>
                  </div>
                </div>

                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Vehicle Information</label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="Vehicle" type="text" class="form-control input-md" placeholder="Vehicle Information">
                    </label>
                  </div>
                </div>
              </form>
              <div class="clearfix"></div>
              <button type="submit"  (click)="updateRecord()" class="btn btn-success pull-right" style="margin:5px 10px 10px 5px;">
                Update
              </button>
            </div>
            <div class="row" *ngIf="Role == 'Service Provider'" style='display: none'>
              <div class="clearfix"></div>
              <hr *ngIf='Role != "Service Provider"' style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
              <div class="col-sm-12"><h3>Family Details</h3></div>
              <form [formGroup]="FamilyInfoForm">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Father Name</label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="FatherName" class="form-control input-md" type="text" placeholder="Father Name">
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Mother Name</label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="MotherName" class="form-control input-md" type="text" placeholder="Mother Name">
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Spouse Name</label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="SpouseName" class="form-control input-md" type="text" placeholder="Spouse Name">
                    </label>
                  </div>
                </div>

              </form>
              <div class="clearfix"></div>
              <button type="submit"  (click)="updateRecord()" class="btn btn-success pull-right" style="margin:5px 10px 10px 5px;">
                Update
              </button>
            </div>

            <div class="clearfix"></div>
            <div class="row"  *ngIf="Role == 'Vendor'" style='display: none'>
              <div class="clearfix"></div>
              <hr *ngIf='Role != "Service Provider"' style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
              <div class="col-sm-12"> <h3>Company Details</h3></div>
              <form [formGroup]="ShopInfoForm">
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="label" style="color: black;">Company Name <strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="ShopName" class="form-control input-md" type="text" placeholder="Shop/Company Name">
                    </label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="label" style="color: black;">Company Email <strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="CompanyEmail" class="form-control input-md" type="email" placeholder="Company Email">
                    </label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="label" style="color: black;">Company GST No. <strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="ShopRegistrationNo" class="form-control input-md" type="text" placeholder="Company GST No.">
                    </label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="label" style="color: black;">GST Certificate <strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input" style="width: 100%;">
                      <input type="file"  (change)="uploadImage($event  , 'Shop')">
                    </label>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12"><h3>Head Offlice</h3></div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="label" style="color: black">State <strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="select" style="width: 100%;">
                      <select formControlName="State" (change)="getAllCitiesByShopState(ShopInfoForm.controls.State.value)" class="form-control input-md">
                        <option value="" selected disabled>Select State</option>
                        <option *ngFor="let st of States" value="{{st._id}}" >{{st.Name}}</option>
                      </select>
                      <i></i>
                    </label>
                  </div>

                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="label" style="color: black;">City <strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="select" style="width: 100%;">
                      <select formControlName="City" class="form-control input-md">
                        <option value="" selected disabled>Select City</option>
                        <option *ngFor="let cty of ShopCities" value="{{cty._id}}">{{cty.Name}}</option>
                      </select>
                      <i></i>
                    </label>
                  </div>

                </div>
                


                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="label" style="color: black;">Pin <strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="Pin" type="number" class="form-control input-md">
                    </label>
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="form-group">
                    <label class="label" style="color: black;">Address <strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input" style="width: 100%;">
                      <textarea formControlName="Address" class="form-control input-md" rows="2"></textarea>
                    </label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label class="label" style="color: black;">Contact No <strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="ContactNo" type="number" maxlength="10" class="form-control input-md">
                    </label>
                  </div>
                </div>
              </form>
              <div class="clearfix"></div>
              <button type="submit"  (click)="updateRecord()" class="btn btn-success pull-right" style="margin:5px 10px 10px 5px;">
                Update
              </button>
            </div>
            <div class="clearfix"></div>
            <div class="row" *ngIf="(UserProfileFullDetail.type != 'MSP') && (Role == 'Service Provider' ||  Role == 'Vendor')" style='display: none'>
              <div class="clearfix"></div>
              <hr *ngIf='Role != "Service Provider"' style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
              <div class="col-sm-12"><h3>Financial Details</h3></div>
              <form [formGroup]="FinacInfo">
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Type Of Account</label>
                    <select formControlName="TypeOfAccount"  class="form-control input-md">
                      <option value="" selected disabled>Select Type Of Account</option>
                      <option value="savings" >Savings</option>
                      <option value="current" >Current</option>
                    </select>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Name in Bank Account</label>
                    <label class="input" style="width: 100%;">
                      <input type="text" formControlName="Name" class="form-control input-md" placeholder="Name">
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Account Number</label>
                    <label class="input" style="width: 100%;">
                      <input type="number" formControlName="AccountNumber" class="form-control input-md" placeholder="Account Number">
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Bank Name</label>
                    <label class="input" style="width: 100%;">
                      <input type="text" formControlName="BankName" class="form-control input-md" placeholder="Bank Name">
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">IFSC Code</label>
                    <label class="input" style="width: 100%;">
                      <input type="text" formControlName="IFSCCode" class="form-control input-md" placeholder="IFSC Code">
                    </label>
                  </div>
                </div>
                
              <div class="clearfix"></div>
                <div class="col-sm-2" *ngIf="Role == 'Service Provider'">
                <div class="form-group">
                  <label class="label" style="color: black;">Online Account Type</label>
                  <label class="input" style="width: 100%;">
                    
                    <select class="form-control" formControlName="OnlineAccountType">
                      <option value="" disabled selected>Please select.....</option>
                      <option value="paytm">Paytm</option>
                      <option value="g-pay">G-Pay</option>
                      <option value="phone-pe">Phone Pe</option>
                    </select>
                  </label>
                </div>
              </div>
                <div class="col-sm-2" *ngIf="Role == 'Service Provider'">
                  <div class="form-group">
                    <label class="label" style="color: black;">Online Account ID</label>
                    <label class="input" style="width: 100%;">
                      <input type="text" formControlName="OnlineAccountID" class="form-control input-md" placeholder="Online Account ID">
                    </label>
                  </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Credit Limits (Rupees)</label>
                    <label class="select" style="width: 100%;">
                     
                      <select formControlName="CreditLimits" class="form-control input-md" required>
                        <option value="" selected disabled>Select Credit Limit</option>
                        <option value="10000">10000</option>
                        <option value="25000">25000</option>
                        <option value="50000">50000</option>
                      </select>
                    </label>
                  </div>
                </div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Credit Days</label>
                    <label class="select" style="width: 100%;">
                      
                      <select formControlName="CreditDays" class="form-control input-md" required>
                        <option value="" selected disabled>Select Credit Days</option>
                        <option value="30">30 Days</option>
                        <option value="45">45 Days</option>
                        <option value="60">60 Days</option>
                      </select>
                    </label>
                  </div>
                </div>
              </form>
              <div class="clearfix"></div>
              <button type="submit"  (click)="updateRecord()" class="btn btn-success pull-right" style="margin:5px 10px 10px 5px;">
                Update
              </button>
            </div>

            <div class="col-sm-12" *ngIf="Role == 'Vendor'" style='margin-bottom:15px;display:none;'> 
              <div class="clearfix"></div>
              <hr *ngIf='Role != "Service Provider"' style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
              <form [formGroup]='VendorAddressForm'  novalidate="novalidate" [saUiValidate]="validationVendorAddressOptions">        
              <fieldset class='customFieldset'>
                  <legend  class='customlegend'>Office Address</legend>
                  <div class='col-sm-9 col-sm-offset-3'><p>Point of Contact For Profix</p></div>
                  <div class="col-sm-3 smart-form">
                      <div class="inline-group form-group">
                        <label class="label" style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">&nbsp;</label>
                        <label class="radio">
                          <input type="radio" formControlName="Office"  name="Office" value="Head">
                          <i></i>Head Office</label>
                        <label class="radio">
                          <input type="radio" formControlName="Office"  name="Office" value="Branch">
                          <i></i>Branch Office</label>
                      </div>
                    </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="label" style="color: black;">Name<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="Name" name="VAName" type="text" class="form-control input-md"  placeholder="Name">
                      <b class="tooltip tooltip-bottom-right">Pin</b> </label>

                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="label" style="color: black;">Number<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="Number" name="VANumber" type="number" class="form-control input-md"  placeholder="Number">
                      <b class="tooltip tooltip-bottom-right">Pin</b> </label>

                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label class="label" style="color: black;">Email<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="Email" name="VAEmail" type="email" class="form-control input-md" placeholder="Email">
                      <b class="tooltip tooltip-bottom-right">email</b> </label>
                  </div>
                </div>
                
                <div class="clearfix"></div>
                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black">State<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="select" style="width: 100%;">
                      <select formControlName="State" class="form-control input-md" name="VAState" (change)="getAllCitiesByStateVendorAddress(VendorAddressForm.controls.State.value)">
                        <option value="" selected disabled>Select State</option>
                        <option *ngFor="let st of States" value="{{st._id}}" >{{st.Name}}</option>
                      </select>
                      <i></i>
                    </label>
                  </div>

                </div>

                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">City<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="select" style="width: 100%;">
                      <select formControlName="City" class="form-control input-md" name="VACity">
                        <option value="" selected disabled>Select City</option>
                        <option *ngFor="let ct of VenderAddressCities" value="{{ct._id}}" >{{ct.Name}}</option>
                      </select>
                      <i></i>
                    </label>
                  </div>

                </div>
                

                <div class="col-sm-2">
                  <div class="form-group">
                    <label class="label" style="color: black;">Pincode<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input" style="width: 100%;">
                      <input formControlName="Pin" type="number" name="VAPin" class="form-control input-md" min="0" [minLength]="pinlength" [maxLength]="pinlength" placeholder="Pin">
                      <b class="tooltip tooltip-bottom-right">Pincode</b> </label>

                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                      <label class="label" style="color: black;">Address<strong style="color: red;"><sup>*</sup></strong></label>
                      <label class="input" style="width: 100%;">
                        <textarea formControlName="Address" name="VAAddress" class="form-control input-md" rows="3" placeholder="Please put your Apartment or Flat or House Number and Street name." ></textarea>
                        <b class="tooltip tooltip-bottom-right">Address</b> </label>
                    </div>
                  </div>
                  <div class='col-sm-12'>
                      <button type="submit" (click)='addVenderAddress()' class='btn btn-primary'>Save</button>
                    </div>
              </fieldset>
              
            </form>  
            <div class="clearfix"></div>
            <hr *ngIf='Role != "Service Provider"' style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
            <h4 *ngIf='VenderAddress.length > 0'><b>Office Addresses</b></h4>
            <table class="table table-responsive" *ngIf='VenderAddress.length > 0'>
              <thead>
                  <th>Office</th>
                  <th>Name</th>
                  <th>Number</th>
                  <th>Email</th>
                  <th>Action</th>
              </thead>
              <tbody *ngFor='let va of VenderAddress;let i = index'>
                  <tr>
                    <td>{{va.Office}}</td>
                    <td>{{va.Name}}</td>
                    <td>{{va.Number}}</td>
                    <td>{{va.Email}}</td>
                    <td>
                      <a class="text-danger" (click)="updateVenderAddress(i)" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>
                      <a class="text-danger" (click)="deleteVenderAddress(i)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                    </td>
                  </tr>
              </tbody>
            </table>
              </div>
          </div>
        </div>
      </article>
      <div class="clearfix"></div>
    </div>
  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>    
