<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Team/Company', 'List']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
  </div>

  <sa-widgets-grid>


    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark" >

          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
          </header>
          <h2></h2>

          <!--team request list-->
          <div *ngIf="currentUser.RoleName == 'Super Admin'" style="margin-bottom: 30px;">
            <div class="widget-body no-padding">
              <h2 style="margin-left: 15px;">Team/Company Request List</h2>
              <div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By User Name , Email , Role , Locality , City and State">
              </div>
              <div class="table-user unit-container">
                <div class="unit-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div style="padding: 1px;">
                  <table mat-table [dataSource]="dataSource" matSort style="width:100%;">

                    <!-- Name Column -->
                    <ng-container matColumnDef="SN">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="width: 80px;"> S. No </th>
                      <td mat-cell *matCellDef="let row ; let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.UserID.FirstName + ' ' + row.UserID.MiddleName + ' ' + row.UserID.LastName}}</td>
                    </ng-container>

                    <!-- Request Date Column -->
                    <ng-container matColumnDef="Request Date">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Request Date/Time </th>
                      <td mat-cell *matCellDef="let row"> {{row.RequestTime | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                    </ng-container>

                    <!-- AdminAction Column -->
                    <ng-container matColumnDef="AdminAction">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Action Date/Time </th>
                      <td mat-cell *matCellDef="let row"> {{row.ActionTime | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                    </ng-container>

                    <!-- type Column -->
                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Request For </th>
                      <td mat-cell *matCellDef="let row"> {{row.type}}</td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Status </th>
                      <td mat-cell *matCellDef="let row">
                        <button *ngIf="row.Status == '1'" class="btn btn-danger" (click)="rejectRequest(row._id)">Reject</button>&nbsp;&nbsp;
                        <button *ngIf="row.Status == '1'" class="btn btn-success" (click)="acceptRequest(row._id)">Accept</button>
                        <span *ngIf="row.Status == '2'" class="text-danger">Rejected</span>
                        <span *ngIf="row.Status == '3'" class="text-success">Accepted</span>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                  <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
            </div>
          </div>

          <!--disposal request list-->
          <div *ngIf="currentUser.RoleName == 'Super Admin'" style="margin-bottom: 30px;">
            <div class="widget-body no-padding">
              <h2 style="margin-left: 15px;">Team/Company Disposal Request List</h2>
              <div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By User Name , Email , Role , Locality , City and State">
              </div>
              <div class="table-user unit-container">
                <div class="unit-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div style="padding: 1px;">
                  <table mat-table [dataSource]="dataSourceForDisposal" matSort style="width:100%;">

                    <!-- Name Column -->
                    <ng-container matColumnDef="SN">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="width: 80px;"> S. No </th>
                      <td mat-cell *matCellDef="let row ; let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                    </ng-container>

                    <!-- TeamName Column -->
                    <ng-container matColumnDef="TeamName">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Team Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.TeamID.CompanyName}}</td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Owner Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.UserID.FirstName + ' ' + row.UserID.MiddleName + ' ' + row.UserID.LastName}}</td>
                    </ng-container>

                    <!-- Request Date Column -->
                    <ng-container matColumnDef="Request Date">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Request Date/Time </th>
                      <td mat-cell *matCellDef="let row"> {{row.RequestTime | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                    </ng-container>

                    <!-- AdminAction Column -->
                    <ng-container matColumnDef="AdminAction">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Action Date/Time </th>
                      <td mat-cell *matCellDef="let row"> {{row.ActionTime | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                    </ng-container>

                    <!-- type Column -->
                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Request For </th>
                      <td mat-cell *matCellDef="let row"> {{row.type}}</td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Status </th>
                      <td mat-cell *matCellDef="let row">
                        <button *ngIf="row.Status == '1'" class="btn btn-danger" (click)="rejectDisposalRequest(row._id)">Reject</button>&nbsp;&nbsp;
                        <button *ngIf="row.Status == '1'" class="btn btn-success" (click)="acceptDisposalRequest(row._id, row.TeamID._id)">Accept</button>
                        <span *ngIf="row.Status == '2'" class="text-danger">Rejected</span>
                        <span *ngIf="row.Status == '3'" class="text-success">Accepted</span>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForDisposal"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForDisposal;"></tr>
                  </table>
                  <div *ngIf="dataSourceForDisposal && dataSourceForDisposal.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                  <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
            </div>
          </div>

          <!--Invitation request list-->
          <div style="margin-bottom: 30px;">
            <div class="widget-body no-padding">
              <h2 style="margin-left: 15px;">Team Member Invitation Request List</h2>
              <div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By User Name , Email , Role , Locality , City and State">
              </div>
              <div class="table-user unit-container">
                <div class="unit-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div style="padding: 1px;">
                  <table mat-table [dataSource]="dataSourceForInviteRequest" matSort style="width:100%;">

                    <!-- Name Column -->
                    <ng-container matColumnDef="SN">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="width: 80px;"> S. No </th>
                      <td mat-cell *matCellDef="let row ; let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                    </ng-container>

                    <!-- Team Name Column -->
                    <ng-container matColumnDef="Team Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Team/Company Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.TeamID.CompanyName}}</td>
                    </ng-container>

                    <!-- InvitedBy Column -->
                    <ng-container matColumnDef="InvitedBy">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Invited By </th>
                      <td mat-cell *matCellDef="let row"> </td>
                    </ng-container>

                    <!-- User Name Column -->
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Invited To </th>
                      <td mat-cell *matCellDef="let row"> {{row.UserID.FirstName + ' ' + row.UserID.MiddleName + ' ' + row.UserID.LastName}}</td>
                    </ng-container>

                    <!-- Request Date Column -->
                    <ng-container matColumnDef="Request Date">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Requested Date/Time </th>
                      <td mat-cell *matCellDef="let row"> {{row.RequestTime | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                    </ng-container>

                    <!-- AdminAction Column -->
                    <ng-container matColumnDef="AdminAction">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Action Date/Time </th>
                      <td mat-cell *matCellDef="let row"> {{row.ActionTime | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Status </th>
                      <td mat-cell *matCellDef="let row">
                        <button *ngIf="currentUser.RoleName != 'Super Admin' && row.Status == '1'" class="btn btn-danger" (click)="rejectInvitationRequest(row._id)">Reject</button>&nbsp;&nbsp;
                        <button *ngIf="currentUser.RoleName != 'Super Admin' && row.Status == '1'" class="btn btn-success" (click)="acceptInvitationRequest(row._id)">Accept</button>
                        <span *ngIf="row.Status == '2'" class="text-danger">Rejected</span>
                        <span *ngIf="row.Status == '3'" class="text-success">Accepted</span>
                        <span *ngIf="row.Status == '4'" class="text-danger">Left</span>
                        <span *ngIf="currentUser.RoleName == 'Super Admin' && row.Status == '1'" class="text-warning">Pending</span>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForInviteRequest"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForInviteRequest;"></tr>
                  </table>
                  <div *ngIf="dataSourceForInviteRequest && dataSourceForInviteRequest.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                  <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
            </div>
          </div>

          <!--Leave request list-->
          <div *ngIf="isLeaveRequestData.length > 0" style="margin-bottom: 30px;">
            <div class="widget-body no-padding">
              <h2 style="margin-left: 15px;">Team Member Leave Request List</h2>
              <div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By User Name , Email , Role , Locality , City and State">
              </div>
              <div class="table-user unit-container">
                <div class="unit-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div style="padding: 1px;">
                  <table mat-table [dataSource]="dataSourceForLeaveRequest" matSort style="width:100%;">

                    <!-- Name Column -->
                    <ng-container matColumnDef="SN">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="width: 80px;"> S. No </th>
                      <td mat-cell *matCellDef="let row ; let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                      <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                    </ng-container>

                    <!-- Team Name Column -->
                    <ng-container matColumnDef="Team Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Team/Company Name </th>
                      <td mat-cell *matCellDef="let row"> {{row.TeamID.CompanyName}}</td>
                    </ng-container>

                    <!-- InvitedBy Column -->
                    <ng-container matColumnDef="InvitedBy">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Invited By </th>
                      <td mat-cell *matCellDef="let row"> </td>
                    </ng-container>

                    <!-- User Name Column -->
                    <ng-container matColumnDef="Name">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Invited To </th>
                      <td mat-cell *matCellDef="let row"> {{row.UserID.FirstName + ' ' + row.UserID.MiddleName + ' ' + row.UserID.LastName}}</td>
                    </ng-container>

                    <!-- Request Date Column -->
                    <ng-container matColumnDef="Request Date">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Requested Date/Time </th>
                      <td mat-cell *matCellDef="let row"> {{row.RequestTime | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                    </ng-container>

                    <!-- AdminAction Column -->
                    <ng-container matColumnDef="AdminAction">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Action Date/Time </th>
                      <td mat-cell *matCellDef="let row"> {{row.ActionTime | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="Status">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Status </th>
                      <td mat-cell *matCellDef="let row">
                        <button *ngIf="currentUser.RoleName != 'Super Admin' && row.Status == '1'" class="btn btn-danger" (click)="rejectLeaveRequest(row._id)">Reject</button>&nbsp;&nbsp;
                        <button *ngIf="currentUser.RoleName != 'Super Admin' && row.Status == '1'" class="btn btn-success" (click)="acceptLeaveRequest(row._id, row.UserID._id)">Accept</button>
                        <span *ngIf="row.Status == '2'" class="text-danger">Rejected</span>
                        <span *ngIf="row.Status == '3'" class="text-success">Accepted</span>
                        <span *ngIf="row.Status == '4'" class="text-danger">Left</span>
                        <span *ngIf="currentUser.RoleName == 'Super Admin' && row.Status == '1'" class="text-warning">Pending</span>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumnsForLeaveRequest"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsForLeaveRequest;"></tr>
                  </table>
                  <div *ngIf="dataSourceForLeaveRequest && dataSourceForLeaveRequest.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                  <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
                </div>
              </div>
            </div>
          </div>

        </div>

      </article>


    </div>

  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         