<style>

  @media screen and (max-width: 768px) {
      .mat-table {
        border: 0;
        vertical-align: middle
      }
    
      .mat-table caption {
        font-size: 1em;
      }
      
      .mat-table .mat-header-cell {
        
        border: 10px solid;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        padding: 0;
        position: absolute;
        width: 1px;
      }
  
      .mat-table .mat-row {
        border-bottom: 5px solid #ddd;
        display: block;
      }
      
      .mat-table .mat-row:nth-child(even) {background: #CCC}
      .mat-table .mat-row:nth-child(odd) {background: #FFF}
      
      .mat-table .mat-cell {
        border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height: 53px !important;
    line-height: 53px;
    max-width: 100% !important;
      }
      .mat-table img{
        width: 50px !important;
      }
      .mat-table .mat-cell:before {
       
        content: attr(aria-label);
    
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: normal;
        
        font-size: .85em;
      }
      .mat-table .mat-cell:last-child {
        border-bottom: 0;
      }
        .mat-table .mat-cell:first-child {
          margin-top: 0%;
        max-width: 100% !important;
        line-height: 41px;
        height: 40px;
      }
    }
    @media screen and (max-width: 768px) {
      .categories-table-container{
          overflow-x: scroll;
      }
      .mat-cell{
          padding-left: 15px !important;
          padding-right: 15px !important;
      }
      .mat-row{
          min-height: 30px !important;
      }
      .UserDataGrid{
          padding:  0 20px;
      }
      .mat-header-row{
        display: none !important;
      }
    }
  </style>
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Categories', 'List']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

    <!--<sa-stats></sa-stats>-->
  </div>

  <sa-widgets-grid class="UserDataGrid">


    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">

          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <button routerLink="/categories/createnew/-1" class="btn pull-right addButton">+ Add New</button>
          </header>
          <div>
            <div class="widget-body no-padding">

              <div style="height: 26px;padding: 5px;margin: 10px 20px;border: 1px solid #eae8e8;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter By Category Name">
              </div>

              <div class="table-user categories-container mat-elevation-z8">
                <div class="categories-loading-shade"
                     *ngIf="isLoadingResults || isRateLimitReached">
                  <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                  <div class="categories-rate-limit-reached" *ngIf="isRateLimitReached">
                    API rate limit has been reached. It will be reset in one minute.
                  </div>
                </div>

                <div class="categories-table-container">
                  <mat-table [dataSource]="dataSource" matSort style="width:100%;">

                    <!-- ID Column -->
                    <ng-container matColumnDef="_id">
                      <mat-header-cell *matHeaderCellDef mat-sort-header style="height: 100px;"> ID </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="ID" style="height: 100px;"> {{row._id}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header style="height: 100px;" > Name </mat-header-cell>
                      <mat-cell *matCellDef="let row" data-label="Name"  style="height: 100px;"> {{row.Name}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Icon">
                      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:12%;height: 100px;"> Icon </mat-header-cell>
                      <mat-cell *matCellDef="let row" style="max-width:12%;height: 100px;"  data-label="Icon"> <img src="{{url + row.IconImage}}" style="width: 80px"> </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="Featured">
                      <mat-header-cell *matHeaderCellDef mat-sort-header style="max-width:12%;height: 100px;"> Show On Home Page </mat-header-cell>
                      <mat-cell *matCellDef="let row"  data-label="Show On Home Page" style="max-width:12%;height: 100px;"> {{row.Isfeatured ? "Yes" : "No"}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="SN">
                      <mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="max-width:10%;height: 100px;"> S. No </mat-header-cell>
                      <mat-cell *matCellDef="let row ; let i = index;"  data-label="SN" style="max-width:10%;height: 100px;"> {{pageIndex+i+1}} </mat-cell>
                    </ng-container>


                    <!-- Action Column -->
                    <ng-container matColumnDef="Action">
                      <mat-header-cell *matHeaderCellDef style="max-width:100px;height: 100px;">Action</mat-header-cell>
                      <mat-cell *matCellDef="let row" style="max-width:100px;"  data-label="Action">
                        <a title='Edit' id="user_edit" class="text-primary" routerLink="/categories/createnew/{{row._id}}" style="cursor:pointer;"><i class="fa fa-pencil"></i></a>&nbsp;|&nbsp;
                        <a title='Delete'  id="user_delete" id="userTableAction" class="text-danger" (click)="delete(row._id)" style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                      </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </div>
                <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                <mat-paginator #paginator
               [pageSize]="limit"
               [pageSizeOptions]="pageLimit"
               (page)="changePage($event)" showFirstLastButtons>
</mat-paginator>

              </div>

            </div>
          </div>
        </div>

      </article>


    </div>

  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>
