<div id="content">
  <div class="row" *ngIf="ID == '-1'">
    <sa-big-breadcrumbs [items]="['Category', 'Add Category']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>
  <div class="row" *ngIf="ID != '-1'">
    <sa-big-breadcrumbs [items]="['Category', 'Edit Category']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>

  <sa-widgets-grid>


    <div class="row">
      <article class="col-sm-12">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>{{ID == '-1' ? 'Add' : 'Edit'}} Category</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form [formGroup]="CategoryForm" id="smart-form-register" class="smart-form client-form">
                <!--<header>-->
                  <!--User Form-->
                <!--</header>-->

                <fieldset>


                  <section class="col-sm-3" *ngIf="ID == '-1'">
                    <label class="control-label">Category Name<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input">
                      <input type="text" formControlName="Name" name="cname" placeholder="Category Name" (change)="onChangeCategory()">
                      <b class="tooltip tooltip-bottom-right">Category Name</b> </label>
                  </section>

                  <section class="col-sm-12">
                    <label class="file" style="width: 100%">
                      <div class="form-group">
                        <label class="col-md-2 control-label">Header Image<strong style="color: red;"><sup>*</sup></strong></label>
                        <div class="col-md-8">
                          <input type="file" accept=".jpg,.jpeg,.png" (change)="uploadImage($event  , 'Header')" id="exampleInputFile1" name="exampleInputFile1">
                        </div>
                        <div class="col-md-2 pageUploadImage" *ngIf="ID !== '-1'"><img src="{{headerImageUrl}}"></div><!--{{PageForm.controls.HeaderImage.value}}-->
                      </div>
                      <b class="tooltip tooltip-bottom-right">Header Image</b> </label>
                  </section>
                  <section class="col-sm-12">
                    <label class="file" style="width: 100%">
                      <div class="form-group">
                        <label class="col-md-2 control-label">Icon<strong style="color: red;"><sup>*</sup></strong></label>
                        <div class="col-md-8">
                          <input type="file"  (change)="uploadImage($event  , 'Icon')"  id="exampleInputFile2" name="exampleInputFile2">
                        </div>
                        <div class="col-md-2 pageUploadImage" *ngIf="ID !== '-1'"><img src="{{iconImageUrl}}"></div><!--{{PageForm.controls.HeaderImage.value}}-->
                      </div>
                      <b class="tooltip tooltip-bottom-right">Icon Image</b> </label>
                  </section>

                  <section class="col-sm-3">
                    <label class="control-label">Slug<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input">
                      <input type="text" formControlName="Slug" name="Slug" placeholder="Slug Name">
                      <b class="tooltip tooltip-bottom-right">Slug Name</b> </label>
                  </section>
                  <div class="clearfix"></div>

                  <div class="row" style="margin:0; padding: 0;">
                    <section class="col-md-2">
                      <label class="control-label">Order<strong style="color: red;"><sup>*</sup></strong></label>
                      <label class="input">
                        <input type="number" pattern="^-?[0-9]+$" formControlName="Order" name="Order" placeholder="Order Number">
                        <b class="tooltip tooltip-bottom-right">Order Number</b> </label>
                    </section>
                    <section class="col-md-6" style="margin-top:20px;margin-left:20px;">
                      <label class="file" style="width: 100%">
                        <label class="toggle state-success col-md-8"><input type="checkbox" formControlName="Isfeatured" name="checkbox-toggle"><i  data-swchon-text="YES" data-swchoff-text="NO"></i>Show On HomePage&nbsp;&nbsp;</label>
                        <b class="tooltip tooltip-bottom-right">Show On HomePage</b> </label>
                    </section>
                  </div>


                </fieldset>
              </form>
              <div class="col-sm-12">
                <label class="control-label">Category Description<strong style="color: red;"><sup>*</sup></strong></label>
                <div id="summernote" (change)="descriptionss()" [summernote]="{height: 180}">

                </div>
              </div>

              <div class="col-sm-12" style="padding: 10px">
                <button  (click)="onSubmitForm()" class="btn btn-success pull-right"   style="margin-left: 10px;">
                  Save
                </button>
                <button  (click)="cancel()" class="btn btn-warning pull-right">
                  Cancel
                </button>
                <!-- <mat-progress-spinner 
                                      [diameter]="30"
                                      class="form-spinner"
                                      color="primary"
                                      mode='indeterminate'
                                      value="5">
                </mat-progress-spinner> -->
              </div>
            </div>
          </div>
        </div>


      </article>


    </div>

  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>
