<div id="content">
  <div class="row" *ngIf="ID == '-1'">
    <sa-big-breadcrumbs [items]="['Services', 'Add Service']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>
  <div class="row" *ngIf="ID != '-1'">
    <sa-big-breadcrumbs [items]="['Services', 'Edit Service']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>

  <sa-widgets-grid>


    <div class="row">
      <article class="col-sm-6 col-sm-offset-3">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>{{ID == '-1' ? 'Add' : 'Edit'}} Service</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form [formGroup]="ServiceForm" id="smart-form-register" class="smart-form client-form" >
                <!--<header>-->
                  <!--User Form-->
                <!--</header>-->

                <fieldset>
                  <section>
                    <label class="control-label">Service Category<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="select">
                      <select formControlName="Category" name="category">
                        <option value="" selected disabled>Select Service Category</option>
                        <option *ngFor="let cat of Categories;" value="{{cat._id}}">{{cat.Name}}</option>
                      </select> <i></i> </label>
                  </section>
                  <section>
                    <label class="control-label">Service Type</label>
                    <label class="select">
                      <select formControlName="Type" name="State">
                        <option value="" selected disabled>Select Type<strong style="color: red;"><sup>*</sup></strong></option>
                        <option *ngFor="let type of Types;" value="{{type._id}}">{{type.Name}}</option>
                      </select> <i></i> </label>
                  </section>

                  <section style="margin-top: 15px;">
                    <label class="control-label">Service Name<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input">
                      <input type="text" name="email" placeholder="Service Name"  formControlName="Name" (change)="onChangeService()">
                      <b class="tooltip tooltip-bottom-right">Service Name</b> </label>
                  </section>

                  <section >
                    <label class="control-label">Service Slug<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input">
                      <input type="text" formControlName="Slug" name="Slug" placeholder="Slug Name">
                      <b class="tooltip tooltip-bottom-right">Slug Name</b> </label>
                  </section>

                  <section>
                    <label class="control-label">Service Description<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="textarea">
                      <textarea rows="4" name="message" id="message"  formControlName="Description"></textarea>
                    </label>
                  </section>
                  <section>
                    <label class="control-label">Unit<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="select">
                      <select formControlName="Unit" name="Unit">
                        <option value="" selected disabled>Select Unit</option>
                        <option *ngFor="let unit of Units;" value="{{unit._id}}">{{unit.Name}}</option>
                      </select> <i></i> </label>
                  </section>
                  <section>
                    <label class="control-label">Price in Rupees(Including GST)<strong style="color: red;"><sup>*</sup></strong></label>
                    <label class="input">
                      <input formControlName="Price" OnlyNumber='true' class="form-control input-md" (blur)="setValueNumber(ServiceForm.controls.Price.value , 'price')" type="text" name="size" placeholder="Price">
                    </label>
                  </section>
                  <section>
                      <label class="control-label">Default Commission Amount For Vendors<strong style="color: red;"><sup>*</sup></strong></label>
                      <label class="input">
                        <input formControlName="Commission" OnlyNumber='true' (blur)="setValueNumber(ServiceForm.controls.Commission.value , 'commission')" class="form-control input-md" type="number" min="0" step="any" name="size" placeholder="Commission">
                      </label>
                    </section>
                    <section>
                        <label class="control-label">Per Day Capacity<strong style="color: red;"><sup>*</sup></strong></label>
                        <label class="input">
                          <input formControlName="QTYPerDay" OnlyNumber='true' (blur)="setValueNumber(ServiceForm.controls.Commission.value , 'commission')" class="form-control input-md" type="number" min="0" step="any" name="size" placeholder="Per Day Capacity">
                        </label>
                      </section>
                      <section>
                          <label class="control-label">Minimum Number Of SP Users<strong style="color: red;"><sup>*</sup></strong></label>
                          <label class="input">
                            <input formControlName="NoOfSP" OnlyNumber='true' class="form-control input-md" type="number" min="0" step="any" name="size" placeholder="Minimum Number Of SP Users">
                          </label>
                        </section>
                    <!-- <section>
                        <label class="control-label">Commission Amount For Admin</label>
                        <label class="select">
                            <select formControlName="CommissionType" name="CommissionType">
                                 <option value="" selected disabled>Select Commission Type</option>
                                <option value="percentage">%</option>                                
                            </select>
                          <i></i>
                          <input formControlName="CommissionType" class="form-control input-md" type="text"  placeholder="CommissionType">
                        </label>
                      </section> -->

                  
                </fieldset>

                <footer>
                  <button  (click)="onSubmitForm()" class="btn btn-success">
                    Save
                  </button>
                  <button  (click)="cancel()" class="btn btn-warning">
                    Cancel
                  </button>
                  <!-- <mat-progress-spinner
                                        [diameter]="30"
                                        class="form-spinner"
                                        color="primary"
                                        mode='indeterminate'
                                        value="5">
                  </mat-progress-spinner> -->
                </footer>

                <div class="message">
                  <i class="fa fa-check"></i>
                  <p>
                    Thank you for your registration!
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </article>


    </div>

  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>         
