<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Projects', 'Overview']" icon="file-text-o" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <sa-stats></sa-stats>
  </div>
  <!--
      The ID "widget-grid" will start to initialize all widgets below
      You do not need to use widgets if you dont want to. Simply remove
      the <section></section> and you can use wells or panels instead
      -->
  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!--<div class="alert alert-info">
          <strong>NOTE:</strong> All the data is loaded from a seperate JSON file
        </div>-->
        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget class="well">
          <!-- widget options:
              usage: <div sa-widget id="wid-id-0" [editbutton]="false">
              [colorbutton]="false"
              [editbutton]="false"
              [togglebutton]="false"
              [deletebutton]="false"
              [fullscreenbutton]="false"
              [custombutton]="false"
              [collapsed]="true"
              [sortable]="false"
          -->
          <header>
            <span class="widget-icon"> <i class="fa fa-comments"></i> </span>

            <h2>Widget Title </h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body no-padding" data-sparkline-container="">

              <sa-datatable [options]="options"
                         [detailsFormat]="detailsFormat"
                         tableClass="display projects-table table table-striped table-bordered table-hover"
                         width="100%">
                <thead>
                <tr>
                  <th></th>
                  <th>Projects</th>
                  <th><i
                    class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>
                    EST
                  </th>
                  <th>Contacts</th>
                  <th>Status</th>
                  <th><i class="fa fa-circle txt-color-darken font-xs"></i> Target/
                    <i class="fa fa-circle text-danger font-xs"></i> Actual
                  </th>
                  <th><i
                    class="fa fa-fw fa-calendar text-muted hidden-md hidden-sm hidden-xs"></i>
                    Starts
                  </th>
                  <th>Tracker</th>
                </tr>
                </thead>

              </sa-datatable>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
