<header id="header" class="animated fadeInDown">

  <div id="logo-group" style="margin-left: 46%;">
    <span id="logo" routerLink="/" style="cursor: pointer"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs"></span> <a routerLink="/auth/login" class="btn btn-danger">Login</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

  <div id="content" class="container">

    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <div class="well no-padding">
          <form id="forgot-form" class="smart-form client-form" [formGroup]="forgotForm" (keydown.enter)="forgot($event)">
            <div *ngIf="error" class="alert alert-danger">{{error}}</div>
            <header>
              Forgot Password
            </header>

            <fieldset>

              <section>
                <label class="label">Enter your email address</label>
                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                  <input type="email" name="email" formControlName="UserEmail" data-smart-validate-input="" data-required="" data-email="" data-message-required="Please enter your email address" data-message-email="Please enter a VALID email address">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Please enter email address for password reset</b></label>
              </section>
              <!-- <section>
										<span class="timeline-seperator text-center text-primary"> <span class="font-sm">OR</span>
              </span></section>
              <section>
                <label class="label">Your Username</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="text" name="username">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Enter your username</b> </label>
                <div class="note">
                  <a routerLink="/auth/login">I remembered my password!</a>
                </div>
              </section> -->

            </fieldset>
            <footer>
              <button (click)="forgot($event)" class="btn btn-primary">
                <i class="fa fa-refresh"></i> Reset Password
              </button>
            </footer>
          </form>
        </div>
      </div>
  </div>

</div>

</div>