<aside id="left-panel">

  <!-- User info -->
  <sa-login-info></sa-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu *ngIf="checkMenu">
      <li>
        <a title="Dashboard" routerLink="/dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span
          class="menu-item-parent">{{'Dashboard' | i18n}}</span></a>
      </li>

      <li>
        <a title="Camera" routerLink="/camera"><i class="fa fa-lg fa-fw fa-camera"></i> <span
          class="menu-item-parent">Camera</span></a>
      </li>

      <li *ngFor="let menu of dynamicNavItems">

        <a title="{{menu.title}}" *ngIf="menu.url && menu.url !=''" routerLink="{{menu.url}}"><i class="fa fa-lg fa-fw {{menu.icon ? menu.icon : 'fa-home'}}"></i> <span
                class="menu-item-parent" (click)='collapseMenu()'>{{ menu.name | i18n}}</span></a>

        <a title="{{menu.title}}" *ngIf="!(menu.url && menu.url !='')"><i class="fa fa-lg fa-fw {{menu.icon ? menu.icon : 'fa-home'}}"></i> <span
                class="menu-item-parent">{{ menu.name | i18n}}</span></a>

        <ul *ngIf="menu.children && menu.children.length > 0">
          <li *ngFor="let children of menu.children" routerLinkActive="active">
            <a routerLink="{{children.url}}" title="{{children.title}}"><span
                    class="menu-item-parent" (click)='collapseMenu()'>{{children.name | i18n}}</span></a>
          </li>
        </ul>
      </li>
      <!--<li aside-chat></li>-->
    </ul>

  </nav>

  <!--<sa-minify-menu></sa-minify-menu>-->

</aside>
