<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
    <meta charset="utf-8"> <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width"> <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">  <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title>Profix - Contact US</title> <!-- The title tag shows in email notifications, like Android 4.4. -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
 <!-- Progressive Enhancements : BEGIN -->
<style>
p a{color:#fff;}
</style>
</head>
<body width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #222222;">
	<center style="width: 100%; background-color: #f1f1f1;">    
    <div style="max-width: 600px; margin: 0 auto;" class="email-container">
    	<!-- BEGIN BODY -->
      <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
      	<tr style="background-color: #fff;">
          <td class="bg_white logo" style="padding: 1em 2.5em; text-align: center">
            <h1><a href="#" style="color: #2f1e5e;">Profix Services</a></h1>
          </td>
	      </tr>
	      <tr style="background-color: #2f1e5e; color: #fff;">
		      <td class="bg_white">
		        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
		          <tr>
		            <td class="bg_dark email-section" style="text-align:left;">
		            	<div class="heading-section heading-section-white" style="padding: 35px;">           	  
                          <p style="color: #fff;">Hello {{tlname}},</p>
                          <p style="color: #fff;">You are added as a Team Leader of Team : {{teamname}}</p>						                  
                          <p style="color: #fff;">Regards</p>
                          <p style="color: #fff;">Profix Team</p>
                        </div>
		            </td>
		          </tr><!-- end: tr -->  
		        </table>
		      </td>
		    </tr><!-- end:tr -->
      <!-- 1 Column Text + Button : END -->
      </table>
    </div>
  </center>
</html>