<div id="content">
  <div class="row"  *ngIf="ID == '-1'">
    <sa-big-breadcrumbs [items]="['Cities', 'Add City']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>
  <div class="row"  *ngIf="ID != '-1'">
    <sa-big-breadcrumbs [items]="['Cities', 'Edit City']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    <!--<sa-stats></sa-stats>-->
  </div>

  <sa-widgets-grid>


    <div class="row">
      <article class="col-sm-6 col-sm-offset-3">
        <div sa-widget [editbutton]="false" color="blueDark">
          <header>
            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
            <h2>{{ID == '-1' ? 'Add' : 'Edit'}} City</h2>
          </header>
          <div>
            <div class="widget-body no-padding">
              <form [formGroup]="CityForm" id="smart-form-register" class="smart-form client-form" >
                <!--<header>-->
                  <!--User Form-->
                <!--</header>-->

                <fieldset>
                  <section>
                    <label class="control-label">State</label>
                    <label class="select">
                      <select  formControlName="State" name="State">
                        <option value="" selected disabled>Select State</option>
                        <option  *ngFor="let st of States" value="{{st._id}}">{{st.Name}}</option>
                      </select> <i></i> </label>
                  </section>

                  <section>
                    <label class="control-label">City Name</label>
                    <label class="input">
                      <input type="text"  formControlName="Name"  placeholder="City Name">
                      <b class="tooltip tooltip-bottom-right">City Name</b> </label>
                  </section>

                  <div class="" *ngIf="getData">
                  <section class="col-md-4 mmbox">
                    <label class="control-label">Latitude</label>
                    <label class="input">
                      <input type="text"  formControlName="Latitude"  placeholder="Latitude">
                      <b class="tooltip tooltip-bottom-right">Latitude</b> </label>
                  </section>

                  <section class="col-md-4 mmbox">
                    <label class="control-label">Longitude</label>
                    <label class="input">
                      <input type="text" formControlName="Longitude"  placeholder="Longitude">
                      <b class="tooltip tooltip-bottom-right">Longitude</b> </label>
                  </section>
                  </div>
                  <button  (click)="trackMe()" class="btn btn-success getloc-btn">
                    Get Latitude & Longitude
                  </button>
                </fieldset>
                <footer>
                  <button [disabled]="!getData" (click)="onSubmitForm()" class="btn btn-success">
                    Save
                  </button>
                  <button (click)="cancel()" class="btn btn-warning">
                    Cancel
                  </button>
                  <!-- <mat-progress-spinner 
                                        [diameter]="30"
                                        class="form-spinner"
                                        color="primary"
                                        mode='indeterminate'
                                        value="5">
                  </mat-progress-spinner> -->
                </footer>

                <div class="message">
                  <i class="fa fa-check"></i>
                  <p>
                    Thank you for your registration!
                  </p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </article>


    </div>

  </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>
