<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Permission', 'View']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-5">
                <mat-form-field>
                    <mat-select placeholder="Role" [(ngModel)]="RoleID" required (selectionChange)="getAllMenus()">
                        <mat-option>--</mat-option>
                        <mat-option *ngFor="let item of allRoles" [value]="item._id">
                            {{item.Name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="card card-accent-primary" *ngIf="RoleID">
                    <div class="card-header">
                        <strong>Menu Permissions</strong>
                    </div>
                    <div class="card-body">
                        <ngx-treeview class="checkbox-tree" [items]="items" [itemTemplate]="itemTemplate" (selectedChange)="onSelectedChange($event)">
                        </ngx-treeview>
                    </div>
                    <div class="card-footer text-right">
                        <br>
                        <button id="updateMenuPermission" type="submit"  mat-raised-button color="primary" (click)="onSubmit()"><i class="fa fa-dot-circle-o">&nbsp;</i>Save</button>
                        <!-- <mat-progress-spinner id="roleSelectSpinner" 
                                              [diameter]="30"
                                              class="example-margin"
                                              color="primary"
                                              mode='indeterminate'
                                              value="5">
                        </mat-progress-spinner> -->
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>    