
<div id="content">
  <div class="row" *ngIf="ID == '-1'">
    <sa-big-breadcrumbs [items]="['Customers', 'Add Customer']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

  </div>
  <div class="row" *ngIf="ID !== '-1'">
    <sa-big-breadcrumbs [items]="['Customers', 'Edit Customer']" icon="table"
                        class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>

  </div>
  <sa-widgets-grid >
    <div class="row">
          <article class="col-sm-12">
            <div sa-widget [editbutton]="false" color="blueDark">
              <header>
                <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                <h2>{{ID == '-1' ? 'Add' : 'Edit'}} Customer</h2>
              </header>
              <div>
                <div class="widget-body no-padding">

                  <mat-horizontal-stepper linear="isLinear" #stepper *ngIf="getValue"> <!--style="display: none;"-->
                    <mat-step [stepControl]="BasicInfoForm"><!---->
                      <ng-template matStepLabel>Basic Information</ng-template>
                      <form id="CustomerBasicForm" [formGroup]="BasicInfoForm" novalidate="novalidate" [saUiValidate]="validationCustomerDetailOptions" >
                        <div class="card card-accent-primary">
                          <div class="card-header">
                            <!--<strong>Firm Detail</strong>-->
                          </div>
                          <div class="card-body">

                            <div class="row">

                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label class="label" style="color: black;">First Name<strong style="color: red;"><sup>*</sup></strong></label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="FirstName" class="form-control input-md" type="text" name="FirstName" placeholder="First Name">
                                  </label>

                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Middle Name</label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="MiddleName" class="form-control input-md" type="text" name="MiddleName" placeholder="Middle Name">
                                  </label>

                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Last Name</label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="LastName" class="form-control input-md" name="LastName" type="text" placeholder="Last Name">
                                  </label>

                                </div>
                              </div>
                              <div class="col-sm-12"></div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Email<strong style="color: red;"><sup>*</sup></strong></label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="Email" class="form-control input-md" name="Email" type="email" (change)="checkEmail()" placeholder="Email">
                                  </label>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Mobile No.<strong style="color: red;"><sup>*</sup></strong></label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="Phone" class="form-control input-md" name="Phone" inputmode="numeric" pattern="[0-9]*" digitOnly type="text" placeholder="Mobile">
                                  </label>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="label" style="color: black;">DOB<strong style="color: red;"><sup>*</sup></strong></label>
                                  <div class="input-group">
                                    <mat-form-field>
                                      <input matInput formControlName="dob" [max]='MaxDate' name="DOB"  [matDatepicker]="picker" placeholder="DD/MM/YYYY">
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Alternate Contact Name</label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="AltName" class="form-control input-md" name="AltName" type="text" placeholder="Alternate Contact Number">
                                  </label>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Alternate Contact No.</label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="AltPhone" class="form-control input-md" name="AltPhone" type="number" placeholder="Alternate Contact Number">
                                  </label>
                                </div>
                              </div>
                              <div class="col-sm-12"></div>
                              <div class="col-sm-4 smart-form">
                                <div class="inline-group form-group">
                                  <label class="label" style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">Gender<strong style="color: red;"><sup>*</sup></strong></label>
                                  <label class="radio">
                                    <input type="radio" formControlName="Gender"  name="Gender" value="Male">
                                    <i></i>Male</label>
                                  <label class="radio">
                                    <input type="radio" formControlName="Gender"  name="Gender" value="Female">
                                    <i></i>Female</label>
                                  <label class="radio">
                                    <input type="radio" formControlName="Gender"  name="Gender" value="T">
                                    <i></i>Transgender</label>
                                </div>
                              </div>

                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Avatar</label>
                                  <label class="input" style="width: 100%;">
                                    <input type="file"  (change)="uploadImage($event  , 'Avatar')"  class="btn btn-default">
                                  </label>
                                </div>
                              </div>
                              <div class="clearfix"></div>
                              <hr style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">

                              <div class="col-sm-2">
                                <div class="form-group">
                                  <label class="label" style="color: black">State<strong style="color: red;"><sup>*</sup></strong></label>
                                  <label class="select" style="width: 100%;">
                                    <select formControlName="State" class="form-control input-md" name="State" (change)="getAllCitiesByState(BasicInfoForm.controls.State.value)">
                                      <option value="" selected disabled>Select State</option>
                                      <option *ngFor="let st of States" value="{{st._id}}" >{{st.Name}}</option>
                                    </select>
                                    <i></i>
                                  </label>
                                </div>

                              </div>

                              <div class="col-sm-2">
                                <div class="form-group">
                                  <label class="label" style="color: black;">City<strong style="color: red;"><sup>*</sup></strong></label>
                                  <label class="select" style="width: 100%;">
                                    <select formControlName="City" class="form-control input-md" name="City" (change)="getAllLocalitiesByCity(BasicInfoForm.controls.City.value)">
                                      <option value="" selected disabled>Select City</option>
                                      <option *ngFor="let ct of Cities" value="{{ct._id}}" >{{ct.Name}}</option>
                                    </select>
                                    <i></i>
                                  </label>
                                </div>

                              </div>
                              
                              <div class="col-sm-2">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Locality<strong style="color: red;"><sup>*</sup></strong></label>
                                  <label class="select" style="width: 100%;">
                                    <select formControlName="Locality" name="Locality" class="form-control input-md">
                                      <option value="" selected disabled>Select Locality</option>
                                      <option *ngFor="let lc of Localities" value="{{lc._id}}" >{{lc.Name}}</option>
                                    </select>
                                    <i></i>
                                  </label>
                                </div>

                              </div>

                              <div class="col-sm-1">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Pincode<strong style="color: red;"><sup>*</sup></strong></label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="Pin" type="number" name="Pin" class="form-control input-md" min="0" [maxlength]="pinlength" placeholder="Pincode">
                                    <b class="tooltip tooltip-bottom-right">Pincode</b> </label>

                                </div>
                              </div>
                              <div class="col-sm-12"></div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Address<strong style="color: red;"><sup>*</sup></strong></label>
                                  <label class="input" style="width: 100%;">
                                    <textarea formControlName="Address" name="Address" class="form-control input-md" rows="4" placeholder="Please put your Apartment or Flat or House Number and Street name" ></textarea>
                                    <b class="tooltip tooltip-bottom-right">Address</b> </label>

                                </div>
                              </div>
                              <div class="col-sm-6" >
                                <!--<d3-map [data]="data" style="height: 200px; border: 1px solid gray;"></d3-map>-->
                              </div>

                            </div>

                          </div>
                        </div>
                        <div class="text-right" style="margin-top: 20px;">
                          <button type="submit" id="manager_firmFormNextToKeyPerson"  mat-button  mat-raised-button matStepperNext class="btn btn-primary" color="primary" >Next</button><!--(click)="viewDetail()" [disabled]="BasicInfoForm.invalid"-->
                        </div>
                      </form>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Account Information</ng-template>
                      <form id="CustomerAccountForm" [formGroup]="AccountInfoForm" novalidate="novalidate" [saUiValidate]="validationAccountOptions">
                      <div class="card card-accent-primary">
                        <div class="card-header">
                          <!--<strong>Account Information</strong>-->
                        </div>
                        <div class="card-body">
                            <div class="row">
                              
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Password</label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="Password" type="password" class="form-control input-md" name="Password"  placeholder="Password" id="Password">
                                    <b class="tooltip tooltip-bottom-right">Password</b> </label>
                                </div>
                              </div>
                              <div class="col-sm-3">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Confirm Password</label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="ConfirmPassword" type="password" class="form-control input-md" name="ConfirmPassword"  placeholder="Confirm Password">
                                    <b class="tooltip tooltip-bottom-right">Confirm Password</b> </label>
                                </div>
                              </div>
                            </div>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 text-left">
                          <button id="manager_FirmBackToFirm" mat-button matStepperPrevious mat-raised-button class="btn" style="background-color: black;color: white;">Back</button>
                        </div>
                        <div class="col-xs-6 text-right">
                          <button type="submit" mat-button mat-raised-button color="primary" class="btn btn-primary" (click)="onAccountSubmit()">Next</button><!--[disabled]="AccountInfoForm.invalid || (AccountInfoForm.controls.Password.value != AccountInfoForm.controls.ConfirmPassword.value)"-->
                        </div>
                      </div>
                      </form>
                    </mat-step>
                    <!--<mat-step>
                      <ng-template matStepLabel>Other Information</ng-template>
                      <div class="card card-accent-primary">
                        <div class="card-header">
                          <strong>Other Information</strong>
                        </div>
                        <div class="card-body">
                          <div class="row">
                            <form [formGroup]="DocumentInfoForm">
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="label" style="color: black;">ID Type</label>
                                  <label class="input" style="width: 100%;">
                                    <select formControlName="IDType" class="form-control input-md">
                                      <option value="" selected disabled>Select ID Type</option>
                                      <option value="PanCard">PanCard</option>
                                      <option value="Aadhar">Aadhar</option>
                                      <option value="Driving Licence">Driving Licence</option>
                                      <option value="Passport">Passport</option>
                                    </select>
                                  </label>
                                </div>
                              </div>

                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="label" style="color: black;">ID No.</label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="IDNo" class="form-control input-md" type="text" placeholder="ID Number">
                                  </label>
                                </div>
                              </div>

                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="label" style="color: black;">ID Issued by</label>
                                  <label class="input" style="width: 100%;">
                                    <input formControlName="IDIssuedBy" class="form-control input-md" type="text" placeholder="ID Issued by">
                                  </label>
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  &lt;!&ndash;<label class="label" style="color: black;">ID Expiry Date</label>&ndash;&gt;
                                  &lt;!&ndash;<label class="input" style="width: 100%;">&ndash;&gt;
                                  &lt;!&ndash;<input formControlName="IDExpiryDate" type="text" placeholder="Select a date" class="form-control datepicker"&ndash;&gt;
                                                     &lt;!&ndash;[saUiDatepicker]="{&ndash;&gt;
                                  &lt;!&ndash;dateFormat: 'dd/mm/yy'&ndash;&gt;
                                  &lt;!&ndash;}" >&ndash;&gt;

                                  <mat-form-field style="width: 100%;">
                                    <input matInput formControlName="IDExpiryDate" [matDatepicker]="picker" placeholder="ID Expiry Date">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                                  &lt;!&ndash;</label>&ndash;&gt;
                                </div>
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Uploade ID Document</label>
                                  <label class="input" style="width: 100%;">
                                    <input  type="file" class="btn btn-default">&lt;!&ndash; (change)="uploadImage($event  , 'Document')"&ndash;&gt;
                                  </label>
                                </div>
                              </div>
                              <div class="col-sm-6">
                                <div class="form-group">
                                  <label class="toggle"><input formControlName="IsFeesPaid" type="checkbox" name="checkbox-toggle"><i data-swchon-text="Yes" data-swchoff-text="No"></i>Is Fees Paid?</label>
                                </div>
                              </div>
                              &lt;!&ndash;<div class="col-sm-6">
                              <div class="form-group">
                                <label class="input" style="width: 100%;">
                                  <label class="toggle"><input formControlName="IDType" type="checkbox" name="checkbox-toggle"><i data-swchon-text="Yes" data-swchoff-text="No"></i>Is Available</label>
                                </label>
                              </div>
                            </div>
                              <div class="col-sm-12">
                                <div class="form-group">
                                  <label class="label" style="color: black;">Remarks</label>
                                  <label class="input" style="width: 100%;">
                                    <textarea formControlName="IDType" class="form-control input-md" rows="3" placeholder=""></textarea>
                                  </label>
                                </div>
                              </div>&ndash;&gt;
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6 text-left">
                          <button id="manager_FirmBackToKeyperson" mat-button matStepperPrevious mat-raised-button class="btn" style="background-color: black;color: white;">Back</button>
                        </div>
                        <div class="col-sm-6 text-right">
                          <button id="manager_nextToFinish" mat-button matStepperNext mat-raised-button color="primary" class="btn btn-primary">Next</button>
                        </div>
                      </div>
                    </mat-step>-->
                    <mat-step>
                      <ng-template matStepLabel>Success</ng-template>
                      <div class="card card-accent-primary">
                        <h3 class="text-center">Please confirm that you have checked all values, and click on Save button to save all information to system.</h3>
                      </div>
                      <div class="card card-accent-primary" style="display: none;">
                        <div class="card-header">
                          <strong>Full Detail</strong>
                        </div>
                        <div class="card-body" id="print-section" id="manager-fullFormDetails">
                          <h3>Basic Information</h3>
                          <div class="row">
                            <div class="col-sm-6">
                              <table class="table">
                                <tbody>
                                <tr>
                                  <td>First Name</td><td>{{BasicInfoForm.controls.FirstName.value}}</td>
                                </tr>
                                <tr>
                                <tr>
                                  <td>Middle Name</td><td>{{BasicInfoForm.controls.MiddleName.value}}</td>
                                </tr>
                                <tr>
                                <tr>
                                  <td>Last Name</td><td>{{BasicInfoForm.controls.LastName.value}}</td>
                                </tr>
                                <tr>
                                  <td>Gender</td><td>{{BasicInfoForm.controls.Gender.value}}</td>
                                </tr>
                                <tr>
                                  <td>Mobile</td><td>{{BasicInfoForm.controls.Phone.value}}</td>
                                </tr>
                                <tr>
                                  <td>Alt. Mobile</td><td>{{BasicInfoForm.controls.AltPhone.value}}</td>
                                </tr>
                                <tr>
                                  <td>Email</td><td>{{BasicInfoForm.controls.Email.value}}</td>
                                </tr>
                                <tr>
                                  <td>DOB</td><td>{{BasicInfoForm.controls.dob.value}}</td>
                                </tr>
                                <tr>
                                  <td>Address</td><td>{{BasicInfoForm.controls.Address.value}}</td>
                                </tr>
                                <tr>
                                  <td>Locality</td><td>{{getName(BasicInfoForm.controls.Locality.value , 'locality')}}</td>
                                </tr>
                                <tr>
                                  <td>City</td><td>{{getName(BasicInfoForm.controls.City.value , 'city')}}</td>
                                </tr>
                                <tr>
                                  <td>State</td><td>{{getName(BasicInfoForm.controls.State.value , 'state')}}</td>
                                </tr>
                                <tr>
                                  <td>Pincode</td><td>{{BasicInfoForm.controls.Pin.value}}</td>
                                </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-sm-6 text-left">
                          <button  mat-button matStepperPrevious mat-raised-button class="btn" style="background-color: black;color: white;">Back</button>
                        </div>
                        <div class="col-xs-6 col-sm-6 text-right">
                          <button id="managerFirmFormFinish" mat-button mat-raised-button color="primary" class="btn btn-success" (click)="save()">Save</button>
                        </div>
                      </div>
                    </mat-step>
                  </mat-horizontal-stepper>
                </div>
              </div>
            </div>
          </article>
    </div>
          <div class="row">

          </div>

      </sa-widgets-grid>
    </div>
    <ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>