
<div id="content" *ngIf="userTeamDetail && userTeamDetail.RequestStatus == '3'">
    <div class="row" *ngIf="ID != '1'">
        <sa-big-breadcrumbs [items]="['TeamCompany', userTeamDetail ? userTeamDetail.IsTeamCompany : 'Team']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-7"></sa-big-breadcrumbs>

    </div>
    <div class="row" *ngIf="ID == '1'">
        <sa-big-breadcrumbs [items]="['TeamCompany', userTeamDetail ? userTeamDetail.IsTeamCompany : 'Team']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-7"></sa-big-breadcrumbs>

    </div>
    <sa-widgets-grid >
        <div class="row" style="margin:0; padding:0;">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{userTeamDetail ? 'My ' + userTeamDetail.IsTeamCompany : 'My Team'}} </h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <form id="TeamCompanyBasicForm" [formGroup]="TeamCompanyBasicInfoForm" [saUiValidate]="validationOptions" novalidate="novalidate">
                                <div class="card card-accent-primary">
                                    <div class="card-header">
                                        <!--<strong>Firm Detail</strong>-->
                                    </div>
                                    <div class="card-body">

                                        <div class="row" style="margin:0; padding:0;">

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="label" style="color: black;">{{userRequestDetail ? userRequestDetail.type : 'Team'}} Name</label>
                                                    <label class="input" style="width: 100%;">
                                                        <input *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="CompanyName" class="form-control input-md" type="text" name="CompanyName" placeholder="Company Name">
                                                        <input *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="CompanyName" class="form-control input-md" type="text" name="CompanyName" placeholder="Company Name">
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="col-sm-4 smart-form">
                                                <div class="inline-group form-group" style="display: none;">
                                                    <label class="label" style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">Is Team/Company</label>
                                                    <label class="radio">
                                                        <input disabled type="radio" formControlName="IsTeamCompany"  name="IsTeamCompany" value="Team">
                                                        <i></i>Team</label>
                                                    <label class="radio">
                                                        <input disabled type="radio" formControlName="IsTeamCompany"  name="IsTeamCompany" value="Company">
                                                        <i></i>Company</label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12"></div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="label" style="color: black;">GSTIN No.</label>
                                                    <label class="input" style="width: 100%;">
                                                        <input *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="GSTIN" class="form-control input-md" name="GSTIN" type="text" placeholder="GSTIN No">
                                                        <input *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="GSTIN" class="form-control input-md" name="GSTIN" type="text" placeholder="GSTIN No">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="label" style="color: black;">TAN No</label>
                                                    <label class="input" style="width: 100%;">
                                                        <input *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="TAN" class="form-control input-md" name="TAN" type="text" placeholder="TAN No">
                                                        <input *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="TAN" class="form-control input-md" name="TAN" type="text" placeholder="TAN No">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="label" style="color: black;">Registration No.</label>
                                                    <label class="input" style="width: 100%;">
                                                        <input *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="Registration" class="form-control input-md" name="Registration" type="text" placeholder="Registration No.">
                                                        <input *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="Registration" class="form-control input-md" name="Registration" type="text" placeholder="Registration No.">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-12"></div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="label" style="color: black;">Email</label>
                                                    <label class="input" style="width: 100%;">
                                                        <input *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="Email" class="form-control input-md" name="Email" type="email" placeholder="Email">
                                                        <input *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="Email" class="form-control input-md" name="Email" type="email" placeholder="Email">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="label" style="color: black;">Mobile No.</label>
                                                    <label class="input" style="width: 100%;">
                                                        <input *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="Phone" class="form-control input-md" name="Phone" type="number" placeholder="Mobile">
                                                        <input *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="Phone" class="form-control input-md" name="Phone" type="number" placeholder="Mobile">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="label" style="color: black;">Alternate Contact No.</label>
                                                    <label class="input" style="width: 100%;">
                                                        <input *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="AltPhone" class="form-control input-md" name="AltPhone" type="number" placeholder="Alternate Contact Number">
                                                        <input *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="AltPhone" class="form-control input-md" name="AltPhone" type="number" placeholder="Alternate Contact Number">
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <hr style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="label" style="color: black">State</label>
                                                    <label class="select" style="width: 100%;">
                                                        <select *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="State" class="form-control input-md" name="State" (change)="getAllCitiesByState(TeamCompanyBasicInfoForm.controls.State.value)">
                                                            <option value="" selected disabled>Select State</option>
                                                            <option *ngFor="let st of States" value="{{st._id}}" >{{st.Name}}</option>
                                                        </select>
                                                        <select *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="State" class="form-control input-md" name="State" (change)="getAllCitiesByState(TeamCompanyBasicInfoForm.controls.State.value)">
                                                            <option value="" selected disabled>Select State</option>
                                                            <option *ngFor="let st of States" value="{{st._id}}" >{{st.Name}}</option>
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="label" style="color: black;">City</label>
                                                    <label class="select" style="width: 100%;">
                                                        <select *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="City" class="form-control input-md" name="City" (change)="getAllLocalitiesByCity(TeamCompanyBasicInfoForm.controls.City.value)">
                                                            <option value="" selected disabled>Select City</option>
                                                            <option *ngFor="let ct of Cities" value="{{ct._id}}" >{{ct.Name}}</option>
                                                        </select>
                                                        <select *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="City" class="form-control input-md" name="City" (change)="getAllLocalitiesByCity(TeamCompanyBasicInfoForm.controls.City.value)">
                                                            <option value="" selected disabled>Select City</option>
                                                            <option *ngFor="let ct of Cities" value="{{ct._id}}" >{{ct.Name}}</option>
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </div>

                                            </div>
                                            <div class="col-sm-12"></div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="label" style="color: black;">Locality</label>
                                                    <label class="select" style="width: 100%;">
                                                        <select *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="Locality" name="Locality" class="form-control input-md">
                                                            <option value="" selected disabled>Select Locality</option>
                                                            <option *ngFor="let lc of Localities" value="{{lc._id}}" >{{lc.Name}}</option>
                                                        </select>
                                                        <select *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="Locality" name="Locality" class="form-control input-md">
                                                            <option value="" selected disabled>Select Locality</option>
                                                            <option *ngFor="let lc of Localities" value="{{lc._id}}" >{{lc.Name}}</option>
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </div>

                                            </div>

                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <label class="label" style="color: black;">Pin</label>
                                                    <label class="input" style="width: 100%;">
                                                        <input *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="Pin" type="number" name="Pin" class="form-control input-md" min="0" [maxlength]="pinlength" placeholder="Pin">
                                                        <input *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="Pin" type="number" name="Pin" class="form-control input-md" min="0" [maxlength]="pinlength" placeholder="Pin">
                                                        <b class="tooltip tooltip-bottom-right">Pin</b> </label>

                                                </div>
                                            </div>
                                            <div class="col-sm-12"></div>
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <label class="label" style="color: black;">Address</label>
                                                    <label class="input" style="width: 100%;">
                                                        <textarea *ngIf="!(selectedCompany && selectedCompany.RequestStatus == '3')" formControlName="Address" name="Address" class="form-control input-md" rows="4" placeholder="Please put your Apartment or Flat or House Number and Street name." ></textarea>
                                                        <textarea *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'" disabled formControlName="Address" name="Address" class="form-control input-md" rows="4" placeholder="Please put your Apartment or Flat or House Number and Street name." ></textarea>
                                                        <b class="tooltip tooltip-bottom-right">Address</b> </label>

                                                </div>
                                            </div>
                                            <div class="col-sm-6" >

                                            </div>

                                        </div>

                                    </div>
                                </div>
                                <div class="text-right" style="margin: 20px;">
                                    <button *ngIf="!selectedCompany" type="submit"  mat-button  mat-raised-button class="btn btn-primary" color="primary" [disabled]="TeamCompanyBasicInfoForm.invalid" (click)="createNew()" >Submit</button><!--(click)="viewDetail()" -->
                                    <!--<button *ngIf="selectedCompany && selectedCompany.RequestStatus == '3' && (!isDisposalRequestData || isDisposalRequestData.Status == '2')" type="submit"  mat-button  mat-raised-button class="btn btn-warning" color="warn" (click)="requestForDisposal()">Request for Disposal</button>
                                    <button *ngIf="selectedCompany && selectedCompany.RequestStatus == '3' && isDisposalRequestData && isDisposalRequestData.Status == '1'" type="submit" class="btn btn-danger" disabled>Pending Disposal Request</button>
                                    <span *ngIf="selectedCompany && selectedCompany.RequestStatus == '1'" class="text-danger">Waiting for Approval</span>-->
                                </div>
                            </form>
                            <div class="" style="margin-bottom: 20px;" *ngIf="selectedCompany && selectedCompany.RequestStatus == '3'">
                                <hr style="display: block; border: 1px solid gray;margin: 10px 0;background: gray;">
                                <h3 style="margin-left: 15px;">Send Invitation to user</h3>
                                <div class="col-sm-4">
                                    <input type="text" [(ngModel)]="TeamMember" class="form-control" name="TeamMember">
                                    <!--<select [(ngModel)]="TeamMember" class="form-control">-->
                                        <!--<option value="">-Please Select-</option>-->
                                        <!--<option *ngFor="let user of allUsers" value="{{user._id}}">{{user.FirstName + " " + user.MiddleName +" " + user.LastName}}</option>-->
                                    <!--</select>-->
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary" [disabled]="!TeamMember" (click)="sendTeamMemberInvitation()">Send Invitation</button>
                                </div>
                                <div class="clearfix"></div>
                                <div class="table-user unit-container" style="padding: 1px;">
                                    <div class="unit-loading-shade"
                                         *ngIf="isLoadingResults || isRateLimitReached">
                                        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                                        <div class="unit-rate-limit-reached" *ngIf="isRateLimitReached">
                                            API rate limit has been reached. It will be reset in one minute.
                                        </div>
                                    </div>

                                    <div class="unit-table-container" style="margin-top: 20px;">
                                        <table mat-table [dataSource]="dataSource" matSort style="width:100%;">

                                            <!-- ID Column -->
                                            <ng-container matColumnDef="_id">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                                                <td mat-cell *matCellDef="let row"> {{row._id}} </td>
                                            </ng-container>

                                            <!-- SN Column -->
                                            <ng-container matColumnDef="SN">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="width: 80px;"> S. No </th>
                                                <td mat-cell *matCellDef="let row ; let i = index;"> {{i+1}} </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="UserName">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> User Name </th>
                                                <td mat-cell *matCellDef="let row"> {{row.UserID.FirstName + ' ' + row.UserID.LastName}}</td>
                                            </ng-container>

                                            <!-- RequestDate Column -->
                                            <ng-container matColumnDef="RequestDate">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Request Date </th>
                                                <td mat-cell *matCellDef="let row"> {{row.RequestTime | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                                            </ng-container>

                                            <!-- ActionDate Column -->
                                            <ng-container matColumnDef="ActionDate">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Last Action </th>
                                                <td mat-cell *matCellDef="let row"> {{row.ActionTime | date: 'dd/MM/yyyy hh:mm:ss a'}} </td>
                                            </ng-container>

                                            <!-- Status Column -->
                                            <ng-container matColumnDef="Status">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125"> Status </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <span *ngIf="row.Status == '1'" class="text-warning">Pending</span>
                                                    <span *ngIf="row.Status == '2'" class="text-danger">Rejected</span>
                                                    <span *ngIf="row.Status == '3'" class="text-success">Accepted</span>
                                                    <span *ngIf="row.Status == '4'" class="text-danger">Left</span>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                        </table>
                                    </div>
                                    <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4" >No record found.</div>
                                    <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="row">

        </div>

    </sa-widgets-grid>
</div>

<div *ngIf="userRequestDetail && userRequestDetail.Status == '1'">
    <h4 class="text-danger text-center" style="margin-top: 20px;">Your request is pending with the administrator</h4>
</div>

<div *ngIf="userRequestDetail && userRequestDetail.Status == '2'">
    <h4 class="text-center" style="margin-top: 20px;"> Click here to send request for create Team / Company <a routerLink="/profiles/createnew/1">click here..</a></h4>
</div>

<div *ngIf="!userRequestDetail">
    <h4 class="text-center" style="margin-top: 20px;"> Click here to send request for create Team / Company <a routerLink="/profiles/createnew/1">click here..</a></h4>
</div>
<ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>  