<div id="content">
 
  <sa-widgets-grid>
    <div class="row2" style="text-align: center;">
        <button class="btn" (click)="imagepic()">Upload from Gallery</button> 
        <br/><br/>
        <div>
          <img src="" style="width: 100%" id="myImage" />
        </div>
        <br/><br/>
        <button class="btn" (click)="imagepic2()">Upload from Camera</button> 
        <br/><br/>
        <div>
          <img src="" style="width: 100%" id="myImage2" />
        </div>
        <br/><br/>
        <button class="btn" (click)="imagepic3()">Multiple Image Capture</button> 
        <br/><br/>
        <div>
          <img src="" style="width: 24%; margin-right:1%; margin-bottom:1%; display: inline-block;" id="Image0" />
          <img src="" style="width: 24%; margin-right:1%; margin-bottom:1%; display: inline-block;" id="Image1" />
          <img src="" style="width: 24%; margin-right:1%; margin-bottom:1%; display: inline-block;" id="Image2" />
          <img src="" style="width: 24%; display: inline-block; margin-bottom:1%;" id="Image3" />
          <img src="" style="width: 24%; margin-right:1%; display: inline-block; margin-bottom:1%;" id="Image4" />
        </div>
        <br/><br/>
        <button class="btn" (click)="imagepic4()">Multiple Image Picker</button> 
        <br/><br/>
        <div>
          <img name="imgView" src="" style="width: 24%; margin-right:1%; margin-bottom:1%; display: inline-block;" id="Image10" />
          <img name="imgView" src="" style="width: 24%; margin-right:1%; margin-bottom:1%; display: inline-block;" id="Image11" />
          <img name="imgView" src="" style="width: 24%; margin-right:1%; margin-bottom:1%; display: inline-block;" id="Image12" />
          <img name="imgView" src="" style="width: 24%; display: inline-block; margin-bottom:1%;" id="Image3" />
          <img name="imgView" src="" style="width: 24%; margin-right:1%; margin-bottom:1%; display: inline-block;" id="Image14" />
        </div>
    </div>

  </sa-widgets-grid>
</div>
