<div id="content">
    <div class="row" *ngIf="ID == '-1'">
      <sa-big-breadcrumbs [items]="['Page', 'Add Page']" icon="table"
                          class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
      <!--<sa-stats></sa-stats>-->
    </div>
    <div class="row" *ngIf="ID != '-1'">
      <sa-big-breadcrumbs [items]="['Page', 'Edit Page']" icon="table"
                          class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
      <!--<sa-stats></sa-stats>-->
    </div>
  
    <sa-widgets-grid>
  
  
      <div class="row">
        <article class="col-sm-12" *ngIf="getData">
          <div sa-widget [editbutton]="false" color="blueDark">
            <header>
              <span class="widget-icon"> <i class="fa fa-table"></i> </span>
              <h2>{{ID == '-1' ? 'Add' : 'Edit'}} Page</h2>
            </header>
            <div>
              <div class="widget-body no-padding">
                <form [formGroup]="PageForm" id="smart-form-register" class="smart-form client-form" novalidate="novalidate" [saUiValidate]="validationPageOptions">
                    <fieldset>  
                    <section class="col-md-3">
                      <label class="control-label">Page Title<strong class="" style="color: red;"><sup class="">*</sup></strong></label>
                      <label class="input">
                        <input formControlName="Title" class="form-control input-md" type="text" name="Title" placeholder="Page Title" (change)="onChangePageTitle()">
                        <b class="tooltip tooltip-bottom-right">Page Name</b> </label>
                    </section>                               
                    <div class="clearfix"></div>
                    <section class="col-md-3" *ngIf="ID == '-1'">
                      <label class="control-label">Page Slug(URL)</label>
                      <label class="input">
                        <input formControlName="Slug" class="form-control input-md" type="text" name="Slug" placeholder="Slug" [attr.disabled]="true">
                        <b class="tooltip tooltip-bottom-right">Slug</b> </label>
                    </section>
                    <div class="clearfix"></div>

                      <section class="col-md-6">
                        <label class="control-label">SEO Title</label>
                        <label class="input">
                          <input type="text" formControlName="SeoTitle" name="seotitle" placeholder="SEO Title">
                          <b class="tooltip tooltip-bottom-right">SEO Title</b> </label>
                      </section>  
                      <div class="clearfix"></div>
                      <section  class="col-md-6">
                        <label class="control-label">SEO Keywords</label>
                        <label class="input">
                          <input type="text" formControlName="SeoKeyword" name="seokeyword" placeholder="SEO keyword">
                          <b class="tooltip tooltip-bottom-right">SEO Keywords</b> </label>
                      </section>  
                    <div class="clearfix"></div>
                    <div class="col-sm-12">
                      <section class="col-md-6">
                        <label class="control-label">SEO Description</label>
                        <label class="input">
                          <textarea style="width:98%;padding:9px;" rows="3" formControlName="SeoDescription" name="seodescription" placeholder="SEO Description"></textarea>
                          <b class="tooltip tooltip-bottom-right">SEO Description</b> </label>
                      </section>  
                      <div class="clearfix"></div>
                      <section class="col-md-12">
                        <label class="file" style="width: 100%">
                          <div class="form-group">
                            <label class="col-md-3 control-label">Header Image</label>
                            <div class="col-md-5">
                              <input type="file" accept=".jpg,.jpeg,.png" (change)="uploadImage($event  , 'Header')" id="exampleInputFile1" name="exampleInputFile1">
                            </div>
                            <div class="col-md-4 pageUploadImage" *ngIf="ID !== '-1'"><img src="{{headerImageUrl}}"></div><!--{{PageForm.controls.HeaderImage.value}}-->
                          </div>
                          <b class="tooltip tooltip-bottom-right">Header Image</b> </label>
                      </section>
                    </div>
                    <div class="clearfix"></div>
                      <div class="col-sm-12">
                        <label class="control-label">Page Contents<strong class="" style="color: red;"><sup class="">*</sup></strong></label>
                        <div id="summernote" (change)="descriptionss()" [summernote]="{height: 280}">
        
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div class="col-sm-12">
                        <button  (click)="onSubmitForm()" class="btn btn-success pull-right" style="margin-left: 10px;padding: 8px;margin-top: 20px;margin-bottom: 10px;">
                          Save
                        </button>
                        <button  (click)="cancel()" class="btn btn-warning pull-right" style="margin-left: 10px;padding: 8px;margin-top: 20px;margin-bottom: 10px;">
                          Cancel
                        </button>
                        <button  (click)="onSubmitDraft()" class="btn btn-primary pull-right" style="margin-left: 10px;padding: 8px;margin-top: 20px;margin-bottom: 10px;">
                          Draft
                        </button>
                        <!-- <mat-progress-spinner 
                                              [diameter]="30"
                                              class="form-spinner"
                                              color="primary"
                                              mode='indeterminate'
                                              value="5">
                        </mat-progress-spinner>  -->
                      </div> 
                 </fieldset>
                </form>
                
              </div>
            </div>
          </div>
  
  
        </article>
  
  
      </div>
  
    </sa-widgets-grid>
  </div>
  <ng4-loading-spinner [threshold]="1" [timeout]="90000" [loadingText]="'Please wait...'"> </ng4-loading-spinner>    